page-speeddating {
    #videos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #DDD;
      }
    
    .other {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 180px;
    }

    #publisher {
    float:right;
    width: 100px !important;
    height: 133px !important;
    right: 0;
    bottom: 0;
    border-radius: 3px;
    }   

    .msg-input{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    }

    .msg-box{
    padding:0 3px;
    width: calc(100% - 100px);
    float:left;
    height: 133px;
    overflow: hidden;
    }

    .msg-scroller{
      height: 133px;
      overflow: auto;
    }

    .msg-box > .msg-scroller > .msg-panel{
    padding: 2px 10px;
    margin: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 4px;
    }
    
    .msg-box > .msg-scroller > .msg-panel > .msg-text{
    font-size:11px;
    }

    .msg-box > .msg-scroller > .msg-panel > .username-text{
    font-size:12px;
    text-transform: capitalize;
    }

    .msg-box > .msg-scroller > .msg-panel:nth-child(1){
    margin-top:0;
    }

    #subscriber {
      height: 100%; 
    }

    .msg-scroller::-webkit-scrollbar { 
        display: none; 
        }
    .ad-area{
    background:black;
    height: auto;
    max-height: 50px;
    width: 90%;
    margin: auto;
    position: absolute;
    right:0;
    left: 0;
    top: calc(100% - 260px);
    margin-bottom:10px;

    }    
    span.close-ads {
    position: absolute;
    right: -6px;
    color: white;
    top: -8px;
    }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.78); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.cross-zindex{
    z-index: 2;
}

.btn-class{
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 25px;
}

.send-Msg{
    z-index: 2;
}

.imgadv{
    width: 100%; 
    height: 70px;
}

.show-tabbar{
    display:none !important;
}

}
