.login-page .card-login,
.lock-page .card-profile {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}


.login-page>.content,
.lock-page>.content {
    padding-top: 18vh;
}

.login-page .card-login {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    padding-bottom: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.login-page .card-login.card-hidden {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0);
    -moz-transform: translate3d(0, -60px, 0);
    -o-transform: translate3d(0, -60px, 0);
    -ms-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
}

.login-page .card-login .btn-wd {
    min-width: 180px;
}

.login-page .card-login .card-header {
    margin-top: -40px;
    margin-bottom: 20px;
}

.login-page .card-login .card-header .title {
    margin-top: 10px;
}
