page-cart {

	.cartDiv{
		text-align: center;
	    background: rgba(128, 128, 128, 0.28);
	    background: #dedede;
	    font-size: 20px;
	    padding: 10%;
	    color: #2d2d2d;
	}

	.customCheckoutMessage{
	    margin: 10px 5px;
	    background: #32db64;
	    color: white;
	    border-radius: 5px;
	    padding: 2%;
	}

	.chillyImage{
		width  : 15px !important;
	}

	.quantity{
		border-top: 1px solid #dedede;
	    border-bottom: 1px solid #dedede;
	    text-align: center;
	    font-size : 14.5px;
	}

	.qtyButton{
	    font-weight: 600;
	    font-size: 20px;
	}

	.taxPercent{
		font-size : 10px;
	}

	.itemInstruction{
	    background: #e0e0e0;
	    font-size: 12px;
	    font-weight: 500;
	    border-radius: 5%;
	}

	.cartPage{
		background : #e0e0e0;
	}

	.cartPage ion-card{
		box-shadow : none !important;
	}

	.checkout{
		margin: 10% 0 10% 0 !important;
	}
	
	.cartItemPrice{
		font-size : 12px;
	}

	.delItem{
	    color: rgba(128, 128, 128, 0.68);
	}

	ion-item .item-inner{
		border-bottom : none !important;
	}

	ion-input{
		background : white !important;
	}

	ion-input .text-input{
		margin : 0 !important;
		padding : 3% !important;
	}

	.couponCode{
		margin: 5% 0;
	}

	.comment{
		background : transparent !important;
	}

	.siText{
		font-size: 12px !important;
	}

	.borderBottomAddon{
	    border-bottom: 1px solid #e0dfdf;
	}



	  /* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .card-img{
	height: 100px;
	width: 200px;
} 

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
   
.card-img{
	height: 100px;
	width: 200px;
}
ion-card-content.card-content.card-content-ios {
    text-align: center;
}
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.card-img{
		height: 50px;
		width: 200px;
	}
}

}
