page-menu {
.card-background-page  ion-list {
    position: relative;
    text-align: center;
    height: 20%;
    margin: 3%;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    background-size: 100% 100%;
  }

.card-background-page  ion-list:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, black,black);
    opacity: .6; 
  }

.card-background-page  .card-title {
    top: 36%;
    font-size: 24px;
    width: 100%;
    color : white;

  }
  
#cart-badge {
    background-color: red;
    position: absolute;
    top: -12px;
    right: 0;
    border-radius: 100%;
}

}
