<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="colorWhite">
            <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <ion-title *ngIf = "restaurants">{{restaurants.name}}</ion-title>
        <button ion-button class="colorWhite bgTransparent" float-right  (click)="goToCart()">
            <ion-icon name="cart" ios="ios-cart" md="md-cart"></ion-icon>
            <span class="numberClass">{{tempCart.length}}</span>
        </button>
    </ion-navbar>
</ion-header>

<ion-content  *ngIf = "menus" class="card-background-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-fab right bottom>
        <button ion-fab><ion-icon name="arrow-dropup"></ion-icon></button>
        <ion-fab-list side="top">
            <button ion-fab (click)="goToCart()"><ion-icon name="cart" ios="ios-cart" md="md-cart"></ion-icon><span class="numberClass">{{tempCart.length}}</span></button>
            <button *ngIf = "currentCustomer" ion-fab (click)="goToMyOrder()"><ion-icon name="book" ios="ios-book" md="md-book"></ion-icon></button>
            <button *ngIf = "currentCustomer" ion-fab (click)="logout()"><ion-icon name="log-out" ios="ios-log-out" md="md-log-out"></ion-icon></button>
            <button *ngIf = "!currentCustomer" ion-fab (click)="login()"><ion-icon name="log-in" ios="ios-log-in" md="md-log-in"></ion-icon></button>
        </ion-fab-list>
  </ion-fab> -->

    <ion-row>
        <ion-col col-12 *ngFor = "let menu of menus" (click)="showItems(menu)" [ngStyle]="{'background-image': 'url(' + menuImage(menu.image) + ')'}">
            <div class="card-title positionAbsolute fontWeight500">{{menu.name}}</div>
        </ion-col>
    </ion-row>
</ion-content>