page-menu {
.card-background-page  ion-list {
    position: relative;
    text-align: center;
    height: 28%;
    margin-bottom: 1%;
    background-size: 100% 100%;
  }

.card-background-page  ion-list:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, black,black);
    opacity: .6; 
  }

.card-background-page  .card-title {
    position: absolute;
    top: 36%;
    font-size: 24px;
    width: 100%;
    color : white;

  }

}
