<style>
    ng-select > div {
        border: 0px !important;
    }
    ng-select > div > div.single > div.placeholder{
        color: #fff !important;
    }
    ng-select > div > div.single > div.value, ng-select > div > div.single > div.placeholder {
        flex: 1;
        color: #fff;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-dark  fixed-top custom-navbar" id="main-navbar2">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="./../../../assets/frontend/img/Bitcoin.png" width="30" height="30" class="d-inline-block align-top mt-1" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Apps"><i class="fa fa-android" aria-hidden="true"></i> Apps</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Markets"><i class="fa fa-bar-chart" aria-hidden="true"></i> Markets</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Alerts"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Alerts</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Account"><i class="fa fa-user" aria-hidden="true"></i> Accounts</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Balance"><i class="fa fa-balance-scale" aria-hidden="true"></i> Balnace</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="./" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Orders"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i> Help
                    </a>
                    <div class="dropdown-menu" aria-labelledby="Preview">
                        <a class="dropdown-item" href="#"><i class="fa fa-database"></i>&nbsp;&nbsp;Knowledgebase</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-ticket"></i>&nbsp;&nbsp;Submit Ticket</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-bug"></i>&nbsp;&nbsp;Bug Report</a>
                    </div>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" (click)="onLogoutClick()"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top custom-navbar2 fixed-top2">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive1" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive1">
            <ul class="navbar-nav nav-fill w-100 align-items-start">
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {{chooseMarket}}
                    </a>
                    <div class="dropdown-menu  bg-dark px-15" aria-labelledby="Preview">
                        <table class="table table-striped text-white custom-table">
                            <tbody>
                                <tr *ngFor="let market of markets">
                                    <td><a (click)='marketSelected(market)'>{{market}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        {{chooseCurrency}}
                    </a>
                    <div class="dropdown-menu  bg-dark" aria-labelledby="Preview" style="width:300px;">
                        <ul class="nav nav-tabs currencyChnage-tabs" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link " data-toggle="tab" href="#BTC">BTC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#ETH">ETH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#USDT">USDT</a>
                            </li>
                            <li>
                                 <input type="text" [(ngModel)]="term" placeholder="serach " class="currency-search-field">
                            </li>
                        </ul>                    
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="BTC" class="container tab-pane  active currency-dropdown-area ">
                                <table class="table table-striped text-white custom-table">
                                    <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let btc of btcList | filter:term">
                                            <td><a (click)='currencySelected(btc.MarketName)'>{{btc.MarketName}}</a></td>
                                            <td><a>{{btc.Last}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="ETH" class="container tab-pane  currency-dropdown-area  ">
                                <table class="table table-striped text-white custom-table">
                                    <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let eth of ethList |filter:term">
                                            <td><a (click)='currencySelected(eth.MarketName)'>{{eth.MarketName}}</a></td>
                                            <td><a (click)='currencySelected(eth.MarketName)'>{{eth.Last}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="USDT" class="container tab-pane  currency-dropdown-area ">
                                <table class="table table-striped text-white custom-table">
                                    <thead>
                                        <tr>
                                            <th>Pair</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr *ngFor="let usdt of usdtList |filter:term">
                                            <td><a (click)='currencySelected(usdt.MarketName)'>{{usdt.MarketName}}</a></td>
                                            <td><a (click)='currencySelected(usdt.MarketName)'>{{usdt.Last}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item active" *ngIf="high">
                    <a class="nav-link" href="./"><i class="fa fa-chevron-up text-success"></i>&nbsp;&nbsp;HIGH {{high}}</a>
                </li>
                <li class="nav-item active" *ngIf="low">
                    <a class="nav-link" href="./"><i class="fa fa-chevron-down text-danger"></i>&nbsp;&nbsp;Last {{low}}</a>
                </li>
                <li class="nav-item active" *ngIf="bid">
                    <a class="nav-link" href="./"><span class="text-success">BID</span>&nbsp;&nbsp; {{bid}}</a>
                </li>
                <li class="nav-item active" *ngIf="ask">
                    <a class="nav-link" href="./"><span class="text-danger">ASK</span>&nbsp;&nbsp; {{ask}}</a>
                </li>
                <li class="nav-item active" *ngIf="vol">
                    <a class="nav-link" href="./"><span class="text-info">VOL</span>&nbsp;&nbsp; {{vol}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="left">
            <ul class="nav nav-tabs graph-side-tabs" role="tablist">
                <li class="nav-item">
                    <a [ngClass]="setActiveChart(isActiveChart,'chart')" (click)="setActiveClassChart('chart')" class="nav-link" href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><i class="fa fa-line-chart" aria-hidden="true"></i> BITS</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="setActiveChart(isActiveChart,'depth')" (click)="setActiveClassChart('depth')" class="nav-link " href="#hats" role="tab" id="hats-tab" data-toggle="tab" aria-controls="hats"><i class="fa fa-line-chart" aria-hidden="true"></i> DEPTH</a>
                </li>
               <!--  <li class="ml-auto">
                    <div class="dropdown ">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Change Chart</button>
                        <div class="dropdown-menu" style="left: unset; right: 0;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Bars</a>
                            <a class="dropdown-item" href="#">Chart</a>
                            <a class="dropdown-item" href="#">Line </a>
                        </div>
                    </div>
                </li> -->
            </ul>
            <!-- Content Panel -->
            <div id="clothing-nav-content" class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="home" aria-labelledby="home-tab">
                    <div id="tv_chart_container"></div>
                    <div class="card dashboard-card mt-2 mb-2">
                        <div class="card-body">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-6 bidask-area">
                                        <h5 class="bg-dark text-white mb-0 px-3">ASK</h5>
                                        <table class="table table-striped custom-table text-center" *ngIf="buyMarketHistory">
                                            <thead class="bg-dark">
                                                <tr>
                                                    <th>Price ({{chooseCurrency}})</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="bg-dark" *ngFor="let buymarket of buyMarketHistory | orderBy: 'buyMarketHistory.Price'">
                                                    <td class="text-danger">{{buymarket.Price}}</td>
                                                    <td class="text-danger">{{buymarket.Quantity}}</td>
                                                    <td class="text-danger">{{buymarket.Total}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-6 bidask-area">
                                        <h5 class="bg-dark text-white mb-0 px-3">BIDS</h5>
                                        <table class="table table-striped custom-table text-center" *ngIf="sellMarketHistory">
                                            <thead class="bg-dark">
                                                <tr>
                                                    <th>Price ({{chooseCurrency}})</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="bg-dark  " *ngFor="let sellmarket of sellMarketHistory   | orderBy: 'sellMarketHistory.Price'">
                                                    <td class="text-success">{{sellmarket.Price}}</td>
                                                    <td class="text-success">{{sellmarket.Quantity}}</td>
                                                    <td class="text-success">{{sellmarket.Total}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card dashboard-card mt-2 mb-2">
                        <div class="card-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs open-order-tabs" role="tablist">
                                <li class="nav-item ">
                                    <a [ngClass]="setActiveOrder(isActiveOrder,'open')" (click)="setActiveClassOrder('open')" class="nav-link text-white" data-toggle="tab" href="#openOrder">Open Order</a>
                                </li>
                                <li class="nav-item">
                                    <a [ngClass]="setActiveOrder(isActiveOrder,'close')" (click)="setActiveClassOrder('close')" class="nav-link text-white" data-toggle="tab" href="#closeOrder">Close Order</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content mt-2">
                                <div class="tab-pane active  openCloseArea p-0" id="openOrder">
                                    <table class="table text-white custom-table">
                                        <thead class="bg-dark">
                                            <tr>
                                                <th>Pair</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Buy/Sell</th>
                                                <th>Original Qty</th>
                                                <th>Executed Qty</th>
                                                <th>Date</th>
                                                <th>Faild %</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="openOrders.length == 0">
                                            <tr>No Open Order</tr>
                                        </tbody>
                                        <tbody *ngIf="openOrders.length > 0">
                                            <tr  *ngFor="let openOrder of openOrders">
                                                <td>{{openOrder.symbol}}</td>
                                                <td>{{openOrder.type}}</td>
                                                <td>{{openOrder.price}}</td>
                                                <td>{{openOrder.side}}</td>
                                                <td>{{openOrder.origQty}}</td>
                                                <td>{{openOrder.executedQty}}</td>
                                                <td>{{openOrder.time|date}}</td>
                                                <td>{{openOrder.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane  openCloseArea  p-0" id="closeOrder">
                                    <table class="table text-white custom-table">
                                        <thead class="bg-dark">
                                            <tr>
                                                <th>Pair</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                <th>Buy/Sell</th>
                                                <th>Orignal Qty</th>
                                                <th>Executed Qty</th>
                                                <th>Date</th>
                                                <th>Faild %</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="closeOrders.length == 0">
                                            <tr>No Close Order</tr>
                                        </tbody>
                                        <tbody *ngIf="closeOrders.length > 0">
                                            <tr  *ngFor="let closeOrder of closeOrders ">
                                                <td>{{closeOrder.symbol}}</td>
                                                <td>{{closeOrder.type}}</td>
                                                <td>{{closeOrder.price}}</td>
                                                <td>{{closeOrder.side}}</td>
                                                <td>{{closeOrder.origQty}}</td>
                                                <td>{{closeOrder.executedQty}}</td>
                                                <td>{{closeOrder.time| date:'medium'}}</td>
                                                <td>{{closeOrder.status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="hats" aria-labelledby="hats-tab">
                    <div id="container2" style="width:100%; height:546px;"></div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="chart" aria-labelledby="dropdown-shoes-tab">
                    <div id="container3" style="width:100%; height:300px;"></div>
                        <div class="card dashboard-card mt-2">
                            <div class="card-body">
                                <div class="row">
                                <div class="col-lg-6 col-md-6 pr-0">
                                    <div class="bid-area">
                                        <div id="bids_container_label_left">BIDS (1510.9950 BTC) • WALLS (6114.84, 6084.42, 6117.19, 6121.75, 6088.26)</div>
                                        <table class="table table-striped custom-table text-center" style="background-color: #194606;">
                                            <thead>
                                                <tr>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-white">
                                                    <td>121</td>
                                                    <td>434</td>
                                                    <td>5454</td>
                                                </tr>
                                                <tr class="text-white">
                                                    <td>454</td>
                                                    <td>545</td>
                                                    <td>5665</td>
                                                </tr>
                                                <tr class="text-white">
                                                    <td>233</td>
                                                    <td>545</td>
                                                    <td>878</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pl-0">
                                    <div class="bid-area">
                                        <div id="bids_container_label_right">ASK (1510.9950 BTC) • WALLS (6114.84, 6084.42, 6117.19, 6121.75, 6088.26)</div>
                                        <table class="table table-striped custom-table text-center" style="    background-color: rgb(121, 15, 15);">
                                            <thead style="background-color: #942323;">
                                                <tr>
                                                    <th>Price</th>
                                                    <th>Quantity</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="text-white">
                                                    <td>121</td>
                                                    <td>434</td>
                                                    <td>5454</td>
                                                </tr>
                                                <tr class="text-white">
                                                    <td>454</td>
                                                    <td>545</td>
                                                    <td>5665</td>
                                                </tr>
                                                <tr class="text-white">
                                                    <td>233</td>
                                                    <td>545</td>
                                                    <td>878</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="part-divider my-auto"><a href="javascript:void(0)" id="right-full-arrow"><!-- x --></a></div>
        <div class="right">
            <ul class="nav nav-tabs data-alert-tabs" role="tablist">
                <li class="nav-item">
                    <a [ngClass]="setActiveAlert(isActiveAlert,'data')" (click)="setActiveClassAlert('data')" class="nav-link text-white" href="#data" id="data-tab" role="tab" data-toggle="tab" aria-controls="data" aria-expanded="true" aria-selected="true">Data</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="setActiveAlert(isActiveAlert,'alert')" (click)="setActiveClassAlert('alert')" class="nav-link text-white" href="#alerts" role="tab" id="alerts-tab" data-toggle="tab" aria-controls="alerts" aria-selected="false">Alerts</a>
                </li>
                <!--  <li class=" ml-auto ">
                    <div class="dropdown ">
                        <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                        <div class="dropdown-menu" style="left: unset; right: 0;" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something </a>
                        </div>
                    </div>
                </li> -->
            </ul>
            <!-- Content Panel -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="data" aria-labelledby="data-tab">
                    <div class="card dashboard-card">
                        <div class="card-body">
                            <div class="bid-area">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 pl-0">
                                        <table class="table table-striped custom-table text-center" *ngIf="allMarketHistory">
                                            <thead class="bg-dark">
                                                <tr>
                                                    <th> Price ({{chooseCurrency}})</th>
                                                    <th>Quantity</th>
                                                    <th>Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class=" text-white" *ngFor="let allmarket of allMarketHistory ">
                                                    <td>
                                                        <i class="fa fa-arrow-up text-success" *ngIf="allmarket.OrderType=='BUY'"></i>
                                                        <i class="fa fa-arrow-down text-danger" *ngIf="allmarket.OrderType=='SELL'"></i> {{allmarket.Price}}</td>
                                                    <td>{{allmarket.Quantity}}</td>
                                                    <td>{{allmarket.TimeStamp | date:'medium' }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="alerts" aria-labelledby="alerts-tab">
                    <div class="card dashboard-card">
                        <div class="card-body ">
                            <div class="row ">
                                <div class="col-lg-8 col-md-8 pr-0">
                                    <div class="card text-white dashboard-card ">
                                        <div class="card-header sell-header">NEW PRICE ALERT - {{chooseCurrency}} ({{chooseMarket}})</div>
                                        <form [formGroup]="alertForm" (ngSubmit)="setAlert()">
                                            <div class="card-body bg-info">
                                                <div class="form-group custom-form-group">
                                                    <label class="custom-label" for="exampleInputEmail1">Price</label>
                                                    <input type="text" formControlName="alertPrice" class="form-control custom-form-control" placeholder="">
                                                </div>
                                                <div class="form-group custom-form-group">
                                                    <label class="custom-label" for="exampleInput1">Notes</label>
                                                    <input type="text" formControlName="notes" class="form-control custom-form-control" placeholder="Notes">
                                                </div>
                                                <div class="form-group custom-form-group">
                                                    <label class="custom-label" for="exampleInput1">Sound</label>
                                                    <input type="text" formControlName="sound" class="form-control custom-form-control" placeholder="">
                                                </div>
                                            </div>
                                            <div class="card-footer sell-footer ">
                                                <button [disabled]="!alertForm.valid" class="btn btn-sm btn-info">Set alerts</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 col-md-4 pl-0">
                                    <div class="card text-white dashboard-card">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">All Time High</button>
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">Monthly High</button>
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">Weekly High</button>
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">Weekly Low</button>
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">Monthly Low</button>
                                            <button type="submit" class="btn btn-block btn-info btn-sm mb-2">All Time Low</button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2 dashboard-card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="btn-toolbar mb-2 d-flex justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group " role="group" aria-label="First group ">
                                            <button class="btn btn-font7 btn-light" (click)="alertListFilter('exchange',chooseMarket)">{{chooseMarket}}</button>
                                            <button class="btn btn-font7 btn-light" (click)="alertListFilter('exchange','all')">All Exchange</button>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Second group">
                                            <button class="btn btn-font7 btn-light" (click)="alertListFilter('market',chooseCurrency)">{{chooseCurrency}}</button>
                                            <button class="btn  btn-font7 btn-light"  (click)="alertListFilter('market','all')">All Markets</button>
                                        </div>
                                        <div class="btn-group" role="group" aria-label="Third group">
                                            <button class="btn btn-font7 btn-light"  (click)="alertListFilter('alert',true)">Open Alerts</button>
                                            <button class="btn btn-font7 btn-light"  (click)="alertListFilter('alert',false)">Alerts History</button>
                                        </div>
                                    </div>
                                    <div class="alert-list-area">
                                        <table class="table table-striped custom-table text-center">
                                            <thead class="bg-dark">
                                                <tr>
                                                    <th>Exchange</th>
                                                    <th>Markets</th>
                                                    <th>Price</th>
                                                    <th>Timestamp</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let alert of alertList ">
                                                    <td>{{alert.exchangeName}}</td>
                                                    <td>{{alert.exchangeMarket}}</td>
                                                    <td>Dropped below {{alert.alertPrice}} </td>
                                                    <td>{{alert.created_at| date :'short'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav nav-tabs data-alert-tabs" role="tablist">
                <li class="nav-item">
                    <a [ngClass]="setActiveTrade(isActiveTrade,'limit')" (click)="setActiveClassTrade('limit')" class="nav-link text-white" href="#limit" id="limit-tab" role="tab" data-toggle="tab" aria-controls="limit" aria-expanded="true" aria-selected="true">Limit</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="setActiveTrade(isActiveTrade,'market')" (click)="setActiveClassTrade('market')" class="nav-link text-white" href="#market" role="tab" id="market-tab" data-toggle="tab" aria-controls="market" aria-selected="false">Market</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade active show" id="limit" aria-labelledby="limit-tab">
                    <div class="card mt-2 dashboard-card">
                        <div class="card-body">
                            <div class="row padding0 displayFlex">
                                <div class="col-lg-6 col-md-12  col-sm-6 col-xs-6 ">
                                    <div class="card text-white dashboard-card padding0">
                                        <div class="card-header ">BUY {{BuySellCurrency}} (Limit)</div>
                                        <div class="card-body bg-success">
                                            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" [formGroup]="tradeBuyLimitForm" (submit)="tradeBuyLimit()">
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        {{buySellCat}} to spend
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu"  style="width: 50%; background-color: #000c; ">
                                                        <li *ngFor="let balanceStat of buyBalanceStats"><a (click) ="tradeBuySpendSet('limit',balanceStat.amount)"  style="color: white;"  href="javascript:void(0)">{{balanceStat.label}}</a></li>
                                                    </ul>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="text" class="form-control custom-form-control" placeholder=""  formControlName="spend" (input) ="onBlurQuntityCalculate('buy')">
                                                    </div>
                                                </div>
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} Price per {{BuySellCurrency}}</div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu" style="width: 50%; background-color: #000c; ">
                                                        <li><a (click)="tradeBuyPriceSet('limit',low)" style="color: white;" href="javascript:void(0)">Last ({{low}})</a></li>
                                                        <li><a (click)="tradeBuyPriceSet('limit',ask)" style="color: white;" href="javascript:void(0)">Ask ({{ask}})</a></li>
                                                        <li><a (click)="tradeBuyPriceSet('limit',bid)" style="color: white;" href="javascript:void(0)">Bid ({{bid}})</a></li>
                                                    </ul>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="test" class="form-control custom-form-control" placeholder=""  formControlName="price" (input) ="onBlurQuntityCalculate('buy')">
                                                    </div>
                                                </div>
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{BuySellCurrency}} to buy</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        <input type="email" class="form-control custom-form-control" placeholder=""  formControlName="buy">
                                                    </div>
                                                </div>
                                                <div class="card-footer sell-footer ">
                                                    <button  [disabled]="!tradeBuyLimitForm.valid" class="btn btn-sm btn-success">Buy now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6 ">
                                    <div class="card text-white dashboard-card padding0">
                                        <div class="card-header">SELL {{BuySellCurrency}} (Limit)</div>
                                        <div class="card-body bg-danger">
                                            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" [formGroup]="tradeSellLimitForm" (submit)="tradeSellLimit()">
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{BuySellCurrency}} to sell</div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu" style="width: 50%; background-color: #000c; ">
                                                        <li *ngFor="let balanceStat of sellBalanceStats"><a (click) ="tradeSellSpendSet('limit',balanceStat.amount)" style="color: white;" href="javascript:void(0)">{{balanceStat.label}}</a></li>
                                                    </ul>

                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="text" class="form-control custom-form-control" placeholder=""  formControlName="sell" (input) ="onBlurQuntityCalculate('sell')">
                                                    </div>
                                                </div>
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} Price per {{ BuySellCurrency}}</div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu" style="width: 50%; background-color: #000c; ">
                                                        <li><a (click)="tradeSellPriceSet('limit',low)" style="color: white;" href="javascript:void(0)">Last ({{low}})</a></li>
                                                        <li><a (click)="tradeSellPriceSet('limit',ask)" style="color: white;" href="javascript:void(0)">Ask ({{ask}})</a></li>
                                                        <li><a (click)="tradeSellPriceSet('limit',bid)" style="color: white;" href="javascript:void(0)">Bid ({{bid}})</a></li>
                                                    </ul>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="text" class="form-control custom-form-control" placeholder=""  formControlName="price" (input) ="onBlurQuntityCalculate('sell')">
                                                    </div>
                                                </div>
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} to receive</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        <input type="email" class="form-control custom-form-control" placeholder=""  formControlName="receive">
                                                    </div>
                                                </div>
                                                <div class="card-footer sell-footer ">
                                                    <button  [disabled] = "!tradeSellLimitForm.valid" class="btn btn-danger btn-sm">Sell now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="market" aria-labelledby="market-tab">
                    <div class="card mt-2 dashboard-card">
                        <div class="card-body">
                            <div class="row padding0 displayFlex">
                                <div class="col-lg-6 col-md-12  col-sm-6 col-xs-6 ">
                                    <div class="card text-white dashboard-card padding0">
                                        <div class="card-header ">BUY {{BuySellCurrency}} (Market)</div>
                                        <div class="card-body bg-success">
                                            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" [formGroup]="tradeBuyForm" (submit)="tradeBuy()">
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        {{buySellCat}} to spend
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu"  style="width: 50%; background-color: #000c; ">
                                                        <li *ngFor="let balanceStat of buyBalanceStats"><a (click) ="tradeBuySpendSet('market',balanceStat.amount)"  style="color: white;"  href="javascript:void(0)">{{balanceStat.label}}</a></li>
                                                    </ul>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="text" class="form-control custom-form-control" placeholder=""  formControlName="spend">
                                                    </div>
                                                </div>
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} Price per {{BuySellCurrency}}</div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        {{low}}
                                                    </div>
                                                </div>
                                                <div class="form-group buyCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{BuySellCurrency}} to buy</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        <input type="email" class="form-control custom-form-control" placeholder=""  formControlName="buy">
                                                    </div>
                                                </div>
                                                <div class="card-footer sell-footer ">
                                                    <button  [disabled]="!tradeBuyForm.valid" class="btn btn-sm btn-success">Buy now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-6 col-xs-6 ">
                                    <div class="card text-white dashboard-card padding0">
                                        <div class="card-header">SELL {{BuySellCurrency}} (Market)</div>
                                        <div class="card-body bg-danger">
                                            <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" [formGroup]="tradeSellForm" (submit)="tradeSell()">
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{BuySellCurrency}} to sell</div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0 caretDiv dropdown-toggle" data-toggle="dropdown"></div>
                                                    <ul class="dropdown-menu" style="width: 50%; background-color: #000c; ">
                                                        <li *ngFor="let balanceStat of sellBalanceStats"><a (click) ="tradeSellSpendSet('market',balanceStat.amount)" style="color: white;" href="javascript:void(0)">{{balanceStat.label}}</a></li>
                                                    </ul>

                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        <input type="text" class="form-control custom-form-control" placeholder=""  formControlName="sell">
                                                    </div>
                                                </div>
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} Price per {{ BuySellCurrency}}</div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 padding0">
                                                        {{low}}
                                                    </div>
                                                </div>
                                                <div class="form-group sellCurrency displayFlex col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">{{buySellCat}} to receive</div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding0">
                                                        <input type="email" class="form-control custom-form-control" placeholder=""  formControlName="receive">
                                                    </div>
                                                </div>
                                                <div class="card-footer sell-footer ">
                                                    <button  [disabled]="!tradeSellForm.valid" class="btn btn-danger btn-sm">Sell now</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="alertNotice" class="alert alert-gray alert-success alert-dismissible fade show" role="alert">
    <p><strong class="alert-heading">Price Alert</strong></p>
    <div class="inner-alert">
        <div class="fontBold">{{alertNotice.exchangeMarket}}</div>
        <div class="lineheight0">{{alertNotice.exchangeMarket}} [{{alertNotice.exchangeName}}] @ {{alertNotice.alertPrice}}</div>
        <p class="marginTop10vh">Click here to Visit</p>
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>