<ion-menu [content]="content">
    <ion-content class="leftNav">
        <ion-row *ngIf="restaurant" class="restaurantLogo">
            <ion-col col-12 text-center>{{restaurant.name}}</ion-col>
        </ion-row>

        <ion-row *ngIf = "pages" class="leftNavHeading">
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon name="{{p.iconA}}" ios="{{p.iconI}}" md="{{p.iconW}}" item-start></ion-icon> {{p.title}}
            </button>
        </ion-row>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>