            <div class="background-footers">
            <div class="col-md-12 footerSection2 newfooter background-footers">
                <div class="col-md-9">
                    <div class="col-md-4">
                        <h3>About Us</h3>
                        <ul>
                            <li>
                                <a href="/customer/page/about-us">About Us</a>
                            </li>
                            <li>
                                <a href="/customer/page/dating-tips">Dating Tips</a>
                            </li>
                            <li>
                                <a href="/customer/page/disclaimer">Disclaimer</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Features</h3>
                        <ul>
                            <li>
                                <a href="/customer/page/take-the-tour">Take the Tour</a>
                            </li>
                            <li>
                                <a href="/customer/page/plans-pricing">Plans &amp; Pricing</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Need Help</h3>
                        <ul>
                            <li>
                                <a [routerLink]="['/customer/contactus']">Contact Us</a>
                            </li>
                            <li><a href="/customer/page/faq">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Newsletter</h3>
                    <p>Don't miss to subscribe to our news feeds, kindly fill the form below.</p>
                    <div class="newsletter">
                        <form>
                            <input type="text" placeholder="Enter your email">
                            <button><i class="glyphicon glyphicon-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12 footerSection3 background-footers">
                <div class="col-md-6 col-md-offset-1 ">
                    <p>&copy; 2017, All Rights Reserved</p>
                    <!-- <p>Designed By <a href="javascript:void(0)">...</a></p> -->
                </div>
            </div>

        </div>

   