<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="loginForm" (ngSubmit)="forgetPassword()">
                            <div class="card card-login">
                                <div class="card-header text-center brandingColor">
                                    <h4 class="card-title">Forgot Password</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Email</label>
                                            <input type="email" class="form-control" formControlName="email" validateOnBlur [validateFormControl]="loginForm.controls['email']">
                                            <span class="material-input"></span>
                                        </div>
                                        <!-- <div *ngIf="formErrors.email" class="alert alert-danger">
                                            {{ formErrors.email }}
                                        </div> -->
                                        <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].dirty && loginForm.controls['email'].invalid  " class="alert alert-danger">
                                            {{ formErrors.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button class="btn btn-success btn-wd btn-lg" [disabled]="!loginForm.valid">Send</button>
                                     <a class="btn btn-success btn-simple btn-wd btn-lg" [routerLink]="['/customer/login']">Login</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>