
<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">    
        <div class="container-fluid">               
            <div class="row newmargin11" >
                <div class="col-sm-12 paddingbredcumb">                       
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-fw fa-user"></i> &nbsp; Admin / Edit
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row newrow1 paddingform1">
                <div> 
                     <form [formGroup]="userAddModel" (ngSubmit)="userUpdate()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">First Name</label>
                                        <input formControlName="firstname" value="users.firstname" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Last Name</label>
                                        <input formControlName="lastname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                      <a class="btn btn-danger pull-right" [routerLink]="['/admin/users']"> Cancel</a>
                                        <button type="submit" class="btn btn-success pull-right btnmargin1" [disabled]="!userAddModel.valid">Update</button> 
                                </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
