<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">    
        <div class="container-fluid">               
            <div class="row newmargin11" >
                <div class="col-sm-12 paddingbredcumb">                       
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-fw fa-users"></i> &nbsp; Customer / Add
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row newrow1 paddingform1"> 
                <form [formGroup]="customerAddModel" (ngSubmit)="customerAdd()">
                    <div class="form-group">
                        <label for="firstname">First Name</label>
                        <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Last Name</label>
                        <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                    <label for="username">User Name</label>
                    <input formControlName="username" type="text" class="form-control" id="username" placeholder="User Name" required>
                    </div> 
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password" type="text" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" type="email" class="form-control" id="email" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input formControlName="phone" type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input formControlName="age" type="Number" class="form-control" id="age" placeholder="Age" >
                    </div>
                    <div class="form-group">
                        <label for="">Gender</label>
                        <ul>
                            <li>
                                <input type="radio" formControlName="gender" name="gender" value="male"> Male
                                <input type="radio" formControlName="gender" name="gender" value="female"> Female
                            </li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" formControlName="featured" name="gender" value="male"> &nbsp; Featured
                    </div>
                    <button class="btn btn-success" [disabled]="!customerAddModel.valid">Submit</button>
                    <a class="btn btn-danger" [routerLink]="['/admin/customer/list']"> Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

