page-home {

	ion-navbar .toolbar-background{
		border : none !important;
	}
	
	ion-content { 
		padding : 5px;
	}

	.bcColor ion-col{
		color : white !important;
	}

	.activeTab1{
		font-weight : 600;
	}

	.activeTab2, .activeTab3, .activeTab4, {
		font-weight : 300;
	}
}
