.bg-navyblue {
  background-color: #142954;
}
.navbar-dark .navbar-toggler {
  border: none !important;
  outline: none !important;
}
.bgimage {
  background-image: url("./../img/bg.jpg");
  background-size: cover;
  height: 100%;
}

.main-content {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
body {

  color: #142954 !important;
}
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  background: #142954;
  margin-bottom: 10px;
}
.circle-icon {
  font-size: 50px !important;
  padding-top: 40px;
}
.btn-navy {
  color: #fff;
  background-color: #142954;
  border-color: #142954;
}
.mycontainer {
  max-width: 796px !important;
}
/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.dark-bg{
   background-color: rgba(0, 0, 0, 0.75) !important;
}
/* Modal Content */

/* The Close Button */

.close {
  right: 8px;
  position: absolute;
  color: #fff;
  float: right;
  font-size: 17px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  top: 8px;
  border-radius: 50%;
  padding: 0px 4px;
  background: black;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 1;
}

.btn-vertical button {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
.btn-fb {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}
.btn-google {
  color: #fff;
  background-color: #db3236;
  border-color: #db3236;
}
.btn-twitter {
  color: #fff;
  background-color: #1dcaff;
  border-color: #1dcaff;
}
.btn-insta {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.rounded-1 {
  border-radius: 1.25rem;
}
.rounded-rl-1 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.ortext {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gainsboro;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.ortext span {
  background: #fff;
  padding: 0 10px;
}
.addlinkfield {
  border-bottom-left-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.addlinkfieldbtn {
  border-top-right-radius: 1.25rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1.25rem;
  border-top-left-radius: 0;
}
.feed {
  background-image: url("./../img/feed.PNG");
  background-position: center;
  background-size: cover;
  height: 100vh;
  margin-top: 52px;
}
.pt-80{
    padding-top: 80px;
}

.custom-list-group-item {
    border:  none;
    border-top: 1px solid rgba(0, 0, 0, .125) !important;
}
.list-group-item.custom-list-group-item:focus,
.list-group-item.custom-list-group-item:hover {
     z-index: 0 !important;
}
.icon-circle{
        width: 30px;
        height: 30px;
        padding: 6px;
        background-color: gainsboro;
        color: gray;
        border-radius: 100%;
}
.count-circle{
    width: 75px;
    margin: auto;
    background: gainsboro;
    height: 75px;
    border-radius: 100%;
    color: #fff;
    padding: 11px;
    font-size: 34px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.icon-opt{
        padding: 6px 9px;
}
.work-box{
    padding-top: 100px;
}
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .work-box {
        padding-top: 0px;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}


#flashMessages{
  position: absolute;
top: 0;
z-index: 2;
width: 90%;
margin: 5%;
}


.bg-navyblue {
    background-color: #142954 !important;
    color: #ffffff;
}
.clr-navyblue {
    color: #142954 !important;
}