<app-headerowner></app-headerowner>

<div class="rightMenu col-lg-9 col-md-9 col-sm-9" style="padding: 0; background-color: #E9E9E8;min-height: 600px;">
   <!-- Group Detail -->
      <div class="screen-sidebar js-sidebar col-lg-4 col-md-4 col-sm-4 col-xs-4">
         <h4  *ngIf="currentOpen ==  'editgroup'">Edit Group</h4>
         <div class="settings-content custom_settings_content col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="currentOpen ==  'editgroup'">
            <div class="comp-edit-area js-edit-area col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
               <form [formGroup]="editableDetail" (ngSubmit)="groupDetailEditUpdate()">
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;"> 
                     <input type="hidden" formControlName="_id" />
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success" name="name" data-completed="1" placeholder="Group Name" data-rule="notEmpty" formControlName="name"  style="width: 100%;">
                     <div class="clearfix"></div>
                     <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon" class="btn pickupindegate1" [ngClass]="btn_class1" (click)="optionalUpdate()" style="width: 50%;">Optional</span>
                        <span class="input-group-addon" class="btn pickupindegate2" [ngClass]="btn_class2" (click)="mandatoryUpdate()" style="width: 50%;">Mandatory</span>
                     </div>
                     <div style="width: 100%; display: none;" id="mandatoryFields" >
                        <div style="width: 100%;display: -webkit-inline-box;padding: 5%;">
                           <div style="width: 70%; padding-top: 2%;">Force Minimum &nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></div>
                           <div style="width: 30%;"><input type="number"  name="" class="comp-medium-field form-control js-edit-name has-success" id="forceMinEdit" style="width: 80%;float: right;"></div>
                        </div>
                        <div style="width: 100%;display: -webkit-inline-box;padding: 5%;">
                           <div style="width: 70%;padding-top: 2%;">Force Maximum &nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></div>
                           <div style="width: 30%;"><input type="number" class="comp-medium-field form-control js-edit-name has-success" id="forceMaxEdit" name="" style="width: 80%;float: right;"></div>
                        </div>
                     </div>
                     <!-- <div style="display: -webkit-inline-box;">
                        <div style="width: 50%">Allow adding same choice multiple times</div>
                        <div style="width: 50%;padding: 3% 0 0 40%;"><input type="checkbox" name=""></div>
                     </div> -->
                  </div>
                  <div class="comp-button-zone col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
                     <button class="btn btn-plain pull-left js-cancel ng-binding" (click)="clearCancel()">Cancel</button>
                     <button type="submit" class="btn btn-action pull-right js-save ng-binding" 
                     [disabled]="!editableDetail.valid">Update</button>
                  </div>
               </form>
            </div>
         </div>

         <h4  *ngIf="currentOpen ==  'choice'">Add Choice for <code>{{currentChoice}} </code></h4>
         <div class="settings-content custom_settings_content"  *ngIf="currentOpen ==  'choice'">
            <div class="comp-edit-area js-edit-area">
               <form [formGroup]="choiceAddModel" (ngSubmit)="choiceDetailadd()"> 
                  <input type="hidden" formControlName="_id">  
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone">

                     <div class="comp-edit-field comp-medium-field ng-binding">Name</div>                       
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success" name="name" data-completed="1" placeholder="Choice Name" data-rule="notEmpty" formControlName="name">
                     <div class="clearfix"></div>            
                  </div>
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone">            
                     <div class="comp-edit-field comp-medium-field ng-binding">Price</div>                       
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success" name="name" data-completed="1" placeholder="Price Name" data-rule="notEmpty" formControlName="price">
                     <div class="clearfix"></div>            
                  </div>
                  <div class="comp-button-zone">
                     <button class="btn btn-plain pull-left js-cancel ng-binding" (click)="clearCancel()">Cancel</button>
                     <button type="submit" class="btn btn-action pull-right js-save ng-binding" 
                     [disabled]="!choiceAddModel.valid">Add</button>
                  </div>
               </form>
            </div>
         </div>

         <h4 *ngIf="currentOpen ==  'editchoice'">Edit Choice</h4>
         <div class="settings-content custom_settings_content" *ngIf="currentOpen ==  'editchoice'">
            <div class="comp-edit-area js-edit-area">
               <form [formGroup]="editableChoiceDetail" (ngSubmit)="editChoiceUpdate()">  
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone">            
                     <div class="comp-edit-field comp-medium-field ng-binding">Name</div> 
                     <input type="hidden" formControlName="_id" />  
                     <input type="hidden" formControlName="id" />          
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success" name="name" data-completed="1" placeholder="Group Name" data-rule="notEmpty" formControlName="name">
                     <div class="clearfix"></div>            
                  </div>
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone">            
                     <div class="comp-edit-field comp-medium-field ng-binding">Price</div>
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success" name="name" data-completed="1" placeholder="Price Name" data-rule="notEmpty" formControlName="price">
                     <div class="clearfix"></div>            
                  </div>
                  <div class="comp-button-zone">
                     <button class="btn btn-plain pull-left js-cancel ng-binding" (click)="clearEdit()">Cancel</button>
                     <button type="submit" class="btn btn-action pull-right js-save ng-binding" 
                     [disabled]="!editableChoiceDetail.valid">Update</button>
                  </div>
               </form>
            </div>
         </div>

         <div class="separator"></div>

         <div class="js-zones">
            <div spellcheck="false" class="comp-alt-panel-container js-area-prototype js-container" data-index="1" *ngFor="let group of groups">
               <div class="zoneData" data-type="true" data-radius="200" data-color="#905dba"></div>

               <div class="comp-alt-panel js-area">
                  <div class="comp-area-name js-info-name pull-left ng-binding">
                     <a class="colls" data-toggle="collapse" data-parent="#accordion" href = "#gr{{group._id}}">
                        <span class="icon-collapse" #classexp  (click)="showHideAddons(group._id,classexp)"></span>&nbsp;&nbsp;</a>{{group.name}}&nbsp;&nbsp;
                     <span *ngIf="group.groupType">
                        ({{group.groupType.gType | uppercase}})
                     </span>
                  </div>
                  <div class="comp-action-zone js-actions">                
                     <a title="Edit" (click)="groupDetailEdit(group._id)">
                        <span class="icon-menu-edit js-edit"></span>
                     </a>
                     &nbsp;&nbsp;
                     <a title="Delete" (click)="groupDetailRemove(group._id)"><span class="icon-menu-remove js-remove"></span></a>
                  </div>
               </div>

               <div id="gr{{group._id}}" class = "panel-collapse collapse">
                  <div class="comp-area-attribute" *ngFor="let addon of allAddons; let i = index; ">
                     <div class="comp-area-name js-info-name pull-left ng-binding"><span>{{addon.name}}</span></div>
                     <div class="comp-action-zone js-actions makeopacity">
                        <div class="pull-left">{{addon.price}}&nbsp;&nbsp;</div>

                        <a href="javascript:void(0);" (click)="editchoice(group._id,addon._id)" title="Edit">
                           <span class="icon-menu-edit js-edit"></span>
                        </a>&nbsp;&nbsp;

                        <a href="javascript:void(0);" title="Delete" (click)="removechoice(i,group._id)">
                           <span class="icon-menu-remove js-remove"></span>
                        </a>

                     </div>
                  </div>

                  <div><button class="btn btn-plain btn-sidebar pull-left js-add-group ng-binding" (click)="addChoic(group._id,group.name)">Add Choice</button></div>
               </div>
            </div>
         </div>

         <div class="separator"></div>

         <div class="collapse" id="collapseExample" *ngIf="currentOpen ==  'group'" [ngStyle]="addgroup">
            <form [formGroup]="groupAddModel" (ngSubmit)="groupDetailAdd()">            
               <div class="comp-edit-area js-edit-area">
                  <div class="comp-edit-zone comp-edit-composed js-edit-zone">
                     <div class="btn-group comp-type-picker comp-mandatory-selector js-edit-mandatory" data-toggle="buttons">
                     </div>
                     <!-- <div class="comp-edit-field comp-medium-field ng-binding">Name</div> -->
                     <input type="text" class="comp-medium-field form-control js-edit-name has-success"  placeholder="Group Name" formControlName="name" style="width: 100%;">
                     <div class="clearfix"></div>
                     <div class="input-group" style="width: 100%;">
                        <span class="input-group-addon" class="btn pickupindegate1" [ngClass]="btn_class1" (click)="optionalUpdate()" style="width: 50%;">Optional</span>
                        <span class="input-group-addon" class="btn pickupindegate2" [ngClass]="btn_class2" (click)="mandatoryUpdate()" style="width: 50%;">Mandatory</span>
                     </div>
                     <div style="width: 100%; display: none;" id="mandatoryFields" >
                        <div style="width: 100%;display: -webkit-inline-box;padding: 5%;">
                           <div style="width: 70%; padding-top: 2%;">Force Minimum &nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></div>
                           <div style="width: 30%;"><input type="number"  name="" class="comp-medium-field form-control js-edit-name has-success" id="forceMin" style="width: 80%;float: right;"></div>
                        </div>
                        <div style="width: 100%;display: -webkit-inline-box;padding: 5%;">
                           <div style="width: 70%;padding-top: 2%;">Force Maximum &nbsp;&nbsp;<i class="fa fa-info-circle" aria-hidden="true"></i></div>
                           <div style="width: 30%;"><input type="number" class="comp-medium-field form-control js-edit-name has-success" id="forceMax" name="" style="width: 80%;float: right;"></div>
                        </div>
                     </div>
                     <!-- <div style="display: -webkit-inline-box;">
                        <div style="width: 50%">Allow adding same choice multiple times</div>
                        <div style="width: 50%;padding: 3% 0 0 40%;"><input type="checkbox" name=""></div>
                     </div> -->
                  </div>
                  <div class="comp-button-zone">
                     <button id="btncncl" type="button" (click)="clearCancel()" class="btn btn-plain pull-left js-cancel" cancelAll="">Cancel</button>
                     <input type="submit" class="btn btn-action pull-right js-save ng-binding" [disabled]="!groupAddModel.valid"  value="Save">
                  </div>
               </div>
            </form>
         </div>

         <button id="btnadd" (click)="addAnothergroup()" class="btn btn-plain btn-sidebar pull-left js-add-zone ng-binding">Add Group?</button>
      </div>
   <!-- Group Detail End -->

   <div class="menuSetup col-lg-8 col-md-8 col-xs-8 col-sm-8" id="Menu11" style="box-shadow: 0px 0px 0px;background-color: #E9E9E8;">
      <!-- add menu button -->
      <div class="row col-lg-8 col-md-8 col-xs-8 col-sm-8" style="display: -webkit-inline-box;">
         <div class="" style="margin-right: 7%;" *ngIf="restaurants">
            <a class="btn btn-success" id="showPreviewButton" [attr.data-gfid]="restaurants._id" [attr.data-baseurl]="frontUrl" (click)="showPreview()" style="">Preview & Test Ordering </a>
         </div>
         <div class="">
            <a class="btn" (click)="menuModelShow()" style="color: #fff;background-color: #999;">Menu Add</a>
         </div>
      </div>
      <!-- add menu button end -->

      <!--Add Menu Modal -->
      <div class="modal fade" id="addMenu" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="menuAddModel" (ngSubmit)="userAdd()">
                  <div class="firstDiv modal-header">
                     <!-- <div class="modal-header"> -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Menu</h4>
                     <!-- </div> -->
                  </div>
                  <div class="secondDiv">
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="gfe-input-placeholder">Menu Name *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event)" />
                     </div>            
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-next" [disabled]="!menuAddModel.valid" value="Next" >
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--Add Menu Modal End -->

      <!--Add Item Modal -->
      <div class="modal fade" id="addItem" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="itemAddModel" (ngSubmit)="itemAdd()">
                  <div class="firstDiv modal-header">
                     <!-- <div class="modal-header"> -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Item</h4>
                     <!-- </div> -->
                  </div>

                  <div class="secondDiv">
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="gfe-input-placeholder">Item Name *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="description">
                        <span class="gfe-input-placeholder">Description *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-usd" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="price">
                        <span class="gfe-input-placeholder">Item Price *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChangeItem($event)"/>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </span>
                        <div class="form-control" style="height: inherit;padding: 0;">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let itemGroup of itemGroups" style="padding: 1%;">
                              <input type="checkbox" value="{{itemGroup._id}}" (change)="onClicked($event)">{{itemGroup.name}} &nbsp;<span *ngIf="itemGroup.groupType">({{itemGroup.groupType.gType}})</span>
                           </div>
                        </div>
                        <!-- <select multiple formControlName="options" style="width: 100%;">
                           <option *ngFor="let itemGroup of itemGroups" [ngValue]="itemGroup._id">{{itemGroup.name}} &nbsp;<span *ngIf="itemGroup.groupType">({{itemGroup.groupType.gType}})</span></option>
                        </select> -->
                     </div>
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-next" value="Next" [disabled]="!itemAddModel.valid">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--Add Item Modal End -->

      <!--Menu Update Modal -->
      <div class="modal fade" id="updateMenu" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="menuUpdateModel" (ngSubmit)="userUpdate()">
                  <div class="firstDiv modal-header">
                     <!-- <div class="modal-header"> -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Menu</h4>
                     <!-- </div> -->
                  </div>
                  <div class="secondDiv">
                     <!-- <div>
                        <label for="fname">Name: </label>
                        <input type="text" formControlName="name" style="float: right;">
                     </div> -->
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="gfe-input-placeholder">Menu Name *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                        <input type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader" (change)="onChangeMenuUpdate($event)" />
                     </div>
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn" value="Next" [disabled]="!menuUpdateModel.valid">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--Menu Update Modal End -->

      <!--Item Update Modal -->
      <div class="modal fade" id="updateItem" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="itemUpdateModel" (ngSubmit)="itemUpdate()">
                  <div class="firstDiv modal-header">
                     <!-- <div class="modal-header"> -->
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Item</h4>
                     <!-- </div> -->
                  </div>
                  <div class="secondDiv">
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-cutlery" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="gfe-input-placeholder">Item Name *</span>
                     </div>
                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="description">
                        <span class="gfe-input-placeholder">Description *</span>
                     </div>

                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-usd" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control" formControlName="price">
                        <span class="gfe-input-placeholder">Item Price *</span>
                     </div>

                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </span>
                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChangeItemUpdate($event)"/>
                     </div>

                     <div class="input-group gfe-input">
                        <span class="input-group-addon">
                           <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </span>
                        <div class="form-control" style="height: inherit;padding: 0;">
                           <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngFor="let itemGroup of itemGroups" style="padding: 1%;">
                              <input type="checkbox" value="{{itemGroup._id}}"  [checked]="checkCheckedGroup(itemGroup._id)" (change)="onClicked($event)">{{itemGroup.name}} &nbsp;<span *ngIf="itemGroup.groupType">({{itemGroup.groupType.gType}})</span>
                           </div>
                        </div>


                          <!-- <select multiple formControlName="options" style="width: 100%; padding:5px;">
                           <option *ngFor="let itemGroup of itemGroups" [ngValue]="itemGroup._id">{{itemGroup.name}} &nbsp;<span *ngIf="itemGroup.groupType">({{itemGroup.groupType.gType}})</span></option>
                          </select> -->
                         <span class="gfe-input-placeholder">AddOns *</span>
                     </div>

                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn" value="Next" [disabled]="!itemUpdateModel.valid">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--Item Update Modal End -->

      <!-- multisize button div -->
      <div class="modal fade" id="myModal" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="multisizeAddModel" (ngSubmit)="multisizeAddUpdate()">
                  <input type="hidden" formControlName="sid" name="sid"/>
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Add MultiSize</h4>
                  </div>
                  <div class="modal-body">       
                     <div class="form-group">
                        <label>Size</label>        
                        <input type="text" formControlName="sizename" class="form-control" placeholder="Size">
                     </div>
                     <div class="form-group">
                        <label>Price</label>
                        <input type="text" formControlName="sizeprice" class="form-control" placeholder="Price">
                     </div>
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-default" [disabled]="!multisizeAddModel.valid" value="Submit">
                  </div>
               </form>
            </div>     
         </div>
      </div>
      <!-- multisize button div -->

      <!-- edit subMenu multisize button -->
      <div class="modal fade" id="myeditModal" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="multisizeEditAddModel" (ngSubmit)="multisizeEditAddUpdate()">
                  <input type="hidden" formControlName="id"/>
                  <input type="hidden" formControlName="_id"/>
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Edit SubMenu Mutisize</h4>
                  </div>
                  <div class="modal-body">       
                     <div class="form-group">
                        <label>Size</label>        
                        <input type="text" formControlName="size" class="form-control" placeholder="Size">
                     </div>
                     <div class="form-group">
                        <label>Price</label>
                        <input type="text" formControlName="price" class="form-control" placeholder="Price">
                     </div>                
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-default" [disabled]="!multisizeEditAddModel.valid" value="Submit">
                  </div>
               </form>
            </div>     
         </div>
      </div>
      <!-- edit subMenu multisize button -->

      <!-- upload Menu Image -->
      <div class="modal fade" id="mymenuModal" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="menuImageAddModel" (ngSubmit)="updateMenuImage()">
                  <input type="hidden" formControlName="_id"/>        
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title"> Upload Image </h4>
                  </div>
                  <div class="modal-body">
                     <div class="form-group">
                        <label>Menu Image</label>
                        <input type="file" title="your text" class="form-control" name="single" value="df" ng2FileSelect [uploader]="uploader" />
                     </div>                
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value="Submit">
                  </div>
               </form>
            </div>     
         </div>
      </div>
      <!-- upload Menu Image -->

      <!-- upload SubMenu Image -->   
      <div class="modal fade" id="mySubMenuModal" role="dialog">
         <div class="modal-dialog"> 
            <div class="modal-content">
               <form [formGroup]="smenuImageAddModel" (ngSubmit)="updateSubMenuImage()">
                  <input type="hidden" formControlName="_id"/>  
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title"> Upload Image </h4>
                  </div>
                  <div class="modal-body">
                     <div class="form-group">
                        <label>Menu Image</label>
                        <input type="file" class="form-control" name="single" value="df" ng2FileSelect [uploader]="uploader" />
                     </div>                
                  </div>
                  <div class="modal-footer">
                     <input type="submit" class="btn btn-default" value="Submit">
                  </div>
               </form>
            </div>     
         </div>
      </div>
      <!-- upload SubMenu Image -->

      <div *ngFor="let user of users" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="mainMenuItem mainMenuItem12" >
            <div class="itemImage col-lg-2 col-md-2 col-sm-2 col-xs-2" >
               <div *ngIf="user.image"><img  (click)="passId(user._id)" data-toggle="modal" data-target="#mymenuModal" src="{{imageUrl}}{{user.image}}" class="img-responsive custom_img_size"></div>
               <div *ngIf="!user.image"><img  (click)="passId(user._id)" data-toggle="modal" data-target="#mymenuModal" src="./assets/images/menu.jpg" class="img-responsive custom_img_size"></div>
            </div>
            <div class="itemDesc col-lg-7 col-md-7 col-sm-7 col-xs-7 custom_menu_color"> {{user.name}}
               <span class="label label-warning" *ngIf="user.isHidden == true" style="font-size: 42%;position: absolute;border-radius: 1.25em;padding: 1%;">Hidden from Menu  &nbsp;&nbsp;
                  <span style=" cursor: pointer;border: 0px;"  (click) = "deleteHiddenSpecific(user,'menu')">&times;</span>
               </span>
               <span class="label label-warning" *ngIf="user.isSpecific== true" style="font-size: 42%;position: absolute;border-radius: 1.25em;padding: 1%;">Show on specific time  &nbsp;&nbsp;
                     <span style="cursor: pointer;border: 0px;" (click) = "deleteHiddenSpecific(user,'menu')">&times;</span>
               </span>
            </div>
            
            <div class="icons col-lg-3 col-md-3 col-sm-3 col-xs-3 pull-right" style="padding: 0;">
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 drop" style="padding: 0;">
                  <a class="colls" data-toggle="collapse" data-parent="#accordion" href = "#menuID{{user._id}}" style="float: right;"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
               </div>
               <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hovericons" style="padding: 0;">
                  <a href="javascript:void(0);" (click)="showDayOption(user,'menu')"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                  <a (click)="menuUpdateModelShow(user._id)"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
                  <a (click)="deleteUser(user._id)" href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i></a>
                  <a (click)="itemAddModelShow(user._id)" title="Add Item"><i class="fa fa-plus" aria-hidden="true"></i></a>
               </div>
            </div>
         </div>
      
         <!--HIdden Menu Option-->
            <div class="hideMenu" id="hideMenu" [style.display]="showDiv(user._id, 'menu')">
               <div class="cancleOption">
                  <div style="width: inherit;padding: 6px;">Options</div>
                  <div style="float:right;border: 1px solid gray;" class="btn"  (click) = "hideDiv('menu')">&times;</div>
               </div>
               <div class="daysOption">
                  <div style="border-bottom: 1px solid #ccc; padding: 2%;">
                     <label style="width: 100%;">
                        <input  [attr.id]="'hidden' + user._id" [attr.name]="'hidden' + user._id" type="radio" (click)="hideMenu(user._id)" [value]="user.isHidden" [checked]="radioChecked(user.isHidden,'hidden')"> Hidden from menu
                     </label>
                  </div>
                  <div style="padding: 2%;">
                     <label style="width: 100%;">
                        <input [attr.id]="'show' + user._id" type="radio" (click)="showMenu(user._id)" [attr.name]="'hidden' + user._id" [value]="user.isSpecific" [checked]="radioChecked(user.isSpecific,'specific')"> Show on specific time
                     </label>
                  </div>
                  <div id="days{{user._id}}" class="menuDays" style=" padding: 2%;">
                     <div class="daysSchedule" *ngIf="user.openinghours" style="font-size: smaller;padding: 6%;">
                        <span *ngIf="user.openinghours.monday">Monday, </span>
                        <span *ngIf="user.openinghours.tuesday">Tuesday, </span>
                        <span *ngIf="user.openinghours.wednesday">Wednesday, </span>
                        <span *ngIf="user.openinghours.thursday">Thursday, </span>
                        <span *ngIf="user.openinghours.friday">Friday, </span>
                        <span *ngIf="user.openinghours.saturday">Saturday ,</span>
                        <span *ngIf="user.openinghours.sunday">Sunday, </span>
                        
                        <span *ngIf="user.openinghours.opentime">&nbsp;{{user.openinghours.opentime}}-</span>
                        <span *ngIf="user.openinghours.closetime">{{user.openinghours.closetime}}</span>
                     </div>
                     <div *ngIf="user.openinghours" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 2% 0 2% 0">
                        <input type="time" name="opentime" [attr.id]="'opentime_' + user._id" [attr.value]="user.openinghours.opentime">
                        <input type="time" name="closetime" [attr.id]="'closetime_' + user._id" [attr.value]="user.openinghours.closetime">
                     </div>
                     <div *ngIf="!user.openinghours" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 2% 0 2% 0">
                        <input type="time" name="opentime" [attr.id]="'opentime_' + user._id">
                        <input type="time" name="closetime" [attr.id]="'closetime_' + user._id">
                     </div>
                     <!-- {{user.openinghours.monday}} -->
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 daysList">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" id="optionsRadios2" value="Monday" (change)="checkMon()" [checked]="checkChecked(user.openinghours,'Monday')"> Monday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox" name="tue" id="optionsRadios2" value="Tuesday" (change)="checkTue()" [checked]="checkChecked(user.openinghours,'Tuesday')"> Tuesday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox"  name="wed" id="optionsRadios2" value="Wednesday" (change)="checkWed()" [checked]="checkChecked(user.openinghours,'Wednesday')"> Wednesday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox"  name="thu" id="optionsRadios2" value="Thursday" (change)="checkThu()" [checked]="checkChecked(user.openinghours,'Thursday')"> Thursday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox"  name="fri" id="optionsRadios2" value="Friday" (change)="checkFri()" [checked]="checkChecked(user.openinghours,'Friday')"> Friday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox"  name="sat" id="optionsRadios2" value="Saturday" (change)="checkSat()" [checked]="checkChecked(user.openinghours,'Saturday')"> Saturday</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ><input type="checkbox"  name="sun" id="optionsRadios2" value="Sunday" (change)="checkSun()" [checked]="checkChecked(user.openinghours,'Sunday')"> Sunday</div>
                     </div>
                  </div>
                  <button type="submit" class="btn saveButton" (click)="saveOpeningTimings('menu')">Save</button>
               </div>
            </div>
         <!--HIdden Menu Option-->
         <div  id="menuID{{user._id}}" class = "panel-collapse collapse">
            <div *ngFor="let item of items">
               <div *ngIf="item.menuId == user._id" class="subMenuItem " style="position: relative;">
               
                  <!--Item Description-->   
                     <div class="margin-for-addon">
                        <div class="itemImage col-lg-2 col-md-2 col-sm-2 col-xs-2">
                           <div *ngIf="item.image"><img (click)="passub(item._id)" data-toggle="modal" data-target="#mySubMenuModal"  src="{{imageUrl}}{{item.image}}" class="img-responsive"></div>
                           <div *ngIf="!item.image"><img (click)="passub(item._id)" data-toggle="modal" data-target="#mySubMenuModal" src="./assets/images/itemimage.gif" class="img-responsive"></div>
                        </div>
                        <div class="itemDesc col-lg-8 col-md-8 col-sm-8 col-xs-8">{{item.name}}
                        <span class="label label-warning" *ngIf="item.isHidden == true" style="font-size: 60%;position: absolute;border-radius: 1.25em;padding: 1%;">Hidden from Menu  &nbsp;&nbsp;
                           <span style=" cursor: pointer;border: 0px;"  (click) = "deleteHiddenSpecific(item,'item')">&times;</span>
                        </span>
                        <span class="label label-warning" *ngIf="item.isSpecific == true" style="font-size: 60%;position: absolute;border-radius: 1.25em;padding: 1%;">Show on specific time  &nbsp;&nbsp;
                           <span style=" cursor: pointer;border: 0px;"  (click) = "deleteHiddenSpecific(item,'item')">&times;</span>
                        </span>
                           <span class="custom_sub_price" *ngIf="item.multisize.length < 1"><code> {{item.price}} CZK</code></span>
                           <div class="row" style="margin-top: 10px;">
                              <!-- <small *ngFor="let grop of groups">
                                 <span *ngFor="let itemx of item.options; let i = index;">
                                    <i *ngIf = "grop._id == item.options[i]"> 
                                       <button style="padding: 4px;" class="btn btn-default"> {{grop.name}} </button>
                                    </i>
                                 </span>
                              </small> -->
                              <small *ngIf="item.options">
                                 <span *ngFor="let itemx of item.options;">
                                    <button style="padding: 4px;" class="btn btn-default"> {{itemx.name}} </button>
                                 </span>
                              </small>
                           </div>
                        </div>
                        <div class="icons col-lg-2 col-md-2 col-sm-2 col-xs-2" style="">
                           <a href="javascript:void(0);" (click)="showDayOption(item, 'item')"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                           <a (click)="itemUpdateModelShow(item)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                           <a (click)="deleteItem(item._id)" href="javascript:void(0);"><i class="fa fa-trash" aria-hidden="true"></i></a>
                        </div>
                     </div>
                  <!--Item Description End-->

                  <!--HIdden Item Option-->
                     <div class="hideItem" id="hideItem" [style.display]="showDiv(item._id, 'item')">
                        <div class="cancleOption">
                           <div style="width: inherit;padding: 6px;">Options</div>
                           <div style="float:right;border: 1px solid gray;" class="btn"  (click) = "hideDiv('item')">&times;</div>
                        </div>
                        <div class="daysOption">
                           <div style="border-bottom: 1px solid #ccc; padding: 2%;">
                              <label style="width: 100%;">
                                 <input  [attr.id]="'hidden' + item._id" [attr.name]="'hidden' + item._id" type="radio" (click)="hideMenu(item._id)" [value]="item.isHidden" [checked]="radioChecked(item.isHidden,'hidden')"> Hidden from menu
                              </label>
                           </div>
                           <div style="padding: 2%;">
                              <label style="width: 100%;">
                                 <input  [attr.id]="'hidden' + item._id" [attr.name]="'hidden' + item._id" type="radio" (click)="showMenu(item._id)" [value]="item.isSpecific" [checked]="radioChecked(item.isSpecific,'specific')"> Show on specific time
                              </label>
                           </div>
                           <div id="days{{item._id}}" class="itemDays" style="padding: 2%;" style="display: none;">
                              <div class="daysSchedule" *ngIf="item.openinghours" style="font-size: smaller;padding: 6%;">
                                 <span *ngIf="item.openinghours.monday">Monday, </span>
                                 <span *ngIf="item.openinghours.tuesday">Tuesday, </span>
                                 <span *ngIf="item.openinghours.wednesday">Wednesday, </span>
                                 <span *ngIf="item.openinghours.thursday">Thursday, </span>
                                 <span *ngIf="item.openinghours.friday">Friday, </span>
                                 <span *ngIf="item.openinghours.saturday">Saturday ,</span>
                                 <span *ngIf="item.openinghours.sunday">Sunday, </span>
                                 
                                 <span *ngIf="item.openinghours.opentime">&nbsp;{{item.openinghours.opentime}}-</span>
                                 <span *ngIf="item.openinghours.closetime">{{item.openinghours.closetime}}</span>
                              </div>

                              <div *ngIf="item.openinghours" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 2% 0 2% 0">
                                 <input type="time" name="opentime" [attr.id]="'opentime_' + item._id" [attr.value]="item.openinghours.opentime">
                                 <input type="time" name="closetime" [attr.id]="'closetime_' + item._id" [attr.value]="item.openinghours.closetime">
                              </div>
                              <div *ngIf="!item.openinghours" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 2% 0 2% 0">
                                 <input type="time" name="opentime" [attr.id]="'opentime_' + item._id">
                                 <input type="time" name="closetime" [attr.id]="'closetime_' + item._id">
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 daysList">
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" id="optionsRadios2" value="Monday" (change)="checkMon()" [checked]="checkChecked(item.openinghours,'Monday')"> Monday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="tue" id="optionsRadios2" (change)="checkTue()" value="Tuesday" [checked]="checkChecked(item.openinghours,'Tuesday')"> Tuesday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="wed" id="optionsRadios2" (change)="checkWed()" value="Wednesday" [checked]="checkChecked(item.openinghours,'Wednesday')"> Wednesday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="thu" id="optionsRadios2" (change)="checkThu()" value="Thursday" [checked]="checkChecked(item.openinghours,'Thursday')"> Thursday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="fri" id="optionsRadios2" (change)="checkFri()" value="Friday" [checked]="checkChecked(item.openinghours,'Friday')"> Friday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="sat" id="optionsRadios2" (change)="checkSat()" value="Saturday" [checked]="checkChecked(item.openinghours,'Saturday')"> Saturday</div>
                                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input type="checkbox" name="sun" id="optionsRadios2" (change)="checkSun()" value="Sunday" [checked]="checkChecked(item.openinghours,'Sunday')"> Sunday</div>
                              </div>
                           </div>
                           <button type="submit" class="btn saveButton" (click)="saveOpeningTimings('item')">Save</button>
                        </div>
                     </div>
                  <!--HIdden Item Option-->

                     <br/>

                  <!--Add Multisize Button-->
                     <div class="custom_for_ms">
                        <button type="button" (click)="addMultisizeAddOn(item._id)" class="btn btn-success btn-multisize" data-toggle="modal" data-target="#myModal">Add Multisize</button>
                     </div>
                  <!--Add Multisize Button End-->

                  <!-- Item MultiSize Div -->
                     <div *ngFor="let itemsp of item.multisize; let i = index" class="js-size-prototype comp-size clearfix is-new js-container js-size ui-droppable">
                        <div class="pull-left comp-info-size-name js-info-size-name ">{{itemsp.size}}</div>
                        <div class="pull-right comp-info-size-price">
                           <div class="pull-left js-info-size-price">{{itemsp.price}}</div>
                           <div class="pull-left comp-info-size-currency js-info-currency">CZK &nbsp;</div>

                           <a href="javascript:void(0);" title="Delete" (click)="removeSubmenuAddOn(i,item._id)"><span class="icon-menu-remove js-remove" data-original-title="" title=""></span></a>

                           <a href="javascript:void(0);" title="Edit" (click)="editSubmenuAddOn(itemsp._id,item._id)" data-toggle="modal" data-target="#myeditModal"><span class="icon-menu-edit js-edit" data-original-title="" title=""></span></a>
                        </div>
                        <div class="icon-default js-default-size-info is-hidden" data-original-title="" title="">                                    
                        </div>                        
                     </div>
                  <!-- Item MultiSize Div -->
               </div>
            </div>
         </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
      </div>
   </div>

</div>

<div id= "previewModal" > <iframe frameborder= "0" > </iframe > </div>