<app-headerowner></app-headerowner>
<div class="rightMainDiv col-lg-9 col-md-9 col-sm-9 padding0 displayFlowRoot">
   <!-- <div class="" id="Menu18"> -->
	   <div class="profile col-lg-6 col-md-6 col-sm-8 col-xs-8 padding0">
	        <div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        	<span class="verticalAlignSub">Publish website ordering</span>
	            <input type="submit" class="btn btn-next ng-binding pull-right" value="Next" [disabled]="">
	        </div>
	        <div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
	        		<a class="custom_menu_color">You have successfully created the HTML code</a>
	        	</div>

	        	<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 marginTopBottom3prcnt">
	        		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0"><b>Button published on:</b></div>
	        		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 paddingRight0"><b>First seen:</b></div>
	        	</div> -->

	        	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 marginTopBottom3prcnt">
	        		<a [routerLink]="['/owner/legacy-code/',restaurants._id]" target="_blank" class="custom_menu_color textUnderline">Add Ordering to another Website</a>
	        	</div>

	        </div>
		</div>
	<!-- </div>  -->
</div>
