.topHeading{
	text-align: center;
	color: #4C4C4C;
	background-color: #F5F4F2;
	padding-top: 3%;
	padding-bottom: 3%;
}

.blue{
	color: #5779C3;
}

.green{
	color: #72A473;
}

.red{
	color: #F39E59;
}


.section1 , .section2 , .innerSection3, .innerSection4, .innerSection5{
	padding: 2vw;
}

.leftOfSection1 h2{
	padding-bottom: 20px;
}

.rightOfSection1{
	color: #737373; 
}

.container-fluid{
	color: #4C4C4C;
	background-color: #F5F4F2;
}

.section2 .innerSection2 h2{
	padding-bottom: 20px;
}

.bottomBox{
	text-align: center;
	margin-top: 2%;
	margin-bottom: 10%;
}

.lineHeight2{
	line-height: 2;
}

/*.bottomBox div div a div{
	height: 135px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	margin: 10px 0;
	width: 100%;
	cursor: pointer;
}
*/

.bottomBox .bottomImage div img{
    height: 60px;
}

.bottomBox .bottomImage div{
	padding: 15px;
}

@media (max-width: 991px) {
    h2{
    	font-size: 24px;
    }


	.lineHeight2{
		line-height: 1.5;
	}

}

@media (max-width: 767px) {
    img.marginAuto{
        width: 50%
    }
    .rightOfSection1{
        margin-top: 5vh;
    }

}

@media (max-width: 1199px){
    .topHeading, .section1 , .section2 , .section3, .section4, .section5, .section6{
    	float: left;
    	width: 95vw;

    }
}

@media (max-width: 538px){
    .mainLegacyDiv{
	    float: left;
	    width: 95vw;
    }

    h2{
    	font-size: 18px;
    }
}


