<div class="mainLegacyDiv">
	<div class="container-fluid topHeading">
	    <h2>Add the ordering button to your <br> {{restaurants.name}} website</h2>
	</div>

	<div class="container section1">
	    <h2>1. Copy this personalized HTML code</h2>
	    
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 leftOfSection1">
	        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
		        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		            <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		        </div>
		        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
		            You can customize the look and feel the way you like by adding, removing or changing the "class" or "style" attributes inside the &lt;span&gt; tag.
		        	
		        </div>
		    </div>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 rightOfSection1">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
				<ol>
					<li>&lt; !-- If you would like to customize the button, remove or change the "class" attribute inside the &lt; span &gt; tag -- &gt;</li>
					<li>
						<span class="blue">&lt;a</span>
	                    <span class="green">class=</span>
	                    <span class="red">"resbtn"</span>
	                    <span class="green">data-gfid=</span>
	                    <span class="red">"{{resId}}"</span>
	                    <span class="green">data-baseurl=</span>
	                    <span class="red">"{{url.frontUrl}}"</span>
	                    <span  class="green">data-height=</span>
	                    <span class="red">"90%"</span>
	                    <span class="blue"> &gt;</span>
	                    Online Orders {{restaurants.name}}
	                    <span class="blue"> &lt;/a&gt;</span>
	                </li>
					<li>
						<span class="blue">&lt;div</span>
		                <span class="green">id=</span>
		                <span class="red">"myModal"</span>
		                <span class="blue"> &gt;</span>
		                <span class="blue">&lt;iframe</span>
		                <span class="green">frameborder=</span>
		                <span class="red">"0" </span>
		                <span class="blue"> &gt;</span>                    
		                <span class="blue"> &lt;/iframe &gt;</span>
		                <span class="blue"> &lt;/div&gt;</span>
					</li>
					<li>
						<span class="blue">&lt;script</span>
						<span class="green">src=</span>
						<span class="red">"{{url.frontUrl}}assets/js/gff.js"</span>
						<span class="blue"> &gt;</span>
						<span class="blue"> &lt;/script&gt;</span>
					</li>
				</ol>
			</div>
	    </div>
	</div>

	<div class="container-fluid section2">
	    <div class="container innerSection2" [hidden]="!showDom.default" >
	        <h2>2. Paste it at the todfghjklp of your main page</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/mockup-restaurant-website-instructions_8e09257d_.png"  alt="Step 2 - Paste the code at the top of your main page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	            </div>
	            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                If your site has multiple pages make sure that:
	                <ul class="lineHeight2">
	                    <li>You add the button to the menu & contact page</li>
	                    <li>You add the button in the navigation bar</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.wordpress">
	        <h2>2. Paste the code to your page</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/ordering-button-code-to-wordpress-page_6a69f923_.jpg"  alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>In your wordpress Admin, go to the page where you want to place the order button</li>
	                    <li>Switch to text editing mode</li>
	                    <li>Paste the code</li>
	                    <li>Update the page to publish.</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.weebly">
	        <h2>2. Drag & drop an Embed Code element</h2>

	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/add-embed-code--to-weebly_b795ec89_.png"  alt="Step 2 - Paste the code to your page "/>
	        </div>

	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
	                <ul class="lineHeight2">
	                    <li>Log in to your Weebly account</li>
	                    <li>Decide on where to place the order button</li>
	                    <li>Drag an Embed Code element and drop it where you want your button to appear</li>
	                </ul>
	                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 padding0">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        The more visible the better - make sure your button is high up in the page, so your customers can easily see it.<br><br>
	                        You cannot embed code into the Weebly template headers, so try to place the button right after the fixed elements of your theme.
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.wix">
	        <h2>2. Add an HTML Code container to your page</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/wix-screenshot1_fbe20251_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Log in to your WIX website</li>
	                    <li>Go to the editor's left menu and click Add --> More --> HTML Code. A new grey container will appear on the screen.</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.squarespace">
	        <h2>2. Select the page where the button should appear</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-placement-of-ordering-button-squarespace_0a69d979_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Log in to your Squarespace account</li>
	                    <li>Decide on where to place the order button</li>
	                    <li>Insert a "Code" content block</li>
	                </ul>
	                <div class="row">
	                    Note: You can add content blocks only in the Page Content section. Make sure you place the button as high as possible, preferably above the fold.
	                </div>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.drupal">
	        <h2>2. Choose the placement of the ordering button</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-placement-of-ordering-button-drupal_933e92f2_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Log in to your Drupal account</li>
	                    <li>Decide where you want to have the ordering button displayed. Create a new block or simply update an existing one.</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.joomla">
	        <h2>2. Check your Joomla settings</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-placement-of-ordering-button-joomla_9a3b74c0_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Log in to your Joomla account and go to your website</li>
	                    <li>In the top navigation, go to System ? Global Configuration</li>
	                    <li>Next to Default Editor, make sure you have Editor - CodeMirror selected</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection2" [hidden]="!showDom.jimdo">
	        <h2>2. Decide where the button should appear</h2>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/jimdo-screenshot1_4915a991_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Log in to your Jimdo account</li>
	                    <li>Decide on where to place the order button</li>
	                    <li>Click on Add element and then Additional elements to see the extended list</li>
	                    <li>Select Widget / HTML</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="container section3">
		<div class="row innerSection3" [hidden]="!showDom.wordpress">
		    <h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.weebly">
		    <h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>

		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.wix">
		    <h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.squarespace">
		    <h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.drupal">
			<h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.joomla">
	        <h2>3. Check the end result</h2>
		    
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		    	<img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>

		<div class="row innerSection3" [hidden]="!showDom.jimdo">
	        <h2>3. Check the end result</h2>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		        <div class="row">
		            <ul class="lineHeight2">
		                <li>If all done right, the button should look like in this example</li>
		            </ul>
		            <div class="row">
		                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
		                    <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
		                </div>
		                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		                    If your website has multiple pages, we recommend you to add the See MENU &amp; Order button to other pages as well, like the Contact page.<br><br>
		                </div>
		            </div>
		            <div class="row">
		                You can customize the look and feel of the button the way you like -
		                
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-demo-restaurant-with-button.jpg" alt="Step 2 - Paste the code to your page ">
		    </div>
		</div>
	</div>

	<div class="container-fluid section4">
		<div class="container innerSection4" [hidden]="!showDom.weebly">
	        <h2>4. Check the end result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/check-embed-code--weebly_a2fe9ab3_.png"  alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>If all done right, the button should look like in this example</li>
	                </ul>
	                <div class="row">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="container innerSection4" [hidden]="!showDom.wix">
	        <h2>4. Check the end result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/wix-screenshot3_b00adf26_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>If all done right, the button should look like in this example.</li>
	                </ul>
	                <div class="row">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="container innerSection4" [hidden]="!showDom.squarespace">
			<h2>4. Check the final result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-check-final-result-squarespace_05c0d912_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>Your button will look ugly in the editor due to the warning message. No worries though, it will look just fine in the live page.</li>
	                </ul>
	            </div>
	        </div>
	    </div>

		<div class="container innerSection4" [hidden]="!showDom.drupal">
	        <h2>4. Check the end result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-check-final-result-drupal_19ed816b_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>If all done right, the button should look like in this example.</li>
	                </ul>
	                <div class="row">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="container innerSection4" [hidden]="!showDom.joomla">
	        <h2>4. Check the end result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-check-final-result-joomla_7af9ed13_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>If all done right, the button should look like in this example.</li>
	                </ul>
	                <div class="row">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="container innerSection4" [hidden]="!showDom.jimdo">
	        <h2>4. Check the end result</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/jimdo-screenshot3_5096e941_.png" alt="Step 2 - Paste the code to your page "/>
	        </div>
	        
	        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <div class="row">
	                <ul class="lineHeight2">
	                    <li>If all done right, the button should look like in this example.</li>
	                </ul>
	                <div class="row">
	                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	                        <img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	                    </div>
	                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
	                        If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>
	</div>

	<div class="container section5">
		<div class="innerSection5" [hidden]="!showDom.squarespace">
	       	<h2>5. Add the button to other pages</h2>
			
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	        	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding0">
	            	<img class="img-responsive marginAuto" src="/assets/images/icon-lightbulb.png">
	        	</div>
		        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="color: #666;">
		            If your website has multiple pages, we recommend you to add the See MENU & Order button to other pages as well, like the Contact page.
		            
		        </div>
		    </div>
		    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
	            <img class="img-responsive marginAuto" src="/assets/images/screenshot-add-ordering-button-squarespace_591d542d_.png" alt="Step 2 - Paste the code to your page "/>
		    </div>
		</div>
	</div>

	<div class="container bottomBox section6">
	    <h2>Step by step instructions for<br>the main website builders:</h2>
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottomImage">
	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('wordpress')">
	            <img class="img-responsive marginAuto" src="/assets/images/logo-wordpress_80b34c35_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('weebly')">
	       		<img class="img-responsive marginAuto" src="/assets/images/logo-weebly_53fb1dfb_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('wix')">
	           	<img class="img-responsive marginAuto" src="/assets/images/logo-wix_9f28ce99_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('squarespace')">
	           	<img class="img-responsive marginAuto" src="/assets/images/logo-squarespace_87bb6084_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('drupal')">
	           	<img class="img-responsive marginAuto" src="/assets/images/logo-drupal_34242bb2_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('joomla')">
	           	<img class="img-responsive marginAuto" src="/assets/images/logo-joomla_4b70b7d9_.png"/>
	        </div>

	        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" (click)="showChildDom('jimdo')">
	           	<img class="img-responsive marginAuto" src="/assets/images/logo-jimdo_4702b360_.png"/>
	        </div>
	    </div>
	</div>

</div>