<app-headerowner></app-headerowner>
<div class="rightMainDiv col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
    <!-- <alert></alert> -->
        <div class="profile col-lg-6 col-md-6 col-sm-8 col-xs-8 padding0">
            <form (ngSubmit)="paymentDetailUpdate()">
                <div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="verticalAlignSub">On-site payment options</span>
                    <input type="submit" class="btn btn-next ng-binding pull-right" value="Next">
                </div>
                <div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.restaurants">
                    <div *ngIf="this.restaurants.pickup">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="payment-subtitle">
                                    <strong class="ng-binding">Payment options for pickup:</strong>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-7 payment-text ng-binding">Cash</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="cashi == true ? forgreen : forwhite"  (click)="intialoption2('cash',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="cashi == false ? forred : forwhite" (click)="intialoption2('cash',false)">
                                        <input type="radio" id="optionsRadios2" value="false"  checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-7 payment-text ng-binding">Card at pickup counter</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="cardpickupi == true ? forgreen : forwhite"  (click)="intialoption2('cardpickup',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="cardpickupi == false ? forred : forwhite"  (click)="intialoption2('cardpickup',false)">
                                        <input type="radio" id="optionsRadios2" value="false" checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="restaurants.onlinepayment">
                            <div class="col-xs-7 payment-text ng-binding">Card onlive via internet</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="cardinterneti == true ? forgreen : forwhite"  (click)="intialoption2('cardinternet',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="cardinterneti == false ? forred : forwhite"  (click)="intialoption2('cardinternet',false)">
                                        <input type="radio" id="optionsRadios2"  value="false" checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="this.restaurants.delivery">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="payment-subtitle"><strong class="ng-binding">Payment options for delivery:</strong></div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-xs-7 payment-text ng-binding">Cash</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="dcashi == true ? forgreen : forwhite"  (click)="intialoption2('dcash',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="dcashi == false ? forred : forwhite"  (click)="intialoption2('dcash',false)">
                                        <input type="radio" id="optionsRadios2" value="false" checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-7 payment-text ng-binding">Card at pickup counter</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="dcardpickupi == true ? forgreen : forwhite"  (click)="intialoption2('dcardpickup',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="dcardpickupi == false ? forred : forwhite"  (click)="intialoption2('dcardpickup',false)">
                                        <input type="radio" id="optionsRadios2" value="false" checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="restaurants.onlinepayment">
                            <div class="col-xs-7 payment-text ng-binding">Card onlive via internet</div>
                            <div class="col-xs-5">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-info2" [ngStyle]="dcardinterneti == true ? forgreen : forwhite"  (click)="intialoption2('dcardinternet',true)">
                                        <input type="radio" id="optionsRadios2" value="true">Yes
                                    </label>
                                    <label class="btn btn-info2 btn_red" [ngStyle]="dcardinterneti == false ? forred : forwhite"  (click)="intialoption2('dcardinternet',false)">
                                        <input type="radio" id="optionsRadios2" value="false" checked="">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>