<app-headerowner></app-headerowner>

<div class="rightMainDiv col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
	<!-- <alert></alert> -->
	<div class="profile col-lg-6 col-md-6 col-sm-8 col-xs-8 padding0" id="Menu18">
	    <form [formGroup]="pickupAddModel" (ngSubmit)="pickupDetailUpdate()">
		<div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<span class="verticalAlignSub">PickUp</span>
			<input type="submit" class="btn btn-next floatRight" value="Next" [disabled]="!pickupAddModel.valid" />		
		</div>
		<div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="col-sm-8 pickup_text"> Do you offer pickup from your location ? </div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon" class="btn pickupindegate1" 
					[ngClass]="btn_class1"   
					(click)="pickupYesUpdate()" >Yes</span>
					<span class="input-group-addon" class="btn pickupindegate2" 
					[ngClass]="btn_class2" 
					(click)="pickupNoUpdate()" >No</span>
				</div>
			</div>	   		
		</div>	
	 	</form>
	</div>
	<div id="gmap"></div>
</div>