<app-headerowner></app-headerowner>

<div class="rightMenu1" style="margin-left: 25%;background-color: #E9E9E8;height: 585px;">
	<alert></alert>
	<div class="profile col-lg-12 col-md-12 col-sm-12 col-xs-12" id="Menu18" style="z-index: 1;position: absolute; width:50%;padding: 0;">
	    <form [formGroup]="pickupAddModel" (ngSubmit)="pickupDetailUpdate()">
		<div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: 0 -1px 0 #d5d5d3, inset 0 1px 0 rgba(0, 0, 0, .04);">	
			<span class="">PickUp</span>
			<input type="submit" class="btn btn-next" value="Next" style="float: right;" 
			[disabled]="!pickupAddModel.valid" />		
		</div>
		<div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: 0 -1px 0 #d5d5d3, inset 0 1px 0 rgba(0, 0, 0, .04);">		
			<div class="col-sm-8 pickup_text"> Do you offer pickup from your location ? </div>
			<div class="col-sm-4">
			<div class="input-group">
            <span class="input-group-addon" class="btn pickupindegate1" 
            [ngClass]="btn_class1"   
            (click)="pickupYesUpdate()" >Yes</span>
            <span class="input-group-addon" class="btn pickupindegate2" 
            [ngClass]="btn_class2" 
            (click)="pickupNoUpdate()" >No</span>
			</div>
			</div>	   		
		</div>	
	 	</form>
	</div>
	<div id="gmap"></div>
</div>