<div class="row">
    <div class="card">
        <div class="card-header" data-background-color="navyblue">
            <h4 class="title">Edit Pages</h4>
            <p class="category">Update Page</p>
        </div>
        <div class="card-content">
            <form [formGroup]="planAddForm" (ngSubmit)="planUpdate()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Page Title <span>*</span></label>
                            <input formControlName="title" type="text" class="form-control" autofocus>
                        </div>
                        <div *ngIf="formErrors.title" class="alert alert-danger">
                            {{ formErrors.title }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">URL Text <span>*</span></label>
                            <input formControlName="url" type="text" class="form-control">
                        </div>
                        <div *ngIf="formErrors.url" class="alert alert-danger">
                            {{ formErrors.url }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label"> Describe about this pages</label>
                                <app-tinymce  formControlName="description" ></app-tinymce>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn bg-navyblue pull-right" [disabled]="!planAddForm.valid">Update Pages</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>