<app-marketingnav></app-marketingnav>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 minheight585 padding3">

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBottom fontMedium">
		Select menu promo deal type
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingBottom fontSmall">
		You can apply various rules & restrictions to each promo deal.
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 promotionList" *ngFor="let promotion of promotions">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 promotionIcon">
			<img src="{{imageUrl}}{{promotion.image}}" class="img-responsive">
		</div>
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 fontLarge">
				<b>{{promotion.name}}</b>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 fontSmall">
				{{promotion.desc}}
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 promotionLockImage" *ngIf = "promotion.restaurantOptions">
			<div *ngIf = "promotion.restaurantOptions.length > 0">
				<div *ngIf = "promotion.restaurantOptions.indexOf(restaurants._id) > -1">
					<a class="btn btn-success nextButton" [routerLink]="['/owner/marketing/promotions/edit-template', promotion._id]">NEXT</a>
				</div>
				<div *ngIf = "promotion.restaurantOptions.indexOf(restaurants._id) == -1">
					<a [routerLink]="['/owner/marketing/promotions/subscription', promotion._id]">
						<img src="/assets/images/lock.png"><br>
						<a href="javascript:void(0)">View details</a>
					</a>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 promotionLockImage" *ngIf = "!promotion.restaurantOptions">
			<a [routerLink]="['/owner/marketing/promotions/subscription', promotion._id]">
				<img src="/assets/images/lock.png"><br>
				<a href="javascript:void(0)">View details</a>
			</a>
		</div>
	</div>
</div>

