<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black" data-image="../../assets/img/login.jpeg">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                       	<h4 class="card-title" style="text-align: center">Password Reset Successfully !!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>