<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
        <ion-title>
            <ion-icon name="cart" item-start></ion-icon> &nbsp;Orders
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	
    <ion-item class="headingClass">
        <ion-row>Summary :</ion-row>
    </ion-item>
        
    <ion-row class="summaryClass">
        <ion-col col-6 text-center class="borderRight">
            <!-- <ion-row> -->
                <div>${{totalCash |number : '1.2-2'}}</div>
                <div class="amountDescription">Cash Due From Driver</div>
            <!-- </ion-row> -->
        </ion-col>
        <ion-col col-6 text-center>
            <!-- <ion-row> -->
                <div>${{totalTip |number : '1.2-2'}}</div>
                <div class="amountDescription">Total Driver Earnings</div>
            <!-- </ion-row> -->
        </ion-col>
    </ion-row>

	<ion-item class="headingClass">
        Detail :
        <button float-right no-margin ion-button clear (click)="presentActionSheet()">  <ion-icon name="funnel"></ion-icon></button>
    </ion-item>

    <ion-list>	
        <ion-item *ngFor="let order of orders" (click)="cleintDetail(order)" [ngStyle] = "detailBackground(order)">
            <ion-row>
                <ion-col no-padding class="fontWeight500 paddingBottom3">
                    <ion-icon name="pin"></ion-icon>
                    <span *ngIf = "order.orderMethod" class="font14px whiteSpaceInitial"> {{order.orderMethod.streetName}}, {{order.orderMethod.city}} </span>
                </ion-col>
                <ion-col col-3 text-right>
                    <ion-badge item-end>${{order.gTotal | number : '1.2-2'}}</ion-badge>
                </ion-col>
            </ion-row>
            <ion-row  class="font14px whiteSpaceInitial">
                {{order.created_at | date:'short' }}, 
                <span *ngIf = "order.orderPayment">
                    <span *ngIf = "order.orderPayment.cash">CASH</span>
                    <span *ngIf = "order.orderPayment.cardinternet">CARD VIA INTERNET</span>
                    <span *ngIf = "order.orderPayment.cardpickup">CARD AT DELIVERY</span>
                </span>
            </ion-row>
		</ion-item>
	</ion-list>
</ion-content>

