<div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>
                            User <small>Statistics Overview</small>
                        </h1>                        
                    </div>
                </div>
                <div class="row newmargin11">
                    <div class="col-lg-12">
                        <alert></alert>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                            <input type="text" [(ngModel)]="customerFilter.email" placeholder="Search" class="pull-right">
                        </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <h3 class="panel-title pull-left"><i class="fa fa-fw fa-users"></i> User List</h3>
                                    <a class="btn pull-right" [routerLink]="['/admin/customer/add']">Add</a>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                
                                                <th><a (click)="sortBy('firstname')" href="javascript:void(0)">First Name</a></th>
                                                <th><a (click)="sortBy('lastname')" href="javascript:void(0)">Last Name</a></th>
                                                <th><a (click)="sortBy('email')" href="javascript:void(0)">email</a></th>
                                                <th>Package Purchage</th>
                                                <th>Active</th>
                                                <th>Action</th>
                                                <th> Featured </th>
                                                <th>Blocked User</th>
                                                <th> Abuse Reports </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let customer of customerslist|orderBy:order : reverse| filterBy: customerFilter">
                                                
                                                <td>{{customer.firstname}}</td>
                                                <td>{{customer.lastname}}</td>

                                                <td>{{customer.email}}</td>
                                                <td> 
                                                 <span *ngIf="customer.mypackage"> Yes   <span *ngIf="customer.mypackage.remaincalls > 0"> ( {{customer.mypackage.remaincalls}} Calls) / ( {{customer.mypackage.noofcalls}} Calls) <br>  {{customer.mypackage.name}}  </span>

                                                  <span *ngIf="customer.mypackage.remaincalls == 0">(0 Calls) </span> </span>
                                                 <span *ngIf="!customer.mypackage"> No </span>
                                                 </td>
                                                <td><span *ngIf="customer.activate == true">Yes</span><span *ngIf="customer.activate == false">No</span></td>
                                                
                                                <td>
                                                    <a  [routerLink]="['/admin/customer/edit/',customer._id]"><i class="icon ion-edit"></i></a>
                                                    <a  (click)="deleteCustomer(customer._id)" href="javascript:void(0)"><i class="icon ion-trash-a"></i></a>
                                                </td>
                                                <td>{{customer.featured == true ? 'Yes' : 'No'}} </td>

                                                <td>
                                                    <a *ngIf="checkblock(customer._id)"  [routerLink]="['/admin/blockeduser/',customer._id]"><i class="icon ion-ios-grid-view"></i> View</a>                                                 
                                                </td>

                                                <td>
                                                    <a  *ngIf="checkreport(customer._id)" [routerLink]="['/admin/viewabusereport/',customer._id]"><i class="icon ion-ios-grid-view"></i> View</a>                            
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <!-- <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>