.pt-80{
	padding-top: 80px;
}

.custom-dropdown-menu {
    left: unset;
    right: 0;
}

.brick { 
    width: 100px !important;
 }
 .box{
     border: 1px solid gainsboro;
     padding: 10px;
 }
 .search-results {
            height: calc(100vh - 65px);;
            overflow: scroll;
            overflow-x: hidden;
        }
