<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-navyblue">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['/dashboard']">Showcase.Social</a>
        <a *ngIf="currentCustomer != undefined" class="navbar-brand p-0" href="javascript:void(0)">
            <img *ngIf="currentCustomer.image" [src]="currentCustomerImage" class="rounded-circle rounded-circle d-none d-sm-block d-md-none d-block d-sm-none"
                width="30" height="30">
            <img *ngIf="!currentCustomer.image" src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle rounded-circle d-none d-sm-block d-md-none d-block d-sm-none"
                width="30" height="30">
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto category-navbar " id="category-navbar">
                <span *ngFor="let category of categories let i = index">

                    <li class="nav-item dropdown px-3 " routerLinkActive="active" [ngClass]="slugify(category.name)" style="display: -webkit-box;" *ngIf="i < 3">
                        <a class="nav-link text-cap" id="navlink-{{category._id}}" [routerLink]="['/view/',category._id]"> {{ (category.name.length >= 20) ? (category.name | slice:0:20)+'..':(category.name) }}</a>
                        <a class="nav-link dropdown-toggle" *ngIf="currentCustomer" [id]="category._id" id="dropdown01"
                            href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="javascript:void(0)" (click)="doShare(category)">
                                <i class="fa fa-share"></i> Share</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)="doEmbed(category)">
                                <i class="fa fa-code"></i> Embeded</a>
                            <a class="dropdown-item" href="javascript:void(0)" (click)='openManage(category)'>
                                <i class="fa fa-cog"></i> Manage</a>
                        </div>
                    </li>
                </span>
                <li class="nav-item dropdown px-3" *ngIf="categories?.length > 3">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More...
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <span *ngFor="let category of categories; let i = index">
                            <li class="dropdown-submenu" *ngIf=" i >= 3 ">
                                <a class="dropdown-item text-cap"  id="navlink-{{category._id}}" [routerLink]="['/view/',category._id]"> {{ (category.name.length >= 20) ? (category.name | slice:0:20)+'..':(category.name) }}</a>
                                <a class="dropdown-item dropdown-toggle text-cap" href="javascript:void(0)"></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="doShare(category)">
                                            <i class="fa fa-share"></i> Share </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)" (click)="doEmbed(category)">
                                            <i class="fa fa-code"></i> Embeded</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" [routerLink]="['/setting/',category._id]">
                                            <i class="fa fa-cog"></i> Manage</a>
                                    </li>
                                </ul>
                            </li>
                        </span>
                    </ul>
                </li>
                <li class="nav-item pl-3">
                    <a class="nav-link" href="javascript:void(0)" (click)="addCategory()"> Add new
                        <i class="fa fa-plus-circle"></i>
                    </a>
                </li>

            </ul>
            <form class="form-inline mt-2 mt-md-0" [formGroup]="addLinkForm" (ngSubmit)="addLink()">
                <input class="form-control addlinkfield" style="width:auto" type="text" formControlName="title" placeholder="Paste link here..."
                    aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0 addlinkfieldbtn" type="submit" [disabled]="!addLinkForm.valid">
                    <i class="fa fa-plus"></i>
                </button>
            </form>
            <ul class="navbar-nav d-none d-sm-block ">
                <li class="nav-item dropdown pl-2">
                    <a *ngIf="currentCustomer != undefined" class="nav-link dropdown-toggle p-0" id="dropdown01" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img *ngIf="currentCustomer.image" [src]="currentCustomerImage" class="rounded-circle" width="30" height="30">
                        <img *ngIf="!currentCustomer.image" src="https://www.w3schools.com/howto/img_avatar.png" class="rounded-circle" width="30"
                            height="30">
                    </a>
                    <div class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" [routerLink]="['/profile']">Profile</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- The category Modal  -->
<div id="categoryModal" class="modal dark-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelClose()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        <i class="fa fa-cogs text-warning"></i> Add Category
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-2">
                                <form [formGroup]="addCategoryForm" (ngSubmit)="addCategoryData('')">
                                    <div class="form-group">
                                        <label for="">Showcase name</label>
                                        <input type="text" formControlName="name" class="form-control" placeholder="type here...">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Position in menu</label>
                                        <select class="form-control" formControlName="position">
                                            <option [ngValue]="1" selected>Top</option>
                                            <option *ngFor="let category of categories; let i = index" [ngValue]="category.position+1">After {{category.name}}</option>
                                        </select>
                                    </div>
                                    <button type="button" class="btn btn-danger float-left px-5 rounded-1" (click)="modelClose()">Cancel</button>
                                    <button type="submit" class="btn btn-warning float-right px-5 rounded-1" [disabled]="!addCategoryForm.valid">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The category Modal  -->
<div id="warningModal" class="modal dark-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelWarningClose()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        <i class="fa fa-cogs text-warning"></i> Subscription Only Feature
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-2">
                                <p>As a free user, you can add posts to your showcase share for the to see.</p>
                                <p>To create additional showcases or embed showcases elsewhere, we need to upgrade your account.</p>
                                <button type="button" class="btn btn-danger float-left px-5 rounded-1" (click)="modelWarningClose()">Cancel</button>
                                <a type="submit" class="btn btn-warning float-right px-5 rounded-1" [routerLink]="['/profile']">Manage Account</a>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The bookmark Modal  -->
<div id="bookmarkModal" class="modal dark-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelBookmarkCloseEmptyForm()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        <i class="fa fa-plus text-warning"></i> Add Bookmark
                    </div>
                    <div class="card-body preview-bookmark">
                        <div id="fb-root"></div>

                        <div class="row">
                            <div class="col">
                                <div class="loading-view text-center" id="loader">
                                    <img src="./assets/loader.svg">
                                    <br>
                                    <h2>Loading...</h2>
                                </div>
                                <p class="text-center">Preview your link before adding</p>
                                <p class="text-center text-danger">Display not quite right ?</p>
                                <div id="bookMark" class="mx-auto text-center"></div>
                                <div class="row mt-2"  *ngIf="invalidUrl">
                                    <div class="col-12">
                                        <form  class="form-inline mt-2 mt-md-0 " [formGroup]="addLinkForm" (ngSubmit)="addLink()">
                                            <input class="form-control addlinkfield" style="width:calc(100% - 75px);" type="text" formControlName="title" placeholder="Paste link here..."
                                                aria-label="Search">
                                            <button class="btn btn-outline-primary my-2 my-sm-0 addlinkfieldbtn" type="submit" [disabled]="!addLinkForm.valid">
                                                <i class="fa fa-plus"></i> Add
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="mx-5 "  *ngIf="!invalidUrl">
                                    <div class="custom-control custom-radio custom-control-inline mt-3">
                                        <input type="radio" id="customRadio1" name="customRadio" (click)="bookmarkPosition('top')" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customRadio1">Add to top</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline mt-3">
                                        <input type="radio" id="customRadio2" name="customRadio" (click)="bookmarkPosition('bottom')" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">Add to bottom</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-danger float-left px-5 rounded-1" (click)="modelBookmarkCloseEmptyForm()">Cancel</button>
                        <button type="button" class="btn btn-warning float-right px-5 rounded-1" (click)="openCopyToModel()" [disabled]="invalidUrl">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The copt to showcase Modal  -->
<div id="copytokModal" class="modal dark-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <form [formGroup]="addCategoryForm" (ngSubmit)="addCategoryData('close')">
                    <div class="card rounded-1">
                        <span class="close signupclose" (click)="modelCopyToClose()">&times;</span>
                        <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                            <i class="fa fa-files-o text-warning"></i> Copy to showcase
                        </div>
                        <div class="card-body preview-bookmark">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <select multiple class="form-control" #categorySelect>
                                            <option *ngFor="let category of categories; let i = index" (click)="categorySelected(category._id)">{{category.name}}</option>
                                            <option (click)="openNewShowcase()">Create new showcase</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="showcaseField">
                                        <label for="">Showcase name</label>
                                        <input type="text" formControlName="name" class="form-control" placeholder="type here...">
                                    </div>
                                    <div class="form-group" *ngIf="showcaseField">
                                        <label for="exampleFormControlSelect1">Position in menu</label>
                                        <select class="form-control" formControlName="position">
                                            <option *ngFor="let category of categories; let i = index" [ngValue]="category.position+1">After {{category.name}}</option>
                                        </select>
                                    </div>
                                    <!-- 
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadio1" name="customRadio" (click)="bookmarkPosition('top')" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customRadio1">Add to top</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline ">
                                        <input type="radio" id="customRadio2" name="customRadio" (click)="bookmarkPosition('bottom')" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadio2">Add to bottom</label>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-danger float-left px-5 rounded-1" (click)="modelCopyToClose()">Cancel</button>
                            <button type="submit" class="btn btn-warning float-right px-5 rounded-1 addcat" [disabled]="!addCategoryForm.valid" *ngIf="showcaseField">Add</button>
                            <!--  <button type="button" class="btn btn-warning float-right px-5 rounded-1" (click)="addBoodmark()" [disabled]="!categorySelectedId"
                                *ngIf="!showcaseField">Add</button> -->
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The share Modal  -->
<div id="shareModal" class="modal dark-bg">
    <div class="container" *ngIf="category">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelShareClose()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1 text-cap">
                        <i class="fa fa-share text-warning"></i> Share {{category.name}}
                    </div>
                    <div class="card-body preview-bookmark">
                        <p>Share your showcase “{{category.name}}” directly to social</p>
                        <!--  <div class="row text-center mb-5">
                            <div class="col-12">
                                <share-button theme="material-dark" class="px-1" button="facebook" [url]="socialShareUrl" text="Facebook" showText="true"></share-button>
                                <share-button theme="material-dark" button="twitter" text="Twitter"  [url]="socialShareUrl" showText="true"></share-button>
                                <share-button theme="material-dark" button="google" text="Google" [url]="socialShareUrl" showText="true"></share-button>
                            </div>
                            <div class="col-12">
                                <share-button theme="material-dark"  button="pinterest" [url]="socialShareUrl" text="Pinterest" showText="true"></share-button>
                                <share-button theme="material-dark" button="linkedin" [url]="socialShareUrl" text="Linkedin" showText="true"></share-button>
                                <share-button theme="material-dark" button="stumble" [url]="socialShareUrl"  text="Stumble" showText="true"></share-button>
                            </div>
                        </div> -->
                        <share-buttons [url]="socialShareUrl"></share-buttons>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Or copy and paste the following on your favourite social channel:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{socialShareUrl}}" placeholder="">
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-danger px-5 rounded-1 mb-2" (click)="modelShareClose()">Close</button>
                        <p class="p-0">Want to embed this showcase on your blog or website?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- The embed Modal  -->
<div id="embedModal" class="modal dark-bg">
    <div class="container" *ngIf="category">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelEmbedClose()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1 text-cap">
                        <i class="fa fa-code text-warning"></i> Embed {{category.name}}
                    </div>
                    <div class="card-body preview-bookmark">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1" class="pb-2">You can embed this showcase on your blog by copying and pasting the following:</label>
                                <p class="box">&lt;div id=&quot;showcaseSocialBlock&quot; data-showcaseID='{{category._id}}'&gt;&lt;/div&gt;&lt;script
                                    src=&quot;{{siteUrl}}embed.min.js&quot;&gt;&lt;/script&gt;
                                </p>
                                <button type="button" class="btn btn-primary px-5 rounded-1 float-right" ngxClipboard [cbContent]="textToCopy" (click)="copyToClipboard()">Copy to clipboard</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <button type="button" class="btn btn-danger px-5 rounded-1" (click)="modelEmbedClose()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The manage Modal  -->
<div id="manageModal" class="modal dark-bg">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <div class="card rounded-1" *ngIf="moveCategory">
                    <span class="close signupclose" (click)="modelManageClose()">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        <i class="fa fa-cogs text-warning"></i> Manage {{moveCategory.name}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 mb-2">
                                <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategoryData()">
                                    <div class="form-group">
                                        <label for="">Showcase name</label>
                                        <input type="text" class="form-control" formControlName="name" placeholder="tyoe here...">
                                    </div>
                                    <div class="form-group" *ngIf="currentCustomer && currentCustomer.ispaid">
                                        <label for="exampleFormControlSelect1">Position in menu </label>
                                        <select class="form-control" formControlName="position">
                                            <option [ngValue]="1" [selected]="1">Top</option>
                                            <ng-container *ngFor="let category of categories; let i = index">
                                                <option [ngValue]="category.position+1" *ngIf="moveCategory._id != category._id">After {{category.name}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                    <a *ngIf="currentCustomer && currentCustomer.ispaid" class="btn btn-danger float-left px-5 rounded-1 " href="javascript:void(0)" (click)="doDeleteBoard(moveCategory._id)">Delete</a>
                                    <button type="submit" class="btn btn-warning float-right px-5 rounded-1" [disabled]="!updateCategoryForm.valid">Save</button>
                                </form>
                            </div>
                            <div class="col-4 mb-2 text-center">
                                <a href="javascript:void(0)" class="btn btn-warning " style="margin: 4rem 0;" (click)="gotoLayout(moveCategory._id)">Edit Layout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>