<app-profileheader [childMessage]="parentMessage"></app-profileheader>
<div class="container-fluid" *ngIf="category" style="padding-top: 75px;">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 mb-5 ">
            <div class="row mb-3">
                <div class="col text-center pointer" (click)="doDelete()" >
                    <i class="fa fa-trash icon-circle"></i> Deleted selected</div>
                <div class="col text-center pointer">
                    <i class="fa fa-copy icon-circle"></i> Copy selected to showcase</div>
            </div>
            <h3 *ngIf="! bookmarks?.length > 0" class="text-muted text-center pt-5">Bookmarks list empty.</h3>
            <ul class="list-group">
                <li class="list-group-item custom-list-group-item" *ngFor="let bookmark of bookmarks; let i = index;">
                    <div class="row">
                        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                            <div class="count-circle">{{i+1}}</div>
                            <br>
                            <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" (click)="doSelect(bookmark._id)">
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-6 pl-0  col-6 ">
                            <div *ngIf="bookmark.type == 'instagram' || bookmark.type == 'twitter'"  [innerHtml]="bookmark.body"></div>
                            <iframe *ngIf="bookmark.type != 'instagram' && bookmark.type != 'twitter'"  [src]="videoUrl(bookmark.title)" width="100%"></iframe>
                        </div>
                        <div class="col-xl-3 col-lg-7 col-md-7 col-sm-7 col-8 mt-4 ">
                            <ul>
                                <li class="pb-2">
                                    <a>
                                        <i class="fa fa-trash icon-circle icon-opt"></i>
                                        <span class="fs-13">Delete</span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <i class="fa fa-copy icon-circle icon-opt"></i>
                                        <span class="fs-13">Copy</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 col-4 px-0 mt-4">
                            <ul>
                                <li class="pb-2 float-right" *ngIf="i!=0">
                                    <a (click)="changePosition('up',bookmark._id, bookmark.position)">
                                        <span class="fs-13" >Move up</span>
                                        <i class="fa fa-caret-down icon-opt icon-circle"></i>
                                    </a>
                                </li>
                                <li class="pb-2 float-right">
                                    <a (click)="changePosition('down',bookmark._id, bookmark.position)">
                                        <span class="fs-13">Move down</span>
                                        <i class="fa fa-caret-down icon-opt icon-circle"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 mb-5 work-box">
            <h4 class="text-center">
                <i class="fa fa-cogs text-warning"></i> Manage {{category[0].name}}</h4>
            <hr>
            <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategoryData()">
                <div class="form-group">
                    <label for="">Showcase name</label>
                    <input type="text" class="form-control" formControlName="name"  placeholder="tyoe here...">

                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Position in menu</label>
                    <select class="form-control" formControlName="position">
                        <option value="1">Top</option>
                      <option *ngFor="let category of categories; let i = index" [ngValue]="category.position+1">After {{category.name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning float-right px-5 rounded-1" [disabled]="!updateCategoryForm.valid">Save</button>
            </form>
        </div>
    </div>
</div>