<app-profileheader [childMessage]="parentMessage"></app-profileheader>

<div class="container-fluid" *ngIf="category" style="padding-top: 75px;">
    
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-6 mb-5 ">
            <div class="row mb-3" *ngIf="bookmarks?.length > 0 ">
                <ng-container *ngIf="bookmarks_ids?.length == 0">
                    <div class="col text-center ">
                        <i class="fa fa-trash icon-circle"></i> Deleted selected
                    </div>
                    <div class="col text-center ">
                        <i class="fa fa-copy icon-circle"></i> Copy selected to showcase
                    </div>
                </ng-container>
                <ng-container *ngIf="bookmarks_ids?.length > 0">
                    <div class="col text-center pointer" (click)="doDelete()">
                        <i class="fa fa-trash icon-circle"></i> Deleted selected
                    </div>
                    <div class="col text-center pointer" (click)="doSelectedCopy()">
                        <i class="fa fa-copy icon-circle"></i> Copy selected to showcase
                    </div>
                </ng-container>
            </div>
            <h3 *ngIf="bookmarks?.length == 0" class="text-muted text-center pt-5">No bookmarks available.</h3>
            <div class="settingBookmark">
            <div *ngIf="bookmarks?.length != 0" class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
                [scrollWindow]="false">
            <ul class="list-group bookmark-ul">
                    
                <li class="bookmark-item list-group-item custom-list-group-item" *ngFor="let bookmark of bookmarks; let i = index; let last = last;" id="item-{{bookmark._id}}">
                    <div class="row">
                        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-6 text-center">
                            <div class="count-circle" id="count-{{bookmark._id}}">{{i+1}}</div>
                            <br>
                            <div class="form-check text-center">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" (click)="doSelect(bookmark)">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 pl-0  col-6 ">
                            <div *ngIf="bookmark.type == 'youtube' || bookmark.type == 'instagram' || bookmark.type == 'twitter' || bookmark.type == 'facebook' "
                                [innerHtml]="bookmark.body | safeHtml"></div>
                            <iframe *ngIf="bookmark.type != 'youtube' && bookmark.type != 'instagram' && bookmark.type != 'twitter' && bookmark.type != 'facebook'"
                                [src]="videoUrl(bookmark.title)" width="100%" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-xl-2 col-lg-7 col-md-7 col-sm-7 col-8 mt-4 ">
                            <ul>
                                <li class="pb-2">
                                    <a (click)="doDeleteBookmark(bookmark._id)" class="pointer">
                                        <i class="fa fa-trash icon-circle icon-opt"></i>
                                        <span class="fs-13">Delete</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="doCopy(bookmark)" class="pointer">
                                        <i class="fa fa-copy icon-circle icon-opt"></i>
                                        <span class="fs-13">Copy</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                        <div class="col-xl-2 col-lg-5 col-md-5 col-sm-5 col-4 px-0 mt-4 move-botton">
                            <ul>
                                <li class="pb-2 float-right pointer move-up" >
                                    <a (click)="changePosition('up',bookmark._id, bookmark.position)" >
                                        <span class="fs-13">Move up</span>
                                        <i class="fa fa-caret-up icon-opt icon-circle"></i>
                                    </a>
                                </li>
                                <li class="pb-2 float-right pointer move-down"  >
                                    <a (click)="changePosition('down',bookmark._id, bookmark.position)">
                                        <span class="fs-13">Move down</span>
                                        <i class="fa fa-caret-down icon-opt icon-circle"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                
            </ul>
            </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-6 mb-5 work-box">
            <h4 class="text-center">
                <i class="fa fa-cogs text-warning"></i> Manage {{category[0].name}}</h4>
            <hr>
            <form [formGroup]="updateCategoryForm" (ngSubmit)="updateCategoryData()">
                <div class="form-group">
                    <label for="">Showcase name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="tyoe here...">

                </div>
                <div class="form-group" *ngIf="currentCustomer && currentCustomer.ispaid">
                    <label for="exampleFormControlSelect1">Position in menu </label>
                    <select class="form-control" formControlName="position">
                        <option [ngValue]="1">Top</option>
                        <ng-container *ngFor="let category of categories; let i = index">
                            <option [ngValue]="category.position+1" *ngIf="parentMessage != category._id">After {{category.name}}</option>
                        </ng-container>
                    </select>
                </div>
                <a class="btn btn-danger float-left px-5 rounded-1 " href="javascript:void(0)" (click)="doDeleteBoard(parentMessage)">Delete</a>
                <button type="submit" class="btn btn-warning float-right px-5 rounded-1" [disabled]="!updateCategoryForm.valid">Save</button>
            </form>
        </div>
    </div>
    
</div>
<!-- The copy2 to showcase Modal  -->
<div id="copy2Modal" class="modal dark-bg">
    <span class="close" (click)="modelCopy2Close()">&times;</span>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 col-xs-12">
                <form [formGroup]="addCategoryForm" (ngSubmit)="addCategoryData()">
                    <div class="card rounded-1">
                        <span class="close signupclose" (click)="modelCopy2Close()">&times;</span>
                        <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                            <i class="fa fa-files-o text-warning"></i> Copy to showcase
                        </div>
                        <div class="card-body preview-bookmark">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <select multiple class="form-control" id="exampleFormControlSelect2">
                                            <ng-container *ngFor="let category of categories; let i = index">
                                                <option (click)="categorySelected(copyShowcaseBookmark, category._id, copyShowcaseBookmarks)" *ngIf="parentMessage != category._id">{{category.name}}</option>
                                            </ng-container>
                                            <option (click)="openNewShowcase(copyShowcaseBookmark, copyShowcaseBookmarks)">Create new showcase</option>
                                        </select>
                                    </div>
                                    <div class="form-group" *ngIf="showcaseField">
                                        <label for="">Showcase name</label>
                                        <input type="text" formControlName="name" class="form-control" placeholder="type here...">
                                    </div>
                                    <div class="form-group" *ngIf="showcaseField">
                                        <label for="exampleFormControlSelect1">Position in menu</label>
                                        <select class="form-control" formControlName="position">
                                            <option [ngValue]="1" selected>Top</option>
                                            <option *ngFor="let category of categories; let i = index" [ngValue]="category.position+1">After {{category.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-danger float-left px-5 rounded-1" (click)="modelCopy2Close()">Cancel</button>
                            <button type="submit" class="btn btn-warning float-right px-5 rounded-1 addcat" [disabled]="!addCategoryForm.valid" *ngIf="showcaseField">Add</button>
                            <button type="button" class="btn btn-warning float-right px-5 rounded-1" (click)="addBoodmark()" [disabled]="!categorySelectedId"
                                *ngIf="!showcaseField">Add</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>