<app-frontendheader></app-frontendheader>
<div style="padding-top: 65px;">
    <h1 *ngIf="bookmarks?.length <= 0" class="text-center text-muted pt-5">No bookmarks available.</h1>

    <div [ngClass]="(bookmarks?.length)?'search-results':''" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()" [scrollWindow]="false">
        <div id="showcaseSocialBlock" class="grid" style="padding-left:10px;"></div>
        <img src="https://measuremight.com:3002/assets/loader.svg" alt="loading" id="viewloader" *ngIf="loader" style="bottom: 0;
 position: absolute; left: 0px; right: 0px; margin: auto;">
    </div>
    <!-- <div *ngFor="let bookmark of bookmarks; let i = index; let last = last;">
		<div *ngIf="bookmark.type == 'facebook'" class="fb-post" [attr.data-href]="bookmark.url"></div>	
	</div> -->
</div>