.width25percent{
	width: 25%;
}

.fa-chevron-circle-down , .fa-chevron-circle-up{
	float: right;
}

.topHeader span{
	float: right;
}


.topHeader{
	padding: 1rem 6rem;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    background: yellowgreen;
    color: white;
    border-bottom: 3px solid black;
}

.sideMenu{
	border-right: 3px solid black;
}

.option-menu{
	padding-left: 0;
}

li.selected, li.selected a, li.selected .fa {
    background: yellowgreen;
    color: white !important;
}

.list-group-item{
	cursor: pointer;
	border-top: 1px solid rgba(0,0,0,.125) !important;
}

.mainPage{
	padding: 0;
	height: calc(100vh - 10rem);
    display: inline-flex;
}

#topTabs {
	margin:0;
	padding:0;
	list-style:none;
	display: flex;
}

.sideMenu{
	padding: 0;
}

.sideMenu, #wrapper{
    height: inherit;
}