
<ion-content padding [style.background-image] = "backgroundImage()">
	<div>
	    <ion-row class="progress">
		    <ion-row class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" [style.width] = "profileCompletePercent + '%'">
		    	<span text-center>{{profileCompletePercent}}%</span>
		    </ion-row>
	    </ion-row>
	</div>

	<div class="stepsDiv">
		
		<div id="step1" class="colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">How tall You Are?</h3>
			<ion-row *ngIf="user.gender == 'male'" class="heightIcon">
				<img class="ruler" src="assets/images/ruler.png">
				<ion-icon name="man" ios="ios-man" md="md-man" class="tallHeight"></ion-icon>
			</ion-row>
			<ion-row *ngIf="user.gender == 'female'" class="heightIcon">
				<img class="ruler" src="assets/images/ruler.png">
				<ion-icon name="woman" ios="ios-woman" md="md-woman" class="tallHeight"></ion-icon>
			</ion-row>

			<ion-row>
				<ion-item no-padding>
					<ion-label floating>Height</ion-label>
					<ion-input id="heightField" class="form-control" type="text" (keyup)="height($event)" autofocus></ion-input>
				</ion-item>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('height')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('height')">Skip</span>
		</div>

		<div id="step2" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What is Your hair Color?</h3>
			<ion-row *ngIf="user.gender == 'male'" class="heightIcon">
				<img src="assets/images/boy-hair1.svg" *ngIf="colorSelect == 'Black'">				
				<img src="assets/images/boy-hair2.svg" *ngIf="(colorSelect == 'White') || (colorSelect == '')">				
				<img src="assets/images/boy-hair3.svg" *ngIf="colorSelect == 'Light Brown'">				
				<img src="assets/images/boy-hair4.svg" *ngIf="colorSelect == 'Brunette/Brown'">				
				<img src="assets/images/boy-hair5.svg" *ngIf="colorSelect == 'Red'">				
				<img src="assets/images/boy-hair6.svg" *ngIf="colorSelect == 'Blonde'">				
				<img src="assets/images/boy-hair7.svg" *ngIf="colorSelect == 'Other'">				
				<img src="assets/images/bald.svg" *ngIf="colorSelect == 'Bald/Shaven'">	
			</ion-row>
			<ion-row *ngIf="user.gender == 'female'" class="heightIcon">
				<img src="assets/images/girl-hair1.svg" *ngIf="colorSelect == 'Black'">
				<img src="assets/images/girl-hair2.svg" *ngIf="(colorSelect == 'White') || (colorSelect == '')">
				<img src="assets/images/girl-hair3.svg" *ngIf="colorSelect == 'Light Brown'">
				<img src="assets/images/girl-hair4.svg" *ngIf="colorSelect == 'Brunette/Brown'">
				<img src="assets/images/girl-hair5.svg" *ngIf="colorSelect == 'Red'">
				<img src="assets/images/girl-hair6.svg" *ngIf="colorSelect == 'Blonde'">
				<img src="assets/images/girl-hair7.svg" *ngIf="colorSelect == 'Other'">				
				<img src="assets/images/bald.svg" *ngIf="colorSelect == 'Bald/Shaven'">
			</ion-row>

			<ion-row class="colorWhite">
				<ion-label>Choose Color</ion-label>
				<ion-select [(ngModel)]="colorSelect" submitText="Ok" cancelText="Cancel" (ionChange)="hairColorFunction()">
					<ion-option value="Black">Black</ion-option>
					<ion-option value="Light Brown">Light Brown</ion-option>
					<ion-option value="Brunette/Brown">Brunette/Brown</ion-option>
					<ion-option value="Red">Red</ion-option>
					<ion-option value="Blonde">Blonde</ion-option>
					<ion-option value="Bald/Shaven">Bald/Shaven</ion-option>
					<ion-option value="Other">Other</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('haircolor')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('haircolor')">Skip</span>
		</div>

		<div id="step3" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What is your body type?</h3>
			<ion-row *ngIf="user.gender == 'male'" class="heightIcon">
				<img src="assets/images/male-body.svg">
			</ion-row>
			<ion-row *ngIf="user.gender == 'female'" class="heightIcon">
				<img src="assets/images/female-body.svg">
			</ion-row>

			<ion-row class="colorWhite">
				<ion-label>Choose Color</ion-label>
				<ion-select [(ngModel)]="bodySelect" submitText="Ok" cancelText="Cancel" (ionChange)="bodyFunction()">
					<ion-option value="Petite">Petite</ion-option>
					<ion-option value="Slender">Slender</ion-option>
					<ion-option value="Medium">Medium</ion-option>
					<ion-option value="Few Extra Pounds">Few Extra Pounds</ion-option>
					<ion-option value="Well Built">Well Built</ion-option>
					<ion-option value="Overweight">Overweight</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('bodyshape')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('bodyshape')">Skip</span>
		</div>

		<div id="step4" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">Choose your Marital Status</h3>
			<ion-row class="heightIcon">
				<ion-col text-center *ngIf="user.gender == 'male'" (click)="maritalS(false)">
					<!-- <img class="maleBody" src="assets/images/male-body.svg"> -->
					<ion-icon class="font100" name="man" ios="ios-man" md="md-man"></ion-icon>
					<ion-row text-center>
						<ion-col>Single</ion-col>
					</ion-row>
				</ion-col>
				<ion-col text-center *ngIf="user.gender == 'female'" (click)="maritalS(false)">
					<!-- <img src="assets/images/female-body.svg"> -->
					<ion-icon class="font100" name="woman" ios="ios-woman" md="md-woman"></ion-icon>
					<ion-row text-center>
						<ion-col>Single</ion-col>
					</ion-row>
				</ion-col>
				<ion-col (click)="maritalS(true)">
					<img src="assets/images/marriage-couple.svg" class="height100">
					<ion-row text-center>
						<ion-col>Married</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-label>Have Children</ion-label>
				<ion-select [(ngModel)]="children" (ionChange)="haveChildren()">
					<ion-option value=true>Yes</ion-option>
					<ion-option value=false>No</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('maritalStatus')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('maritalStatus')">Skip</span>
		</div>

		<div id="step5" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">Do You Smoke?</h3>
			<ion-row class="heightIcon">				
				<ion-col>
					<img src="assets/images/smoking.svg">
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-label>Choose</ion-label>
				<ion-select [(ngModel)]="smoke" (ionChange)="smoker()">
					<ion-option value ="occasionally">Occasionally</ion-option>
					<ion-option value ="never">Never</ion-option>
					<ion-option value ="rarely">Rarely</ion-option>
					<ion-option value ="regularly">Regularly</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('smoke')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('smoke')">Skip</span>
		</div>

		<div id="step6" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">Do You Drink?</h3>
			<ion-row class="heightIcon">
				<ion-col>
					<img src="assets/images/drinking.svg">
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-label>Choose</ion-label>
				<ion-select [(ngModel)]="drink" (ionChange)="drinker()">
					<ion-option value ="occasionally">Occasionally</ion-option>
					<ion-option value ="never">Never</ion-option>
					<ion-option value ="rarely">Rarely</ion-option>
					<ion-option value ="regularly">Regularly</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('drink')">Continue</button>
			</ion-row>
			<span class="skipStep" (click)="skipStep('drink')">Skip</span>
		</div>
		<div id="step7" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What is You ProFession?</h3>
			<ion-row class="heightIcon">
				<ion-col *ngIf="user.gender == 'male'">
					<img src="assets/images/businessman.svg">
				</ion-col>
				<ion-col *ngIf="user.gender == 'female'">
					<img src="assets/images/businesswoman.svg">
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-label>Profession</ion-label>
				<ion-select [(ngModel)]="typeOfWork" (ionChange)="profession()">
					<ion-option value = "Aircraft Dispatcher">Aircraft Dispatcher</ion-option>
					<ion-option value = "Aircraft Mechanic">Aircraft Mechanic</ion-option>
					<ion-option value = "Airline Pilot">Airline Pilot</ion-option>
					<ion-option value = "Flight Attendant">Flight Attendant</ion-option>
					<ion-option value = "Arts">Arts</ion-option>
					<ion-option value = "Actor">Actor</ion-option>
					<ion-option value = "Architecture">Architecture</ion-option>
					<ion-option value = "Art Appraiser">Art Appraiser</ion-option>
					<ion-option value = "Art Auctioneer">Art Auctioneer</ion-option>
					<ion-option value = "Artist">Artist</ion-option>
					<ion-option value = "Museum Jobs">Museum Jobs</ion-option>
					<ion-option value = "Music Conductor">Music Conductor</ion-option>
					<ion-option value = "Business">Business</ion-option>
					<ion-option value = "Accountant">Accountant</ion-option>
					<ion-option value = "Administrative Assistant/Secretary">Administrative Assistant/Secretary</ion-option>
					<ion-option value = "Advertising">Advertising</ion-option>
					<ion-option value = "Consultant">Consultant</ion-option>
					<ion-option value = "Financial Advisor">Financial Advisor</ion-option>
					<ion-option value = "Fundraiser">Fundraiser</ion-option>
					<ion-option value = "Government Jobs">Government Jobs</ion-option>
					<ion-option value = "Human Resources">Human Resources</ion-option>
					<ion-option value = "Insurance Agent">Insurance Agent</ion-option>
					<ion-option value = "Investment Banker">Investment Banker</ion-option>
					<ion-option value = "Lawyer">Lawyer</ion-option>
					<ion-option value = "Management">Management</ion-option>
					<ion-option value = "Market Research Analyst">Market Research Analyst</ion-option>
					<ion-option value = "Nonprofit Job">Nonprofit Job</ion-option>
					<ion-option value = "Law Enforcement">Law Enforcement</ion-option>
					<ion-option value = "Criminal Justice">Criminal Justice</ion-option>
					<ion-option value = "Federal Law Enforcement">Federal Law Enforcement</ion-option>
					<ion-option value = "Police Officer">Police Officer</ion-option>
					<ion-option value = "Media">Media</ion-option>
					<ion-option value = "Book Publishing">Book Publishing</ion-option>
					<ion-option value = "Freelance Editor">Freelance Editor</ion-option>
					<ion-option value = "Freelance Writer">Freelance Writer</ion-option>
					<ion-option value = "Public Relations">Public Relations</ion-option>
					<ion-option value = "Web Developer">Web Developer</ion-option>
					<ion-option value = "Writer/Editor">Writer/Editor</ion-option>
					<ion-option value = "Medical">Medical</ion-option>
					<ion-option value = "Doctor">Doctor</ion-option>
					<ion-option value = "Nurse">Nurse</ion-option>
					<ion-option value = "Paramedic">Paramedic</ion-option>
					<ion-option value = "Psychologist">Psychologist</ion-option>
					<ion-option value = "Social Worker">Social Worker</ion-option>
					<ion-option value = "Veterinarian">Veterinarian</ion-option>
					<ion-option value = "Service Industry">Service Industry</ion-option>
					<ion-option value = "Bank Teller">Bank Teller</ion-option>
					<ion-option value = "Call Center">Call Center</ion-option>
					<ion-option value = "Funeral Director">Funeral Director</ion-option>
					<ion-option value = "Hair Stylist">Hair Stylist</ion-option>
					<ion-option value = "Personal Fitness Trainer">Personal Fitness Trainer</ion-option>
					<ion-option value = "Retail">Retail</ion-option>
					<ion-option value = "Sales">Sales</ion-option>
					<ion-option value = "Ski Instructor">Ski Instructor</ion-option>
					<ion-option value = "Waiter">Waiter</ion-option>
					<ion-option value = "Wedding Planner">Wedding Planner</ion-option>					
					<ion-option value = "Career Counselor">Career Counselor</ion-option>
					<ion-option value = "School Jobs">School Jobs</ion-option>
					<ion-option value = "Substitute Teacher">Substitute Teacher</ion-option>
					<ion-option value = "Teacher">Teacher</ion-option>
					<ion-option value = "Teaching Abroad">Teaching Abroad</ion-option>
					<ion-option value = "Teaching Online">Teaching Online</ion-option>
					<ion-option value = "Technology">Technology</ion-option>
					<ion-option value = "App Developer">App Developer</ion-option>
					<ion-option value = "Computer Programmer">Computer Programmer</ion-option>
					<ion-option value = "Database Administrator">Database Administrator</ion-option>
					<ion-option value = "Programmer">Programmer</ion-option>
					<ion-option value = "Software Developer">Software Developer</ion-option>
					<ion-option value = "Web Developer">Web Developer</ion-option>
					<ion-option value = "Other">Other</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addData('prof')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStep('prof')">Skip</span>
		</div>




		<div id="step8" class="colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What’s his/her height?</h3>

			<ion-row *ngIf="user.interestedin == 'male'" class="heightIcon">
				<img class="ruler" src="assets/images/ruler.png">
				<ion-icon name="man" ios="ios-man" md="md-man" class="tallHeight"></ion-icon>
			</ion-row>

			<ion-row *ngIf="user.interestedin == 'female'" class="heightIcon">
				<img class="ruler" src="assets/images/ruler.png">
				<ion-icon name="woman" ios="ios-woman" md="md-woman" class="tallHeight"></ion-icon>
			</ion-row>

			<ion-row>
				<ion-item no-padding>
					<ion-label floating>Min Height in cm</ion-label>
					<ion-input id="heightField" class="form-control" type="text" (keyup)="minheightPref($event)" autofocus></ion-input>
				</ion-item>
				<ion-item no-padding>
					<ion-label floating>Max Height in cm</ion-label>
					<ion-input id="heightField" class="form-control" type="text" (keyup)="maxheightPref($event)" autofocus></ion-input>
				</ion-item>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addDataPref('maxheight')">Continue</button>
			</ion-row>
            <ion-row>
			<span class="skipStep" (click)="skipStepPref('minheight')">Skip</span>
		    </ion-row>
		</div>

		<div id="step9" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What’s his/her hair color?</h3>

			<ion-row *ngIf="user.interestedin == 'male'" class="heightIcon">
				<img src="assets/images/boy-hair1.svg" class="img-height" *ngIf="colorSelectPref == 'Black'">				
				<img src="assets/images/boy-hair2.svg" class="img-height" *ngIf="(colorSelectPref == 'White') || (colorSelectPref == '')">	
				<img src="assets/images/boy-hair3.svg" class="img-height" *ngIf="colorSelectPref == 'Light Brown'">				
				<img src="assets/images/boy-hair4.svg" class="img-height" *ngIf="colorSelectPref == 'Brunette/Brown'">				
				<img src="assets/images/boy-hair5.svg" class="img-height" *ngIf="colorSelectPref == 'Red'">				
				<img src="assets/images/boy-hair6.svg" class="img-height" *ngIf="colorSelectPref == 'Blonde'">				
				<img src="assets/images/boy-hair7.svg" class="img-height" *ngIf="colorSelectPref == 'Other'">				
				<img src="assets/images/bald.svg" class="img-height" *ngIf="colorSelectPref == 'Bald/Shaven'">	
			</ion-row>
			<ion-row *ngIf="user.interestedin == 'female'" class="heightIcon">
				<img src="assets/images/girl-hair1.svg" class="img-height" *ngIf="colorSelectPref == 'Black'">
				<img src="assets/images/girl-hair2.svg" class="img-height" *ngIf="(colorSelectPref == 'White') || (colorSelectPref == '')">
				<img src="assets/images/girl-hair3.svg" class="img-height" *ngIf="colorSelectPref == 'Light Brown'">
				<img src="assets/images/girl-hair4.svg" class="img-height" *ngIf="colorSelectPref == 'Brunette/Brown'">
				<img src="assets/images/girl-hair5.svg" class="img-height" *ngIf="colorSelectPref == 'Red'">
				<img src="assets/images/girl-hair6.svg" class="img-height" *ngIf="colorSelectPref == 'Blonde'">
				<img src="assets/images/girl-hair7.svg" class="img-height" *ngIf="colorSelectPref == 'Other'">				
				<img src="assets/images/bald.svg" class="img-height" *ngIf="colorSelectPref == 'Bald/Shaven'">
			</ion-row>

			<ion-row class="colorWhite">
				<ion-label>Choose Color</ion-label>
				<ion-select [(ngModel)]="colorSelectPref" submitText="Ok" cancelText="Cancel" (ionChange)="hairColorFunctionPref()">
					<ion-option value="Black">Black</ion-option>
					<ion-option value="Light Brown">Light Brown</ion-option>
					<ion-option value="Brunette/Brown">Brunette/Brown</ion-option>
					<ion-option value="Red">Red</ion-option>
					<ion-option value="Blonde">Blonde</ion-option>
					<ion-option value="Bald/Shaven">Bald/Shaven</ion-option>
					<ion-option value="Other">Other</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addDataPref('haircolor')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStepPref('haircolor')">Skip</span>
		</div>

		<div id="step10" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin8">What’s his/her body type?</h3>
			<ion-row *ngIf="user.interestedin == 'male'" class="heightIcon">
				<img src="assets/images/male-body.svg">
			</ion-row>
			<ion-row *ngIf="user.interestedin == 'female'" class="heightIcon">
				<img src="assets/images/female-body.svg">
			</ion-row>

			<ion-row class="colorWhite">
				<ion-label>Choose Color</ion-label>
				<ion-select [(ngModel)]="bodySelectPref" submitText="Ok" cancelText="Cancel" (ionChange)="bodyFunctionPref()">
					<ion-option value="Petite">Petite</ion-option>
					<ion-option value="Slender">Slender</ion-option>
					<ion-option value="Medium">Medium</ion-option>
					<ion-option value="Few Extra Pounds">Few Extra Pounds</ion-option>
					<ion-option value="Well Built">Well Built</ion-option>
					<ion-option value="Overweight">Overweight</ion-option>
				</ion-select>
			</ion-row>

			<ion-row>
				<button margin-top ion-button full class="bcColor" (click)="addDataPref('bodyshape')">Continue</button>
			</ion-row>

			<span class="skipStep" (click)="skipStepPref('bodyshape')">Skip</span>
		</div>

		<div id="step11" class=" colorWhite hideStep">
			<h3 text-center class="labelColorOrange margin60-8">Check your mail to Activate your Account</h3>			
		    <ion-row>
				<button margin-top ion-button full class="bcColor" (click)="goToLoginPage()">Finish</button>
			</ion-row>
		</div>
	</div>
</ion-content>
