
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top">
        <div class="container">
            <a class="navbar-brand"[routerLink]="['/']"> <img src="/assets/frontend/img/Bitcoin.png" width="50" height="50" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a [routerLink]="['/']" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="about" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                        About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="about">
                            <a class="dropdown-item" href="javascript:void(0)">Who we are</a>
                            <a class="dropdown-item" href="javascript:void(0)">FAQs</a>
                            <a class="dropdown-item" href="javascript:void(0)">Privacy Policy</a>
                            <a class="dropdown-item" href="javascript:void(0)">Security Policy</a>
                        </div>
                    </li>
                
                    <li class="nav-item active" *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/plan']">Plan</a></li>
                    <li class="nav-item active" *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/trade-history']">Trade</a></li>
                    <li class="nav-item active" *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/dashboard']">Market</a></li>
                    <li class="nav-item active" *ngIf="userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/profile']">Profile</a></li>
                    <li class="nav-item active" *ngIf="!userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
                    <li class="nav-item active" *ngIf="!userService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a class="nav-link" [routerLink]="['/signup']">Sign Up</a></li>
                    <li class="nav-item active" *ngIf="userService.loggedIn()"><a class="nav-link" (click)="onLogoutClick()" href="javascript:void(0)">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

