<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 topHeader">
	Home Component
	<span (click) = "settingPage()" style="cursor: pointer;"><i class="fa fa-gear"></i></span>	
</div>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mainPage">
	<div class="sideMenu col-lg-3 col-md-3 col-sm-3 col-xs-3">
		<ul class="list-group list-group-flush leftMenuUl">
			
			<li class="list-group-item" data-toggle="collapse" data-target="#basic-option" #payeeLi (click) = "changeClass(payeeLi)"><strong>Payee</strong><i class = "fa fa-chevron-circle-down"></i>
			</li>
			<div id="basic-option" class="collapse">
				<ul class="option-menu">
					<li class="list-group-item" id="agnt" #agent rel="Agent" (click)="addAnotherTab(agent)">&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Agent
					</li>
					<li class="list-group-item" id="paye" #payee rel="Payee_Hirarchy" (click)="addAnotherTab(payee)">&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Payee Hierarchy
					</li>
				</ul>
			</div>
			

			<li class="list-group-item" data-toggle="collapse" data-target="#service" #transactionLi (click) = "changeClass(transactionLi)">
				<strong>Transaction</strong><i class = "fa fa-chevron-circle-down"></i>
			</li>
			<div id="service" class="collapse">
				<ul class="option-menu">
					<li class="list-group-item" data-toggle="collapse" data-target="#sub-service1" #trans1Li (click) = "changeClass(trans1Li)">
						&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Transaction 1</strong><i class = "fa fa-chevron-circle-down"></i>
					</li>
					<div id="sub-service1" class="collapse">
						<ul class="option-menu">
							<li class="list-group-item" id="sub1" #subTrans1 rel="Sub_Trans_1" (click)="addAnotherTab(subTrans1)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Sub Trans 1
							</li>
							<li class="list-group-item" id="sub2" #sunTrans2 rel="Sub_Trans_2" (click)="addAnotherTab(sunTrans2)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Sub Trans 2
							</li>
						</ul>
					</div>

					<li class="list-group-item" data-toggle="collapse" data-target="#sub-service2" #trans2Li (click) = "changeClass(trans2Li)">
						&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Transaction 2</strong><i class = "fa fa-chevron-circle-down"></i>
					</li>
					<div id="sub-service2" class="collapse">
						<ul class="option-menu">
							<li class="list-group-item" id="sub3" #sunTrans3 rel="Sub_Trans_3" (click)="addAnotherTab(sunTrans3)">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Sub Trans 3
							</li>
						</ul>
					</div>
				</ul>
			</div>
			

			<li class="list-group-item" id="ref" #review (click)="addAnotherTab(review)" rel="Reference">
				<strong>Reference</strong>
			</li>
		</ul>
	</div>


	<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 " id="wrapper">
	    <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding"  id="topTabs">
	        <!-- Tabs go here -->
	    </ul>
	    <div id="content">
	        <!-- Tab content goes here -->
	    </div>
	</div>
</div>