
<div id="wrapper">
    <app-header></app-header>
    <div id="page-wrapper">    
        <div class="container-fluid">               
            <div class="row newmargin11" >
                <div class="col-sm-12 paddingbredcumb">                       
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="icon ion-ios-world"></i> &nbsp; Country / Add
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row newrow1 paddingform1">
                <div> 
                    <form [formGroup]="userAddModel" (ngSubmit)="userAdd()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label>
                            <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" placeholder="name" required>
                        </div>   
                        <a class="btn btn-danger pull-right" [routerLink]="['/admin/country/list']"> Cancel</a>
                        <button type="submit" class="btn btn-success pull-right btnmargin1" [disabled]="!userAddModel.valid">Submit</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>


