<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <ion-list *ngIf="passwordp">
        <form [formGroup]="passwordForm" (ngSubmit)="passwordUpdate()">
            <ion-item>
                <ion-label floating>Old Password</ion-label>
                <ion-input type="text" formControlName="oldpassword" (keyup)="oldpassword()"></ion-input>
            </ion-item>
            <div *ngIf="oldmatch" class="alert alert-danger mt-3" margin-horizontal>
                Old Password not matching!
            </div>
            <ion-item>
                <ion-label floating>New Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.password" class="alert alert-danger mt-3" margin-horizontal>
                {{ formErrors.password }}
            </div>
            <ion-item>
                <ion-label floating>Confrim Password</ion-label>
                <ion-input type="password" formControlName="confirmpassword" (keyup)="matchpassword()"></ion-input>
            </ion-item>

            <div class="alert alert-danger mt-3" margin-horizontal *ngIf="MutchPassword">Password not match</div>
            <button ion-button color="secondary" class="bottom-fixed" full [disabled]="!passwordForm.valid">Change Password</button>
        </form>

    </ion-list>
</ion-content>