<div id="wrapper">
  <app-header></app-header>
  <div id="page-wrapper">
    <router-outlet>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Restaurants
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <alert></alert>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-4 form-group pull-right">
            <input type="text" [(ngModel)]="userFilter.resCode" placeholder="Restaurant Code" class="form-control">
          </div>
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <h3 class="panel-title pull-left"><i class="fa fa-cutlery" style="padding-left: 15px;"></i>  Restaurant List</h3>
                  <!-- <a class="btn pull-right" [routerLink]="['/admin/restaurant/add']">Add</a> -->
                </div>
              </div>

              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                      <th><a (click)="sortBy('resCode')" href="javascript:void(0)">Restaurant Code</a></th>
                      <th><a (click)="sortBy('name')" href="javascript:void(0)">Name</a></th>
                      <th><a (click)="sortBy('name')" href="javascript:void(0)">Owner Name</a></th>
                      <!--<th><a (click)="sortBy('ownerId')" href="javascript:void(0)">Owner Id</a></th>-->
                      <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let restaurant of restaurants|orderBy:order : reverse| filterBy: userFilter">
                      <td>{{restaurant.resCode}} </td>
                      <td>{{restaurant.name}} </td>
                      <td>{{restaurant.ownerId.firstname}} {{restaurant.ownerId.lastname}}</td>
                      <td>
                        <a  [routerLink]="['/admin/restaurants/',restaurant._id]"><i class="fa fa-pencil"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <!-- <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </router-outlet>
  </div>
</div>
