<div class="card card-nav-tabs">
    <div class="card-header" data-background-color="green">
        <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Exchange Accounts</span>
                <ul class="nav nav-tabs" data-tabs="tabs">
                    <li class="active pull-right">
                        <a  [routerLink]="['/admin/exchange/add/']">
                            <i class="material-icons">exposure_plus_1</i> Add Exchange Account
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-content table-responsive">
        <table class="table" *ngIf="plans.length >0">
            <thead class="text-success">
                <th>User</th>
                <th>Exchange API</th>
                <th>Nick Name</th>                
                <th>Type</th>
            </thead>
            <tbody>
                <tr *ngFor="let customer of plans">
                    <td class="padding0">{{customer.user.firstname}} {{customer.user.lastname}}</td>
                    <td class="padding0">{{customer.exchangeName}}</td>
                    <td class="padding0">{{customer.nickName}}</td>                    
                    <td class="padding0">{{customer.exchangeType}}</td>
                    <td class="padding0 td-actions text-right">
                        <a [routerLink]="['/admin/exchange/',customer._id]" rel="tooltip" title="Edit Task" class="btn btn-success btn-simple btn-xs">
                            <i class="material-icons">edit</i>
                        </a>
                        <a rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs" (click)="deletePlan(customer._id)">
                            <i class="material-icons">close</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-warning" *ngIf="plans.length == 0">
            <button type="button" aria-hidden="true" class="close">×</button>
            <span> <b> No Data - </b> Exchange Account Empty Kindly create One</span>
        </div>
    </div>
</div>