<app-customer-header></app-customer-header>
<div class="container mainContainer" >

    <div class="container restroNamel livenow"> 
    <app-frontend-live-button></app-frontend-live-button>
</div>

    <div class="container kitchenDetail" style="min-height: 585px;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="restroImage1 col-lg-3 col-md-3 col-sm-4 col-xs-4">
           
               <span *ngIf="profile">
                <div class="restroImage">
                    <img [src]="setimage(profile.profilePic)" class="group list-group-image img-responsive" alt="" width="100px;" />
                </div>
               <!--  <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div> -->
                </span>
                
               <ul class="list-group list-change1">
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/profile']"><i class="icon ion-person ionicicon-size"></i> &nbsp;&nbsp; Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-account']"><i class="icon ion-card ionicicon-size"></i> &nbsp;&nbsp; Account</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-views']"><i class="icon ion-eye ionicicon-size"></i> &nbsp;&nbsp; Views</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/friend']"><i class="icon ion-person-stalker ionicicon-size"></i> &nbsp;&nbsp; Friend</a>
                    </li>
                    <li class="list-group-item panelselected">
                        <a [routerLink]="['/customer/message']"><i class="icon ion-ios-chatboxes ionicicon-size"></i> &nbsp;&nbsp; Message</a>
                    </li>
                     <li class="list-group-item">
                        <a [routerLink]="['/customer/notifications']"><i class="icon ion-android-notifications-none ionicicon-size"></i> &nbsp;&nbsp; Notifications</a>
                    </li>
                </ul>
            </div>
             <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 leftSectionBorder">                
                <div class="threeTabs">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingm1" href="javascript:void(0)" aria-controls="message" role="tab" data-toggle="tab" data-target="#message">
                        <a href="javascript:void(0)" aria-controls="message" role="tab" data-toggle="tab" data-target="#message">
                        <h4><i class="icon ion-android-chat" aria-hidden="true"></i> Messages</h4></a>
                    </div>
                </div>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="myPayment">
            <div class="col-sm-9  col-md-12 main">
               <div *ngFor="let umessage of allunreadmsg" >
                <div *ngIf="getId(umessage.id._id)" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="namecls">
                    <button type="button" class="btn btn-danger btnname" (click)="selectChat(umessage.id._id)">All Read <span class="badge" style="margin-left: 33px;">{{umessage.messages.length}}</span>
                    </button>
                    </div>
                    <div class="divf">
                    <div class="restroImage">
                    <img *ngIf="umessage.id.image" src="{{url}}{{umessage.id.image}}" class="group list-group-image img-responsive" alt="" width="50px;" width="70px;" />
                    <img *ngIf="!umessage.id.image" src="/assets/images/face.png" class="group list-group-image img-responsive" alt="" width="50px;" width="70px;" />
                    </div>
                    <div class="emaildetail">
                    <div class="namecls">{{umessage.id.firstname}} {{umessage.id.lastname}}</div>                     
                    </div>
                    </div>
               </div>
            </div>
            </div>
        </div>
      </div> 

    </div>

</div>
</div>

</div>
<app-customer-footer></app-customer-footer>