<style>
    
/* image remove button */

.imageshow1 {
    position: relative;
    padding: 4px;
    padding-bottom: 10px;
    }

.imagecls {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }

.imageshow2 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 16px;
    right: -2px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
  }

.imageshow1:hover .imagecls {
  opacity: 0.8;
  }

.imageshow1:hover .imageshow2 {
  opacity: 1;
  }

.removeimage {
  background-color: rgba(76, 116, 175, 0.18);
  color: snow;
  font-size: 13px;
  padding: 0px 3px;
  cursor:pointer;
  }




.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


</style>
<app-customer-header></app-customer-header>
<div class="container mainContainer">
<div class="container restroNamel livenow">
    <app-frontend-live-button></app-frontend-live-button>
</div>
    <div class="container kitchenDetail livebtncls">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="restroImage1 col-lg-3 col-md-3 col-sm-4 col-xs-4">
           
             <!--  <span *ngIf="profile">
                <div class="restroImage" *ngIf="profile.profilePic">
                    <img src="{{url}}{{profile.profilePic}}" class="group list-group-image img-responsive" alt="" width="100px;" />
                </div>
                <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div>
                </span> -->

              <span *ngIf="profile">
                <div class="restroImage">
                    <img [src]="setimage(profile.profilePic)" class="group list-group-image img-responsive" alt="" width="100px;" />
                </div>
               <!--  <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div> -->
              </span>


                <ul class="list-group list-change1">
                    <li class="list-group-item panelselected">
                        <a [routerLink]="['/customer/profile']"><i class="icon ion-person ionicicon-size"></i> &nbsp;&nbsp; Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-account']"><i class="icon ion-card ionicicon-size"></i> &nbsp;&nbsp; Account</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-views']"><i class="icon ion-eye ionicicon-size"></i> &nbsp;&nbsp; Views</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/friend']"><i class="icon ion-person-stalker ionicicon-size"></i> &nbsp;&nbsp; Friend</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/message']"><i class="icon ion-ios-chatboxes ionicicon-size"></i> &nbsp;&nbsp; Message</a>
                    </li>
                     <li class="list-group-item">
                        <a [routerLink]="['/customer/notifications']"><i class="icon ion-android-notifications-none ionicicon-size"></i> &nbsp;&nbsp; Notifications</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 leftSectionBorder">
                
                <div class="threeTabs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 paddingm1" href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab" data-target="#profile">
                        <a href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab" data-target="#profile"><h4><i class="fa fa-info-circle" aria-hidden="true"></i>  About Me</h4></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3 paddingm1" data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#myPhoto">
                        <a  data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#myPhoto"><h4><i class="fa fa-picture-o" aria-hidden="true"></i> Photos</h4></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 paddingm1" data-toggle="tab" href="javascript:void(0)" aria-controls="prefrences" role="tab" data-target="#prefrences">
                        <a  data-toggle="tab" href="javascript:void(0)" aria-controls="prefrences" role="tab" data-target="#prefrences"><h4><i class="fa fa-search" aria-hidden="true"></i> My Preferences</h4></a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-sm-3 col-xs-4 paddingm1" data-toggle="tab" href="javascript:void(0)" aria-controls="changePassword" role="tab" data-target="#changePassword">
                        <a  data-toggle="tab" href="javascript:void(0)" aria-controls="changePassword" role="tab" data-target="#changePassword"><h4><i class="fa fa-key" aria-hidden="true"></i> Change Password</h4></a>
                    </div>
                </div>

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="profile">
                        <div class="col-sm-9  col-md-12 main">
                            <form [formGroup]="profileUpdateModel"(ngSubmit)="profileUpdate()">
                                <div class="form-group">
                                    <label for="firstname">First Name</label>
                                    <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="First Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="lastname">Last Name</label>
                                    <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name" required>
                                </div>                                          

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input formControlName="email" type="text" class="form-control" id="email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <input formControlName="phone" type="number" class="form-control" id="phone" placeholder="Phone Number">
                                </div>


                               <!--  <div class="form-group">
                                    <label for="phone">Image</label>
                                    <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event)"/>
                                </div> -->
<!--           <div class="form-group">
                                    <label for="age">Age</label>
                                    <input formControlName="age" type="Number" class="form-control" id="age" placeholder="Age" >
                                </div> -->



                                <div class="form-group">
                                    <label for="dateofbirth">DOB</label>
                                    <input formControlName="dateofbirth" type="text" class="form-control" id="dateofbirth" placeholder="Date of Birth"  #myTimeSets  (blur)="getTimeData(myTimeSets)" />
                                </div>

                                <div class="form-group">
                                <label for="country">Country Name</label>
                                <select class="form-control" id="country" formControlName="country"  placeholder="Country">
                                <option [ngValue]="''">Select</option>
                                <option *ngFor="let country of countrys" [ngValue]="country._id">{{country.name}}</option>
                                </select>
                                </div>

                                <div class="form-group">
                                <label for="sexualorient">Sexual Orientation</label>
                                <select class="form-control" id="sexualorient" formControlName="sexualorient"  placeholder="Sexualorient" [(ngModel)]="optionselected">         
                                <option [selected]="optionselected == ''" [ngValue]="''">Select</option>
                                <option [ngValue]="'straight'">Straight</option>
                                <option [ngValue]="'lesbian'">Lesbian</option>
                                <option [ngValue]="'gay'">Gay</option>
                                <option [ngValue]="'other'">other</option>
                                </select>
                                </div>

                                <div class="form-group">
                                <label for="interests">Interests</label>

                               <div class="panel-group">
                                <div class="panel panel-default">
                                   <div class="panel-body">
                                     <input type="checkbox" name="sports" [checked]="interest.indexOf('sports') != -1" (click)="interestupdates('sports')"/> &nbsp; Sports &nbsp; &nbsp;
                                     <input type="checkbox" name="shopping" [checked]="interest.indexOf('shopping') != -1" (click)="interestupdates('shopping')"/> &nbsp; Shopping &nbsp; &nbsp;
                                     <input type="checkbox" name="books" [checked]="interest.indexOf('books') != -1" (click)="interestupdates('books')"/> &nbsp; Book &nbsp; &nbsp;
                                     <input type="checkbox" name="movies" [checked]="interest.indexOf('movies') != -1" (click)="interestupdates('movies')"/> &nbsp; Movies &nbsp; &nbsp;
                                     <input type="checkbox" name="others" [checked]="interest.indexOf('others') != -1" (click)="interestupdates('others')"/> &nbsp; Others &nbsp; &nbsp;
                                   </div>
                                </div>
                               </div>

<!-- 
                               <select class="form-control" id="interests" formControlName="interests"  placeholder="Interests" multiple>
                                <option [ngValue]="'sports'">Sports</option>
                                <option [ngValue]="'shopping'">Shopping</option>
                                <option [ngValue]="'books'">Books</option>
                                <option [ngValue]="'movies'">Movies</option>
                                </select> -->
                                </div>

                                <div class="form-group">
                                    <label for="">Gender</label>
                                        <ul><li>
                                            <input type="radio" formControlName="gender" name="gender" value="male"> Male
                                            <input type="radio" formControlName="gender" name="gender" value="female"> Female
                                        </li></ul> 
                                </div>

                                <div class="form-group">
                                  
                             <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <app-tinymce formControlName="description"></app-tinymce>
                             </div>
                                </div>
                                <button class="btn btn-lg btn-success btn-block"[disabled]="!profileUpdateModel.valid">Submit</button>
                            </form>
                        </div>
                    </div>



                    <div role="tabpanel" class="tab-pane" id="myPhoto">
                          <div class="col-sm-9  col-md-12 main">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Profile Photo</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div *ngIf="profile.profilePic" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 imageshow1">
                                        <img src="{{url}}{{profile.profilePic}}" style="width:100%" class="imagecls">
                                         <div class="imageshow2">
                                            <div class="removeimage"><i class="fa fa-times-circle" aria-hidden="true" (click)="removephotoprofile(profile._id)"></i></div>
                                          </div> 
                                    </div>
                                    <div  class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <form class="form-inline"  (ngSubmit)="profilePhoto()">
                                            <div class="form-group">
                                                <input type="file" class="form-control" ng2FileSelect [uploader]="uploader" (change)="onChangeImg1($event)">
                                            </div>
                                                <button class="btn btn-default">Upload</button>
                                        </form>

                                    <div class="progress progress-barn" *ngIf="progress1 > 0 && progress1 < 100">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress1 + '%'}">
                                    {{progress1}}%
                                    </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Profile Video</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div *ngIf="profile.profileVideo" class="col-lg-4 col-md-4 col-sm-4 col-xs-4 imageshow1">
                                        <video style="width:100%" controls class="imagecls">
                                            <source src="{{url}}{{profile.profileVideo}}">
                                        </video>
                                         <div class="imageshow2">
                                            <div class="removeimage"><i class="fa fa-times-circle" aria-hidden="true" (click)="removephotovideo(profile._id)"></i></div>
                                          </div> 
                                    </div>
                                    <div  class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <form class="form-inline" (submit)="profileVideo()">
                                    <div class="form-group">
                                        <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChangeImg2($event)">
                                    </div>
                                   <button class="btn btn-default">Upload</button>
                                        </form>
                                         <div class="progress progress-barn" *ngIf="progress2 > 0 && progress2 < 100">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress2 + '%'}">
                                    {{progress2}}%
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                          <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Youtube Video</h3>
                            </div>
                            <div class="panel-body" style="padding:15px;">
                            <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="profile.videolinks">
                              <div class="col-sm-4 col-md-4 col-lg-4 imageshow1" *ngFor="let videolink of profile.videolinks; let i = index; ">

                              <iframe width="100%" height="100" [src]="(videolink) | safe" allowfullscreen="allowfullscreen" class="imagecls"> 
                              </iframe>
                              <div class="imageshow2">
                                            <div class="removeimage"><i class="fa fa-times-circle" aria-hidden="true" (click)="removeYoutubeLink(profile._id, i)"></i></div>
                                          </div> 

                              </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">
                            <form [formGroup]="addVideolinkModel"(ngSubmit)="addVideolink()">
                            <div class="form-group">

                                <label for="videolinks">Video link</label>
                                <!-- <input formControlName="videolinks" type="text" class="form-control" id="videolinks" placeholder="Video Link" required> -->

                                <textarea class="form-control" style="min-width: 100%" formControlName="videolinks"  placeholder="Youtube link" class="form-control" required ></textarea>

                            </div>
                            <button class="btn btn-lg btn-success btn-block"[disabled]="!addVideolinkModel.valid">Submit</button>

                           </form> 

                            
                            </div>
                            </div>
                        </div>





                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Photos</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">                                  

<!-- 
                                    <div *ngIf="profile.myPhotos">
                                    <div *ngFor="let myPhoto of profile.myPhotos; let i = index ;" class="col-lg-3 col-md-3 col-sm-3 col-xs-4 imageshow1" style=" margin-bottom: 10px;">
                                        <img src="{{url}}{{myPhoto}}" style="width:100%" class="imagecls">
                                       <div class="imageshow2">
                                            <div class="removeimage"><i class="fa fa-times-circle" aria-hidden="true" (click)="removephotomulti( profile._id, i)"></i></div>
                                          </div> 
                                    </div>
                                    </div> -->




<div class="col-lg-12 col-sm-12 col-md-12 col-sm-12">
  <div class="column imageshow1" *ngFor="let myPhoto of profile.myPhotos; let i = index ;">
    <img src="{{url}}{{myPhoto}}" style="width:100%" (click)="openModal();currentSlide(i+1)" class="hover-shadow cursor imagecls">
     <div class="imageshow2">
    <div class="removeimage"><i class="fa fa-times-circle" aria-hidden="true" (click)="removephotomulti( profile._id, i)"></i></div>
  </div> 
  </div>
</div>

<div id="myModalm" class="modal">
  <span class="close cursor" (click)="closeModal()">&times;</span>
  <div class="modal-content">

    <div class="mySlides" *ngFor="let myPhoto of profile.myPhotos; let i = index ;">
      <img src="{{url}}{{myPhoto}}" style="width:100%">
    </div>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>
</div>








                                </div>
                                <div class="row" style="margin-top: 15px;">
                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                        <form class="form-inline" (submit)="myPhotos()">
                                            <div class="form-group">
                                                <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple (change)="onChangeImg3($event)">
                                            </div>
                                                <button type="submit" class="btn btn-default">Upload</button>
                                        </form>
                    <div class="progress progress-barn" *ngIf="progress3 > 0 && progress3 < 100">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress3 + '%'}">
                    {{progress3}}%
                    </div>
                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        </div>

                    </div>
                    
                    <div role="tabpanel" class="tab-pane" id="changePassword">
                        <form [formGroup]="changePasswordModel"(ngSubmit)="updatepassword()">

                            <div class="form-group">
                                <label for="old" > Old Password </label>
                                <input formControlName="oldpassword" type="password" class="form-control" id="old" placeholder="old password" (keyup)="oldpassword()">
                            </div>
                             <div style="padding: 3px;" class="alert alert-danger" *ngIf="oldmatch">Old Password not match</div>
                            <div class="form-group">
                                <label for="new"> New Password </label>
                                <input formControlName="password" type="password" class="form-control" id="new" placeholder="new password" (keyup)="matchpassword()">
                            </div>   
                            <div class="form-group">
                                <label for="confirm" > Confirm Password </label>
                                <input formControlName="confirmpassword" type="password" class="form-control" id="confirm" placeholder="confirm password" (keyup)="matchpassword()">
                            </div>

                             <div style="padding: 3px;" class="alert alert-danger" *ngIf="Match">Password not match</div>

                            <button class="btn btn-lg btn-success btn-block" [disabled]="!changePasswordModel.valid">Submit</button>
                        </form>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="prefrences">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <form [formGroup]="searchCriteriaModel"(ngSubmit)="searchCriteria()">
                            <div class="form-group">
                                <label for="country">Country Name</label>

                                <select class="form-control" id="country" formControlName="country"  placeholder="Country">
                                <option [ngValue]="''">Select</option>
                                <option *ngFor="let country of countrys" [ngValue]="country._id">{{country.name}}</option>
                                
                             
                                </select> 
                                <!-- 
                                <input formControlName="country" type="text" class="form-control" id="country" placeholder="Country Name" required> -->
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <select class="form-control" id="age" formControlName="age"  placeholder="Age">
                                
                                <option [ngValue]="''">Select</option>
                                <option [ngValue]="'18-30'">18-30</option>
                                <option [ngValue]="'30-40'">30-40</option>
                                <option [ngValue]="'40+'">40+</option>
                             
                                </select>                              
                            </div>
                            <div class="form-group">
                                <label for="">Gender</label>
                                <ul>
                                    <li>
                                        <input type="radio" formControlName="gender" name="gender" value="male"> Male
                                        <input type="radio" formControlName="gender" name="gender" value="female"> Female
                                    </li>
                                </ul> 
                            </div>

                             <div class="form-group">
                                <label for="sexualorient">Sexual Orientation</label>
                                <select class="form-control" id="sexualorient" formControlName="sexualorient"  placeholder="Sexualorient">         
                                <option [ngValue]="''">Select</option>
                                <option [ngValue]="'straight'">Straight</option>
                                <option [ngValue]="'bisexual'">Bisexual</option>
                                <option [ngValue]="'lesbian'">Lesbian</option>
                                <option [ngValue]="'gay'">Gay</option>
                                <option [ngValue]="'other'">Other</option>
                                </select>
                                </div>

                                
                            <!-- <div class="form-group">
                                <label for="language">Language</label>
                                <input formControlName="language" type="text" class="form-control" id="language" placeholder="Language" >
                            </div> -->
                            <button class="btn btn-lg btn-success btn-block"[disabled]="!searchCriteriaModel.valid">Submit</button>
                        </form>
                    </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<app-customer-footer></app-customer-footer>