<style type="text/css">

    .modelcontentcustom{

        border: 0px !important;
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;

    }

   div {  
    width: 100%;  
  }  
   .video_height{
    min-height: 480px;
   } 

   .navbar-inverse{
     margin-bottom: 0px;
   }
   .msgHistory_msgvideo::-webkit-scrollbar {
    width: 12px;
}

.msgHistory_msgvideo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.msgHistory_msgvideo::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white; 
}
</style>


<app-customer-header></app-customer-header>
<div class="mainContainer" style="padding-top: 0px; box-shadow:none; height: calc(100% - (38px)); position: relative;">
	<div id="videos"  class="video_height">

       <div id="publisherContainer" class="publisherContainerp1">

       </div> 
       <div id="subscriberContainer" style="padding-top: 13px;">

       </div>
        <div id="mybannerimage" class="containerad pull-right" style="float:right;">
            <div class="dialogg" *ngIf="bannerImg">
              <a href="javascript:void(0)" class="closep-thik" (click)="closeviImage()"></a>
              <img class="imgadv" src="{{url}}{{bannerImg.path}}" />
          </div>
        </div>
       <div id="msgviewport">
      <!-- <img src="" width="400px" height="200px" /> -->
      <form id="textChatForm">           
      <div id="msgHistory" class="msgHistory_msgvideo"></div>
          <div class="disbtn" style="margin-top: 5px;">
             <a class="btn btn-danger" (click)="disconnectcall()"> Disconnect </a>
         </div>	
         <div class="input-group">
             <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi" placeholder="Type your message here..."  (keyup.enter)="sendMessageOnCall(textMsg.value)" style="color:black; height: 42px;padding: 3px" >
             <span class="input-group-btn">
                 <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)">Send</button>
             </span>
         </div>
     </form>
 </div>
</div> 
</div> 


<app-customer-footer></app-customer-footer>
<!-- The Modal -->
<div id="myModalbanner" class="modal">
  <!-- Modal content -->
  <div class="modal-content modelcontentcustom"> 

    <div class="modal-body">
       <div id="newvideo" class="newvideocls" *ngIf="bannervideo">    
         <video id="myVideo" width="520" height="440" autoplay="autoplay">
           <source id="" src="{{url}}{{bannervideo.path}}" type="video/mp4">
           </video>
       </div>
       <div class="text-center"><a  class="btn btn-danger" (click)="disconnectcall()"> Disconnect </a></div>
   </div>

</div>
</div>