<style type="text/css">
   .panel-body.myPanelBody.myBoxHeading {
    background: rgba(0, 0, 0, 0.41);
    position: absolute;
    bottom: 0px;
    color: #fff;
    width: 139px;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}



/* The Modal (background) */
.modalw {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-contentw {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;

}

/* The Close Button */
.closew {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closew:hover,
.closew:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.imageshow1q1{
    padding:6px;
}


</style>

<app-customer-header></app-customer-header>
<div class="container mainContainer" >
    <div class="container restroName">        
        
    </div>
    <div class="container kitchenDetail">

         <button type="button" class="btn btnname pull-right btn-info newbuttoncolor1" data-toggle="modal" data-target="#report1" style="margin-right: 15px; margin-bottom: 10px;">Abuse Report</button>

        <button *ngIf="showbuttons" type="button" class="btn btnname pull-right btn-warning"  style="margin-right: 15px; margin-bottom: 10px;" (click)="sendRequest()" > <i aria-hidden="true" class="fa fa-user-plus text-warning"></i> Add Friend</button>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="restroImage1 col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="restroImage" *ngIf="profile.profilePic">
                    <img src="{{url}}{{profile.profilePic}}" class="group list-group-image img-responsive" alt="" width="100px;" />
                </div>
                <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div>

                <ul class="list-group" class="text-center">
                    <li class="list-group-item">
                        <a style="color: black; text-transform: capitalize;"> &nbsp;&nbsp; {{profile.firstname}} {{profile.lastname}}</a>
                    </li>                    
                </ul>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 leftSectionBorder">
                <div class="threeTabs1">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingm1 text-center" href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab" data-target="#profile">
                        <a href="javascript:void(0)" aria-controls="profile" role="tab" data-toggle="tab" data-target="#profile"><h4><i class="fa fa-info-circle"  aria-hidden="true"></i> &nbsp; About Me</h4></a>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingm1 text-center" data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#myPhoto" >

                        <a  data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#myPhoto">
                        <h4 ><i class="fa fa-picture-o"  aria-hidden="true"></i> &nbsp; Photos/Video</h4></a>
                    </div>
                     <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingm1 text-center" data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#frineds" >
                        <a  data-toggle="tab" href="javascript:void(0)" aria-controls="myPhoto" role="tab" data-target="#frineds">
                        <h4><i class="fa fa-picture-o"  aria-hidden="true"></i> &nbsp; Friends</h4></a>
                    </div>
                <div class="tab-content" style="text-align: -webkit-left; clear: both;">
                    <div role="tabpanel" class="tab-pane active" id="profile" style="text-align: -webkit-left;">
                        <div class="col-sm-9  col-md-12 main">                           
                                <div class="form-group">
                                    <label for="firstname"> Name :</label>
                                    {{profile.firstname}} {{profile.lastname}}
                                </div>                                                                       

                                <div class="form-group">
                                    <label for="email">Email :</label>
                                    {{profile.email}}
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone Number :</label>
                                    {{profile.phone}}
                                </div>
                                <div class="form-group">
                                    <label for="age">Age :</label>
                                    {{profile.age}}
                                </div>
                                <div class="form-group">
                                    <label for="">Gender :</label>
                                    {{profile.gender}}    
                                </div>
                                <div class="form-group">
                                    <label for="phone">Description :</label>
                                    <div [innerHTML]="profile.description"></div>    
                                </div>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="myPhoto">
                    <div class="panel panel-default" *ngIf="profile.myPhotos" >
                            <div class="panel-heading">
                                <h3 class="panel-title">My Photos</h3>
                            </div>

                        <div class="panel-body" *ngIf="profile.myPhotos">
                        <div *ngIf="profile.myPhotos.length  == 0">No Photos Available </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 col-sm-12">
                  <div class="column imageshow1 imageshow1q1" *ngFor="let myPhoto of profile.myPhotos; let i = index ;">
                    <img src="{{url}}{{myPhoto}}" style="width:100%" (click)="openModal();currentSlide(i+1)" class="hover-shadow cursor imagecls">                     
                  </div>
                </div>

                <div id="myModalm" class="modalw">
                  <span class="closew cursor" (click)="closeModal()">&times;</span>
                  <div class="modal-contentw">

                    <div class="mySlides" *ngFor="let myPhoto of profile.myPhotos; let i = index ;">
                      <img src="{{url}}{{myPhoto}}" style="width:100%">
                    </div>

                    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
                    <a class="next" (click)="plusSlides(1)">&#10095;</a>

                    <div class="caption-container">
                      <p id="caption"></p>
                    </div>
                  </div>
                </div>
                        </div>
<!-- 
                          <span *ngIf="profile.myPhotos.length > 0" >
                            <div class="panel-body">
                                <div class="row">                                   
                                    <div *ngFor="let myPhoto of profile.myPhotos" class="col-lg-3 col-md-3 col-sm-3 col-xs-4" style="margin-bottom: 10px;">
                                        <img src="{{url}}{{myPhoto}}" style="width:100%">
                                    </div>                                    
                                </div>                               
                            </div>
                            </span> -->

                
                      </div>                      
                          
                      <div class="panel panel-default">

                      <div class="panel-heading">
                      
                      <h3 class="panel-title">Profile Video</h3>
                      
                      </div>

                     <div *ngIf="!profile.profileVideo" class="panel-body">No Videos Available</div>
                     <div class="panel-body" *ngIf="profile.profileVideo">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <video style="width:100%" controls>
                                            <source src="{{url}}{{profile.profileVideo}}">
                                        </video>
                                    </div>                                    
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">My Youtube Video</h3>
                            </div>
                            <div class="panel-body" style="padding:15px;">
                            <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="profile.videolinks">
                              <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let videolink of profile.videolinks ">
                              <iframe width="100%" height="100" [src]="(videolink) | safe" allowfullscreen="allowfullscreen" > 
                              </iframe>
                              </div>
                            </div>
                            </div>
                        </div>

                    </div>

                     


                     <div role="tabpanel" class="tab-pane" id="frineds" style="text-align: -webkit-left;">
                <div class="panel panel-default">
                <span  *ngFor="let profile of profiles">
                 <span *ngFor="let friend of friendallow">  
                              
                <div class="restroImage1 col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngIf="(profile._id != this.vid) && (profile._id == this.friend.ToId._id || profile._id == friend.FromId._id) && (friend.status == 1)"> 
               


                <!-- <a [routerLink]="['/customer/publicprofile', profile._id]" *ngIf="(profile._id == friend.FromId._id || profile._id == friend.ToId._id) && friend.status == 1">
                <div class="restroImage" *ngIf="profile.profilePic">
                    <img src="{{url}}{{profile.profilePic}}" class="group list-group-image img-responsive" alt="" width="100px;" />
                    <div class="namecls"> {{profile.email}}</div>
                </div>
                <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                    <div class="namecls"> {{profile.email}}</div>
                </div>  
                </a> -->


                          <div class="panel panel-default" style="border:0px;">
                           <a [routerLink]="['/customer/publicprofile', profile._id]">
                            <div class="panel-heading myPanelHeading"  *ngIf="profile.profilePic">
                            <img  src="{{url}}{{profile.profilePic}}" class="img-responsivenot">
                            </div>

                            <div class="panel-heading myPanelHeading" *ngIf="!profile.profilePic">
                            <img src="/assets/images/face.png" class="img-responsivenot" >
                            </div>
                           
                            <div class="panel-body myPanelBody myBoxHeading">
                            <p class="text-center">
                             {{profile.firstname }} {{profile.lastname}}                                       
                            </p>
                            </div>
                             </a>
                            </div>

            </div>
             </span>        
             </span>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

   <div class="modal fade" id="report1">
     <div class="modal-dialog">
    
      
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>

        <div class="modal-body">

          <form [formGroup]="addmodel"(ngSubmit)="sendReport()">                            
            <div class="form-group">
            <label for="new"> Report Description : </label>
                <textarea formControlName="description" type="text" class="form-control" id="new" placeholder="Description .." rows="10" cols="50"></textarea> 
            </div> 
            <button class="btn btn-lg btn-success btn-block" [disabled]="!addmodel.valid">Submit</button>
        </form>
        </div>
      </div>
    </div>
    </div>




<app-customer-footer></app-customer-footer>
<!-- 

 <div id="report1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> -->