<style type="text/css">

        .modelcontentcustom{
          border: 0px !important;
          background-color: rgba(255, 255, 255, 0) !important;
          box-shadow: none !important;
           }

          div {  
          width: 100%;  
          }  
          .video_height{
          min-height: 480px;
          } 

          .navbar-inverse{
          margin-bottom: 0px;
          }
          .msgHistory_msgvideo::-webkit-scrollbar {
          width: 12px;
          }

          .msgHistory_msgvideo::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px white; 
          border-radius: 10px;
          }

          .msgHistory_msgvideo::-webkit-scrollbar-thumb {
          border-radius: 10px;
          -webkit-box-shadow: inset 0 0 6px white; 
          }

          .color-for-input::-webkit-input-placeholder{
              color: black;
          }

</style>


<app-customer-header></app-customer-header>
<div class="mainContainer" style="padding-top: 0px; box-shadow:none; height: calc(100% - (38px)); position: relative;">
	<div id="videos"  class="video_height">
       <div id="publisherContainer" class="publisherContainerp1">

       </div> 
       <div id="subscriberContainer" style="padding-top: 13px;">

       </div>
        
       <div id="msgviewport">
      <!-- <img src="" width="400px" height="200px" /> -->
      <form id="textChatForm">           
      <div id="msgHistory" class="msgHistory_msgvideo"></div>
         <div class="disbtn" style="margin-top: 5px;">
              <a class="btn btn-success" (click)="next()" style="margin-right: 10px;">Next</a>
              <a  class="btn btn-danger" (click)="disconnectall()"> Disconnect </a>
           
         </div>	
         <div class="input-group">
             <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi color-for-input" placeholder="Type your message here..." style="height: 42px;padding: 3px;" (keyup.enter)="sendMessageOnCall(textMsg.value)" >
             <span class="input-group-btn" >
                 <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)">Send</button>
             </span>
         </div>
     </form>
 </div>
</div> 
</div> 
<app-customer-footer></app-customer-footer>
<!-- The Modal -->
<div id="process" class="modal">
  <!-- Modal content -->
  <div class="modal-content modelcontentcustom"> 

    <div class="modal-body">
       <div id="newvideo" class="newvideocls" style="margin-top:150px;">    
        <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
       </div>
   </div>

</div>
</div>