<style type="text/css">
  div {  width: 100%;  } 
</style>
<app-customer-header></app-customer-header>
<div class="mainContainer row contain-list">
<div class="col-sm-12 col-lg-12 col-xs-12 col-md-12">

<div *ngFor="let live of livelist; let i = index ; " class="col-sm-2 col-lg-2 col-xs-2 col-md-2" style="width:220px;">
<a (click)="popupForChat(live._id, i)">
<div class="restroImage" *ngIf="live.profilePic">
  <img src="{{url}}{{live.profilePic}}" class="group list-group-image img-responsive" alt="" height="50px;" width="70px;" />
<div class="namecls"> {{live.email}} </div>
</div>
<div class="restroImage" *ngIf="!live.profilePic">
<img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" height="50px;" width="70px;"/>
 <div class="namecls"> {{live.email}}</div>
</div> 
</a>
</div>

<div *ngIf="livelist.length == 0" class="text-center">No one Available Here!</div>

</div>
</div>



<app-customer-footer></app-customer-footer>
<div id="myModalb" class="modalb">
  <!-- Modal content -->
  <div class="modalb-content">    
    <div class="modalb-body">
    <div id="videos">
         <div id="publisherContainer" style="margin: -2px 0px 0px -16px;">
          
         </div> 
         <div id="subscriberContainer" style="padding-top: 13px;">
          
         </div>
         <div id="msgviewport" style="padding:0px padding:0px;">
            
         <form id="textChatForm">           
        <div id="msgHistory" style="min-height: 220px;"></div> 
        <div style="padding-right: 10px; margin-bottom: 10px;">

        <span class="closeb"> <a class="btn btn-danger new_processv" (click)="disconnect()">Close</a></span> 
             &nbsp;&nbsp; &nbsp;
        <span class="closeb"> <a class="btn btn-danger new_processv" (click)="livenext()">Next</a></span>

         </div>        
        <div class="input-group input-grop">

           <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi" placeholder="Type your message here..."  (keyup.enter)="sendMessageOnCall(textMsg.value)">
           <span class="input-group-btn">            
           <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)">Send</button>
           </span>
        </div>
    </form>
    </div>
    </div> 
    </div>    
  </div>
</div>