<div class="container mainContainer" >
    <div class="container restroName">
        
    </div>
    <div class="container kitchenDetail">
    	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    		<div class="restroImage1 col-lg-3 col-md-3 col-sm-4 col-xs-4">
                <div class="restroImage">
                    <img *ngIf="currentCustomer.profilePic" class="group list-group-image img-responsive" src="{{url}}{{currentCustomer.profilePic}}" alt="" width="100px;" />
                    <img *ngIf="!currentCustomer.profilePic"  class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/profile']"><i class="fa fa-user" aria-hidden="true"></i> &nbsp;&nbsp; Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-account']"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp; Account</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-views']"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;&nbsp; Views</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/friend']"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp; Friends</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/message']"><i class="fa fa-comments" aria-hidden="true"></i> &nbsp;&nbsp; Message</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
            	<h4><b>{{currentCustomer.firstname}} {{currentCustomer.lastname}}</b> <a [routerLink]="['/customer/profile']"><i class="fa fa-edit" aria-hidden="true"></i></a></h4>
            	<div>
                    {{currentCustomer.gender}}
                </div>
                <div>
                    {{currentCustomer.age}} years old
                </div>

                <div class="threeTabs">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" id="menu">
                        <a href="javascript:void(0)"><h4><i class="fa fa-book" style=" font-size: xx-large;" aria-hidden="true"></i> &nbsp;&nbsp; Menu</h4></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" id="reviews">
                        <a href="javascript:void(0)"><h4><i class="fa fa-comments-o" style=" font-size: xx-large;" aria-hidden="true"></i>&nbsp;&nbsp; Reviews</h4></a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" id="info">
                        <a href="javascript:void(0)"><h4><i class="fa fa-info-circle" style=" font-size: xx-large;" aria-hidden="true"></i>&nbsp;&nbsp; info</h4></a>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>


