<style>
 .myPanelHeading{
 padding:0px !important;
 }
 ul#menu {
 margin-bottom: 0px !important;
 padding-left: 0px !important;
 }
 ul#menu li {
 display:inline;
 padding: 8px; 
 }
 .myPanelBody{
  padding:5px !important;
 }

 .panel-body.myPanelBody.myBoxHeading {
  background: rgba(0, 0, 0, 0.41);
  position: absolute;
    bottom: 36px;
  color: #fff;
  width: 131px; 
 }

 .panel-body.myPanelBody.myBoxHeading > p
 {
 margin-bottom:0px !important;}
 .text-online {
 color: #8cde8e;
 }
 .img-responsivenot
 {
    width: 131px;
    height: 141px;

 }
</style>

<app-customer-header></app-customer-header>
<div class="container mainContainer" >

   <div class="container restroNamel livenow"> 
    <app-frontend-live-button></app-frontend-live-button>
</div>

    <div class="container kitchenDetail">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="restroImage1 col-lg-3 col-md-3 col-sm-4 col-xs-4">
            
           <span *ngIf="profile">

                <div class="restroImage">
                    <img [src]="setimage(profile.profilePic)" class="group list-group-image img-responsive" alt="" width="100px;" />
                </div>

               <!--  <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="100px;" />
                </div> -->
                
           </span>
           

                <ul class="list-group list-change1">
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/profile']"><i class="icon ion-person ionicicon-size"></i> &nbsp;&nbsp; Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/my-account']"><i class="icon ion-card ionicicon-size"></i> &nbsp;&nbsp; Account</a>
                    </li>
                    <li class="list-group-item panelselected">
                        <a [routerLink]="['/customer/my-views']"><i class="icon ion-eye ionicicon-size"></i> &nbsp;&nbsp; Views</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/friend']"><i class="icon ion-person-stalker ionicicon-size"></i> &nbsp;&nbsp; Friend</a>
                    </li>
                    <li class="list-group-item">
                        <a [routerLink]="['/customer/message']"><i class="icon ion-ios-chatboxes ionicicon-size"></i> &nbsp;&nbsp; Message</a>
                    </li>
                     <li class="list-group-item">
                        <a [routerLink]="['/customer/notifications']"><i class="icon ion-android-notifications-none ionicicon-size"></i> &nbsp;&nbsp; Notifications</a>
                    </li>
                </ul>                
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 leftSectionBorder" style="padding:10px padding-top:0px;">
                <div class="threeTabs">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 paddingm1" href="javascript:void(0)" aria-controls="myPayment" role="tab" data-toggle="tab" data-target="#myPayment">
                        <a href="javascript:void(0)" aria-controls="myPayment" role="tab" data-toggle="tab" data-target="#myPayment"><h4><i class="icon ion-ios-eye" aria-hidden="true"></i> Views Status</h4></a>
                    </div>
                    <div class="tab-content" style="text-align: -webkit-left; clear: both;">
                    <div role="tabpanel" class="tab-pane active" id="profile" style="text-align: -webkit-left;">

               <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12" >
               <div class="col-sm-3 col-lg-3 col-md-3 col-xs-3" *ngFor="let views of viewss">
           
                
            <!-- <a target="_black" [routerLink]="['/customer/publicprofile/', views._id]">
                <div class="restroImage" *ngIf="views.profilePic">
                    <img src="{{url}}{{views.profilePic}}" class="group list-group-image img-responsive" alt="" width="30px;" height="50px" />
                </div>
                <div class="restroImage" *ngIf="!views.profilePic">
                    <img class="group list-group-image img-responsive" src="/assets/images/face.png" alt="" width="30px;" height="50px"/>
                </div>
                <div style="text-align: center;">  {{views.email}}</div>
                </a> 
                -->

             <div class="panel panel-default">
                            <a [routerLink]="['/customer/publicprofile/', views._id]">
                            <div class="panel-heading myPanelHeading" *ngIf="views.profilePic">
                            <img  src="{{url}}{{views.profilePic}}" class="img-responsivenot">
                            </div>

                            <div class="panel-heading myPanelHeading"*ngIf="!views.profilePic">
                            <img src="/assets/images/face.png" class="img-responsivenot" >
                            </div>
                            </a>
                            <div class="panel-body myPanelBody myBoxHeading" style="margin-bottom: 17px;">
                            <p>
                             {{views.firstname}} {{views.lastname}}                                       
                            </p>
                            </div>
                            <div class="panel-body myPanelBody">
                            <ul id="menu">       
                              <li (click)="viewDelete(views._id)"> <a title="Remove"> <i class="fa fa-times-circle text-danger" aria-hidden="true"></i> </a></li>               
                            </ul>
                            </div>
                            </div>                             
                        </div> 
                        </div> 

                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<app-customer-footer></app-customer-footer>