<style type="text/css">
   div {  width: 100%;  }  
   .video_height{
    min-height: 480px;
   }   
   .navbar-inverse{
     margin-bottom: 0px;
   }
</style>

<app-customer-header></app-customer-header>
<div class="mainContainer" style="padding-top:0px; box-shadow:none; height: calc(100% - (38px)); position: relative;">
	<div id="videos" class="video_height">
         <div id="publisherContainer" class="publisherContainerp1">
         	
         </div> 
         <div id="subscriberContainer" style="padding-top: 13px;">
         	
         </div>
         <div id="msgviewport">
		  	    
         <form id="textChatForm">           
		    <div id="msgHistory" class="msgHistory_msglive"></div>
		    <div class="disbtn" >
		 	<a  class="btn btn-danger" (click)="disconnectcall()"> Disconnect </a>
		 </div>	
            <div class="input-group">
           <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi" placeholder="Type your message here..."  (keyup.enter)="sendMessageOnCall(textMsg.value)">
           <span class="input-group-btn">
           <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)">Send</button>
           </span>
            </div>
		</form>
		</div>
    </div> 
</div>


<app-customer-footer></app-customer-footer>
