
<style>
 .myPanelHeading{
 padding:0px !important;
 }
 ul#menu {
 margin-bottom: 0px !important;
 padding-left: 0px !important;
 }
 ul#menu li {
 display:inline;
 padding: 8px; 
 }

 .myPanelBody{
       text-align: center;
    border-top: 1px solid lightgray;
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
 }

 .panel-body.myPanelBody.myBoxHeading {
  background: rgba(0, 0, 0, 0.41);
  position: absolute;
  bottom: 52px;
  color: #fff;
  width: 147px; 
  text-align: center;
 }

 .panel-body.myPanelBody.myBoxHeading > p
 {
 margin-bottom:0px !important;}
 .text-online {
 color: #8cde8e;
 }
 .img-responsivenot
 {
    width: 176px;
    height: 180px;

 }
 .filter-heading_custom1{
  padding: 8px;

  border-top-left-radius : 3px; 
  border-top-right-radius: 3px; 
  padding: 10px; 
  background:#48a9d0;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
 }
 .onlinebtn111{
  margin-left: 17px;
    background: white;
    color: green;    
 }
 .nchkall{
  font-size: 14px;
  cursor: pointer;
  color: white;
 }
 .myPanelHeading{
      border-bottom: 1px solid #ccc;
 }

.namedetailcss1{

min-height: 57px;
padding:5px 10px;

}

.namedetailcss1 > h4{
margin-top:4px; 
margin-bottom: 4px ;
font-size: 15px ;
}
.pcss1{
  color:#777;
  font-size: 0.9em;
  margin-top: 0.25em;
  margin-bottom: 5px;
}
.text-grey1{
  color: #7f7c7c;
}
.panel-footer{
 color: #fff;
}
div.panel-footer1 > div{
      float: left;
    width: 25%;
    border-left: 1px solid #dfdfdf;
    margin-left: -1px;
    padding: 3px 0;
}

div.panel-footer1 > span > div{
    float: left;
    width: 25%;
    border-left: 1px solid #dfdfdf;
    margin-left: -1px;
    padding: 3px 0;
}

.new_process1{
  padding: 0px;
}


</style>
<app-customer-header></app-customer-header>

<div class="mainContainer container newmainconainer" style="padding-top: 0%; padding-right: 0px;">

  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 filtercol1">  
 
  <div class="form-group" style="margin-bottom: 5px;"> 
   <app-frontend-live-button></app-frontend-live-button> &nbsp;&nbsp; 
   <span style="display: inline-block;
    margin-top: -12px;">

   <label class="btn btnname newbutton-desine pull-right onlinebtn111" style="padding-bottom: 2px;">
   <input type="checkbox" (click)="online()" /> Online &nbsp;&nbsp;
   </label>

  <input type="text" class="form-control pull-right" id="usr" [(ngModel)]="customerFilter.email"  placeholder="Search" style="width: 320px; height: 29px; margin-left: 10px;">

  

  </span>
  </div>
  </div>



  <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="padding-left: 0px  padding-right: 0px; background: white; padding-bottom: 100px; ">
   <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 filterdiv" *ngIf="loadcheck" style="margin-top: 22px;">
   <!-- <h4 class="filter-heading filter-heading_custom1 btn-info filternewcss1">Profile Search By</h4> -->
   
    <div class="panel panel-primary paneld1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#gender">Gender</a>
        </h4>
      </div>

      <div id="gender" class="panel-collapse collapse in">
        <div class="panel-body">
          <input type="checkbox" [attr.checked]="this.filterBy.gender.indexOf('male') > -1 ? true : null" (click)="genderfiler('male')"/> Male <br>

          <input type="checkbox" [attr.checked]="this.filterBy.gender.indexOf('female') > -1 ? true : null" (click)="genderfiler('female')"/> Female 
        </div>        
      </div>

    </div>  

    <div class="panel panel-primary paneld1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#gender">Sexual Orientation</a>
        </h4>
      </div>
      
      <div id="gender" class="panel-collapse collapse in">
        <div class="panel-body">
          <input type="checkbox" [attr.checked]="this.filterBy.sexualorient.indexOf('straight') > -1 ? true : null" (click)="checkSexualOrient('straight')"/> Straight <br>

          <input type="checkbox" [attr.checked]="this.filterBy.sexualorient.indexOf('bisexual') > -1 ? true : null" (click)="checkSexualOrient('bisexual')"/> Bisexual <br>

          <input type="checkbox" [attr.checked]="this.filterBy.sexualorient.indexOf('lesbian') > -1 ? true : null" (click)="checkSexualOrient('lesbian')"/> Lesbian <br>

          <input type="checkbox" [attr.checked]="this.filterBy.sexualorient.indexOf('gay') > -1 ? true : null" (click)="checkSexualOrient('gay')"/> Gay<br>

          <input type="checkbox" [attr.checked]="this.filterBy.sexualorient.indexOf('other') > -1 ? true : null" (click)="checkSexualOrient('other')"/> Other <br> 

        </div>        
      </div>

    </div>  


    <div class="panel panel-primary paneld1">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#age">Age</a>
        </h4>
      </div>
      <div id="age" class="panel-collapse collapse in">
        <div class="panel-body">
          <input type="text" class="form-control" (keyup)="agefilterd('min', min, $event)" [(ngModel)]="min" style="width: 100%"/> Min<br> 
          <input type="text" class="form-control" (keyup)="agefilterd('max', max, $event)" [(ngModel)]="max"  style="width: 100%"/> Max 
        </div>
        
      </div>
    </div>
  

  <div class="panel panel-primary paneld1">
      <div class="panel-heading">
        <h4 class="panel-title">
        <a class="nchkall pull-right" (click)="countyallcheck()" *ngIf="this.filterBy.country.length != countrys.length"> Check all </a>
        <a class="nchkall pull-right" *ngIf="this.filterBy.country.length == countrys.length" (click)="countyalluncheck()"> Clear all </a>
          <a data-toggle="collapse" href="#country">Country </a>
        </h4>
      </div>
      <div id="country" class="panel-collapse collapse in">
        <div class="panel-body" *ngIf="countrys.length > 0">        
<!-- {{allcheckcountryfilter}}
<span class="pull-right text-info" style="font-size: 15px;"><input type="checkbox" name="allc" [attr.checked]="allcheckcountryfilter" (click)=> <span class="nchkall">check All</span></span> -->
        <span *ngFor="let country of countrys" class="mycapilize">
        <input [checked]="filterBy.country.indexOf(country._id) != -1 ? true : false" type="checkbox" (click)="countryFilter(country._id)"/> {{country.name}}
         <br>
        </span>     
        </div>        
      </div>
    </div>

 
   </div> 

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" *ngIf="loadcheck" style="margin-top: 22px; padding: 0px 0px;">

      <span  *ngFor="let profile of profiles | orderBy:order | filterBy: customerFilter; let i = index ;">     
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"  *ngIf="profile._id != cid && checkblock(profile._id)" >

      <div class="panel panel-default">

          <a [routerLink]="['/customer/publicprofile', profile._id]">
          <div class="panel-heading myPanelHeading" *ngIf="profile.profilePic">
          <img src="{{url}}{{profile.profilePic}}" class="img-responsivenot" style="padding: 4px;">
          </div>

          <div class="panel-heading myPanelHeading" *ngIf="!profile.profilePic">
          <img src="/assets/images/face.png" class="img-responsivenot" style="padding: 4px;">
          </div>
          </a>

          <!-- <div class="panel-body myPanelBody myBoxHeading">

          <p>
          <i class="fa fa-circle text-online" aria-hidden="true" [ngStyle]="check(profile._id) ? { 'display': 'inline-block'} : { 'display': 'none'} "></i> {{profile.firstname}} {{profile.lastname}}    
          </p>

          </div> -->

         <div class="panel-body test-center namedetailcss1">
          <h4 style="text-transform: capitalize;"> 
            <i class="fa fa-circle text-online" aria-hidden="true" [ngStyle]="check(profile._id) ? { 'display': 'inline-block'} : { 'display': 'none'} "></i>
            <i class="fa fa-circle" aria-hidden="true" *ngIf="check(profile._id) == false" style="color: #ccc;"></i>  &nbsp;
             {{profile.firstname}} {{profile.lastname}}
             <i *ngIf="profile.gender == 'female'" class="fa fa-female pull-right" aria-hidden="true"></i> 
             <i *ngIf="profile.gender == 'male'" class="fa fa-male pull-right" aria-hidden="true"></i> 
             <i *ngIf="profile.gender == 'other'" class="fa fa-odnoklassniki pull-right" aria-hidden="true"></i>
             </h4>

          <p class="pcss1">
            <span *ngIf="profile.age">{{profile.age}} yrs</span>
            <!-- <span *ngIf="profile.gender">{{profile.gender}}</span> -->
            <span *ngIf="profile.country" class="pull-right">{{profile.country.name}} </span>            
          </p>

         </div>

          
          <div class="panel-body myPanelBody panel-footer1">
          <!-- <ul id="menu"> -->
           <span *ngFor="let friend of friendallow">

                <div *ngIf="(profile._id == friend.FromId._id) && friend.status == 0" (click)="acceptrequest(friend._id, profile._id)"> <a title="Accept" href="javascript:void(0)"> <i class="fa fa-check-circle text-grey1" aria-hidden="true"></i> </a></div>

                <div *ngIf="(profile._id == friend.FromId._id)  && friend.status == 0" (click)="deleteBlock(friend._id)">                 
                <a title="Cancel" href="javascript:void(0)"> <i class="fa fa-times text-grey1" aria-hidden="true"></i> </a>
                </div>
                
                <div *ngIf="(profile._id == friend.FromId._id || profile._id == friend.ToId._id) && friend.status == 1" (click)="deleteBlock(friend._id)">
                <a title="Unfriend" href="javascript:void(0)">
                 <i class="fa fa-minus-circle text-grey1" aria-hidden="true"></i>
                 </a>
                  </div>

                <!-- <span *ngIf="(profile._id == friend.FromId._id || profile._id == friend.ToId._id) && friend.status == 1">Now Friend </span> -->
            
                <div  *ngIf="(this.cid == friend.FromId._id && profile._id == friend.ToId._id) && friend.status == 0">

                 <a title="Sent.." href="javascript:void(0)">
                 <i class="fa fa-share-square text-info" aria-hidden="true" ></i> 
                 </a>

               </div>

                 <div *ngIf="(this.cid == friend.FromId._id && profile._id == friend.ToId._id) && friend.status == 0" (click)="deleteBlock(friend._id)"><a title="Cancel" href="javascript:void(0)"><i class="fa fa-times-circle-o text-grey1" aria-hidden="true"></i></a></div>

                <div *ngIf="(this.cid == friend.FromId._id && profile._id == friend.ToId._id) && friend.status == 2" (click)="unblockrequest(friend, 2)"><a title="Unblock" href="javascript:void(0)"><i class="fa fa-unlock-alt text-grey1" aria-hidden="true"></i></a></div>  

                <div *ngIf="(this.cid == friend.FromId._id && profile._id == friend.ToId._id) && friend.status == 4" (click)="unblockrequest(friend, 4)"> <a title="Unblock" href="javascript:void(0)"><i class="fa fa-unlock-alt text-grey1" aria-hidden="true"></i></a></div>

                 </span> 

                <div *ngIf="checkforinvite(profile._id)" (click)="sendRequest(profile._id)">
                <a title="Add Friend" href="javascript:void(0)" >
                <i class="fa fa-user-plus text-grey1" aria-hidden="true"></i>
                </a>
                </div>

                <div *ngIf="checkforinvite(profile._id)" (click)="anyBlockRequest(profile._id)">
                <a title="Block" href="javascript:void(0)">
                <i class="fa fa-lock text-grey1" aria-hidden="true"></i>
                </a>
                </div>

                 <div (click)="selectNewChat(profile._id);">
                <a title="Chat" href="javascript:void(0)">
                <i class="fa fa-envelope-open-o text-grey1" aria-hidden="true"></i>
                </a>
                </div> 

                <div *ngIf="customerpackage.mypackage">
                <a title="Video Call" href="javascript:void(0)">
                <i *ngIf="customerpackage.mypackage.remaincalls > 0" class="fa fa-video-camera text-grey1" [ngStyle]="check(profile._id) ? { 'display': 'inline-block'} : { 'display': 'none'}" (click)="vediocall(profile._id,cid)"></i>
                </a>
                </div> 


          <!-- </ul> -->
          </div>
      </div>


      </div>
      </span>

     <h5> <span *ngIf="(profiles | filterBy: customerFilter).length == 0">No Record Found !</span> </h5>


            <!-- <span  *ngFor="let profile of profiles | filterBy: customerFilter ; let i = index ;">     

            <div class="restroImage1 col-lg-3 col-md-3 col-sm-3 col-xs-3"  *ngIf="profile._id != cid && checkblock(profile._id)" >

                <div class="imgtb"> 
                <button class="btn btn-default btnname" [ngStyle]="check(profile._id) ? { 'background-color': '#0CAA41', 'color' : 'white', 'border' : '#0CAA41'} : { 'background-color': 'white', 'color': 'black'}" (click)="selectNewChat(profile._id);">Chat</button>
                <button class="btn btn-default btnname pull-right" [ngStyle]="check(profile._id) ? { 'display': 'block'} : { 'display': 'none'}" >Call</button>
                </div> 

                <a [routerLink]="['/customer/publicprofile', profile._id]">
                <div class="restroImage">

                    <img  class="group list-group-image img-responsive" alt="" width="100px" style="height : 150px"/>
                    <div class="namecls"> {{profile.firstname}} {{profile.lastname}}</div>
                </div>

                <div class="restroImage" *ngIf="!profile.profilePic">
                    <img class="group list-group-image img-responsive"  alt="" width="100px" style="height : 150px" />
                    <div class="namecls"> {{profile.firstname}} {{profile.lastname}}</div>
                </div> 

                </a>
               
            </div>   

        </span> -->


</div>
</div>
</div>
<app-customer-footer></app-customer-footer>

<!-- The Modal -->
<div id="myModalb" class="modalb">
  <!-- Modal content -->
  <div class="modalb-content modalb-content11" style="background: white;">
    <div class="modalb-header">
    <br>
      <span class="closeb"> <button class="btn btn-danger new_process" (click)="videocallcancel()">Decline</button></span>
      <h4>Outgoing video call to..</h4>
    </div>
    <div class="modalb-body">
    
      <div class="new_process" *ngIf="callingto" >
      <img  *ngIf="callingto.profilePic" src="{{url}}{{callingto.profilePic}}" style="width: 100px;
    height: 100px;" />    
      <img *ngIf="!callingto.profilePic"  src="/assets/images/face.png" style="width: 100px;
    height: 100px;" /> 
      </div>

    <h4 *ngIf="callingto" class="text-center">{{callingto.firstname}} {{callingto.lastname}}</h4>
    <h5 class="myconnect new_process new_process1">
      <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> &nbsp; <br> 
      <p>Now You are making call ...</p>
     </h5>
    </div>    
  </div>
</div>