<div class="sidebar" data-color="cgreen" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a [routerLink]="['/admin/dashboard']" class="simple-text">
            <img src="assets/img/logo.jpg" style="height: 50px;width: 230px;">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/dashboard']">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/profile']">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/customer/']">
                    <i class="material-icons">perm_identity</i>
                    <p>Customer</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/staff/']">
                    <i class="material-icons">supervisor_account</i>
                    <p>Staff</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/plan/']">
                    <i class="material-icons">business_center</i>
                    <p>Plan</p>
                </a>
            </li>
            <!-- <li class="active customerSupportNumber">
                <p>Customer Support Number: +971 50 98 123 89 (UAE)</p>
            </li> -->

            <li class="active active-pro">
                <a href="javascript:void(0)" (click)="adminLogout()" >
                    <i class="material-icons">power_settings_new</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="companyLocation-n-emailID">
    <span style="margin-right: 5%;">Company Location: Dubai, UAE</span>
    <span>Email ID: info@vatfile.com</span>
</div>