<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="customerSupportNumber">Customer Support Number: +971 50 98 123 89 (UAE)</span>
            <button type="button" class="navbar-toggle" data-toggle="collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- <div class="collapse navbar-collapse">
        </div> -->
    </div>
</nav>