<div class="sidebar" data-color="cgreen" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a [routerLink]="['/customer/dashboard']" class="simple-text">
            <img src="assets/img/logo.jpg" style="height: 50px;width: 230px;">
        </a>
    </div>
    <div class="sidebar-wrapper" style="height: calc(100vh - 90px) !important;">
        <ul class="nav">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/customer/dashboard']">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/customer/profile']">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/customer/business']">
                    <i class="material-icons">business_center</i>
                    <p>Business</p>
                </a>
            </li>

            <!-- <li class="active customerSupportNumber">
                <p>Customer Support Number: +971 50 98 123 89 (UAE)</p>
            </li> -->
            
            <li class="active active-pro">
                <a href="javascript:void(0)" (click)="customerLogout()" >
                    <i class="material-icons">power_settings_new</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>


<div class="companyLocation-n-emailID">
    <span style="margin-right: 5%;">Company Location: Dubai, UAE</span>
    <span>Email ID: info@vatfile.com</span>
</div>