<style>
    /* CSS used here will be applied after bootstrap.css */
    
    .qlt-confirmation {
        width: 30%;
    }
    
    .qlt-confirmation .panel-body {
        width: 99%;
        margin: 0 auto;
        padding: 40px 10px;
    }
    
    .qlt-confirmation .panel-body .desc {
        margin: 10px auto;
    }
    
    .qlt-confirmation .panel-body .notice {
        padding: 0px 20px;
        margin-top: 50px;
        text-align: left;
        font-style: italic;
        color: gray;
    }
</style>
<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello <b><%= user.firstname %></b>,<br><br>Please Click the below link to change your password.<br><br><a href='<%= user.resetPassLink %>'>CLICK HERE</a></p>
                <p>Thanks<br>Trade Team</p>
        </div>
    </div>
</div>