<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-row class="heading">
            <ion-col col-12>
                Basic Detail
                <span float-right (click)="editBasicInfo()"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon></span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf = "!editBasic" class="width100">
            <ion-row class="width100">
                <ion-col col-4>Name : </ion-col>
                <ion-col>{{currentCustomer.firstname}} {{currentCustomer.lastname}}</ion-col>
            </ion-row>
            <ion-row class="width100">
                <ion-col col-4>Email : </ion-col>
                <ion-col>{{currentCustomer.email}}</ion-col>
            </ion-row>
            <ion-row class="width100">
                <ion-col col-4>Username : </ion-col>
                <ion-col>{{currentCustomer.username}}</ion-col>
            </ion-row>
            <ion-row class="width100">
                <ion-col col-4>Contact No : </ion-col>
                <ion-col>{{currentCustomer.phone}}</ion-col>
            </ion-row>
            <ion-row class="width100">
                <ion-col col-4>Address : </ion-col>
                <ion-col>{{currentCustomer.cityName}}, {{currentCustomer.countryName}}</ion-col>
            </ion-row>
        </ion-row>
        <ion-row class="padding1" *ngIf = "editBasic">
            <form role="form" [formGroup]="BasicInfoForm" (ngSubmit)="update()" class="width100">
                <ion-item>
                    <ion-label>
                        <ion-icon name="mail" ios="ios-mail" md="md-mail"></ion-icon>
                    </ion-label>
                    <ion-input formControlName="email" type="text" disabled="true" placeholder="Email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="person" ios="ios-person" md="md-person"></ion-icon>
                    </ion-label>
                    <ion-input formControlName="username" type="text" disabled="true" placeholder="Username"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="person" ios="ios-person" md="md-person"></ion-icon>
                    </ion-label>
                    <ion-input formControlName="firstname" type="text" placeholder="First Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="person" ios="ios-person" md="md-person"></ion-icon>
                    </ion-label>
                    <ion-input formControlName="lastname" type="text" placeholder="Last Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="call" ios="ios-call" md="md-call"></ion-icon>
                    </ion-label>
                    <ion-input formControlName="phone" type="text" placeholder="Phone no."></ion-input>
                </ion-item>
                <ion-item>
                    <input id="pac-input" type="text" placeholder="Enter your city">
                </ion-item>
                <button ion-button full class="bcColor" [disabled]="!BasicInfoForm.valid">Submit</button>
            </form>
        </ion-row>
    </ion-list>

    <ion-list>
        <ion-row class="heading">
            <ion-col col-12>
                About
                <span float-right (click)="editAboutSelf()"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon></span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf = "!editSelf" class="width100">
            <ion-row *ngIf = "currentCustomer.height" class="width100">
                <ion-col col-5>Height : </ion-col>
                <ion-col>{{currentCustomer.height}}</ion-col>
            </ion-row>

            <ion-row *ngIf = "currentCustomer.haircolor" class="width100">
                <ion-col col-5>Hair Color : </ion-col>
                <ion-col>{{currentCustomer.haircolor}}</ion-col>
            </ion-row>

            <ion-row *ngIf = "currentCustomer.bodyshape" class="width100">
                <ion-col col-5>Body Shape : </ion-col>
                <ion-col>{{currentCustomer.bodyshape}}</ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Marital Status : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.maritalStatus">Married</span><span *ngIf = "!currentCustomer.maritalStatus">Never Married</span></ion-col>
            </ion-row>

            <ion-row class="width100" *ngIf = "currentCustomer.maritalStatus">
                <ion-col col-5>Have Children : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.haveChildren">Yes</span><span *ngIf = "!currentCustomer.haveChildren">No</span></ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Smoke : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.smoke">Yes</span><span *ngIf = "!currentCustomer.smoke">No</span></ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Drink : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.drink">Yes</span><span *ngIf = "!currentCustomer.drink">No</span></ion-col>
            </ion-row>

            <ion-row *ngIf = "currentCustomer.qualification" class="width100">
                <ion-col col-5>Qualification : </ion-col>
                <ion-col>{{currentCustomer.qualification}}</ion-col>
            </ion-row>

            <ion-row *ngIf = "currentCustomer.profession" class="width100">
                <ion-col col-5>Profession : </ion-col>
                <ion-col>{{currentCustomer.profession}}</ion-col>
            </ion-row>
        </ion-row>
        <ion-row class="padding1" *ngIf = "editSelf">
            <ion-item no-padding>
                <ion-label>Height : </ion-label>
                <ion-input type="text" placeholder="Height" value="{{currentCustomer.height}}" (keyup)="height($event,'self')"></ion-input>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Choose Hair Color : </ion-label>
                <ion-select [(ngModel)]="colorSelect" submitText="Ok" cancelText="Cancel" (ionChange)="hairColorFunction('self')">
                    <ion-option value="Black">Black</ion-option>
                    <ion-option value="Light Brown">Light Brown</ion-option>
                    <ion-option value="Brunette/Brown">Brunette/Brown</ion-option>
                    <ion-option value="Red">Red</ion-option>
                    <ion-option value="Blonde">Blonde</ion-option>
                    <ion-option value="Bald/Shaven">Bald/Shaven</ion-option>
                    <ion-option value="Other">Other</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Choose Color : </ion-label>
                <ion-select [(ngModel)]="bodySelect" submitText="Ok" cancelText="Cancel" (ionChange)="bodyFunction('self')">
                    <ion-option value="Petite">Petite</ion-option>
                    <ion-option value="Slender">Slender</ion-option>
                    <ion-option value="Medium">Medium</ion-option>
                    <ion-option value="Few Extra Pounds">Few Extra Pounds</ion-option>
                    <ion-option value="Well Built">Well Built</ion-option>
                    <ion-option value="Overweight">Overweight</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Marital Status : </ion-label>
                <ion-select [(ngModel)]="maritalStatus" (ionChange)="marriage('self')">
                    <ion-option value=true>Yes</ion-option>
                    <ion-option value=false>No</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding *ngIf = "currentCustomer['maritalStatus']">
                <ion-label>Have Children : </ion-label>
                <ion-select [(ngModel)]="haveChildren" (ionChange)="haveChild('self')">
                    <ion-option value=true>Yes</ion-option>
                    <ion-option value=false>No</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Smoke : </ion-label>
                <ion-select [(ngModel)]="smoke" (ionChange)="smoker('self')">
                    <ion-option value = false>No</ion-option>
                    <ion-option value = true>Yes</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Drink : </ion-label>
                <ion-select [(ngModel)]="drink" (ionChange)="drinker('self')">
                    <ion-option value = false>No</ion-option>
                    <ion-option value = true>Yes</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Qualification</ion-label>
                <ion-select [(ngModel)]="education" (ionChange)="qualification('self')">
                    <ion-option value = "Student">Student</ion-option>
                    <ion-option value = "High School">High School</ion-option>
                    <ion-option value = "Some College">Some College</ion-option>
                    <ion-option value = "College Graduate">College Graduate</ion-option>
                    <ion-option value = "Some Post-College">Some Post-College</ion-option>
                    <ion-option value = "Master’s">Master’s</ion-option>
                    <ion-option value = "Professional Qualification">Professional Qualification</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Profession</ion-label>
                <ion-select [(ngModel)]="typeOfWork" (ionChange)="profession('self')">
                    <ion-option value = "Aircraft Dispatcher">Aircraft Dispatcher</ion-option>
                    <ion-option value = "Aircraft Mechanic">Aircraft Mechanic</ion-option>
                    <ion-option value = "Airline Pilot">Airline Pilot</ion-option>
                    <ion-option value = "Flight Attendant">Flight Attendant</ion-option>
                    <ion-option value = "Arts">Arts</ion-option>
                    <ion-option value = "Actor">Actor</ion-option>
                    <ion-option value = "Architecture">Architecture</ion-option>
                    <ion-option value = "Art Appraiser">Art Appraiser</ion-option>
                    <ion-option value = "Art Auctioneer">Art Auctioneer</ion-option>
                    <ion-option value = "Artist">Artist</ion-option>
                    <ion-option value = "Museum Jobs">Museum Jobs</ion-option>
                    <ion-option value = "Music Conductor">Music Conductor</ion-option>
                    <ion-option value = "Business">Business</ion-option>
                    <ion-option value = "Accountant">Accountant</ion-option>
                    <ion-option value = "Administrative Assistant/Secretary">Administrative Assistant/Secretary</ion-option>
                    <ion-option value = "Advertising">Advertising</ion-option>
                    <ion-option value = "Consultant">Consultant</ion-option>
                    <ion-option value = "Financial Advisor">Financial Advisor</ion-option>
                    <ion-option value = "Fundraiser">Fundraiser</ion-option>
                    <ion-option value = "Government Jobs">Government Jobs</ion-option>
                    <ion-option value = "Human Resources">Human Resources</ion-option>
                    <ion-option value = "Insurance Agent">Insurance Agent</ion-option>
                    <ion-option value = "Investment Banker">Investment Banker</ion-option>
                    <ion-option value = "Lawyer">Lawyer</ion-option>
                    <ion-option value = "Management">Management</ion-option>
                    <ion-option value = "Market Research Analyst">Market Research Analyst</ion-option>
                    <ion-option value = "Nonprofit Job">Nonprofit Job</ion-option>
                    <ion-option value = "Law Enforcement">Law Enforcement</ion-option>
                    <ion-option value = "Criminal Justice">Criminal Justice</ion-option>
                    <ion-option value = "Federal Law Enforcement">Federal Law Enforcement</ion-option>
                    <ion-option value = "Police Officer">Police Officer</ion-option>
                    <ion-option value = "Media">Media</ion-option>
                    <ion-option value = "Book Publishing">Book Publishing</ion-option>
                    <ion-option value = "Freelance Editor">Freelance Editor</ion-option>
                    <ion-option value = "Freelance Writer">Freelance Writer</ion-option>
                    <ion-option value = "Public Relations">Public Relations</ion-option>
                    <ion-option value = "Web Developer">Web Developer</ion-option>
                    <ion-option value = "Writer/Editor">Writer/Editor</ion-option>
                    <ion-option value = "Medical">Medical</ion-option>
                    <ion-option value = "Doctor">Doctor</ion-option>
                    <ion-option value = "Nurse">Nurse</ion-option>
                    <ion-option value = "Paramedic">Paramedic</ion-option>
                    <ion-option value = "Psychologist">Psychologist</ion-option>
                    <ion-option value = "Social Worker">Social Worker</ion-option>
                    <ion-option value = "Veterinarian">Veterinarian</ion-option>
                    <ion-option value = "Service Industry">Service Industry</ion-option>
                    <ion-option value = "Bank Teller">Bank Teller</ion-option>
                    <ion-option value = "Call Center">Call Center</ion-option>
                    <ion-option value = "Funeral Director">Funeral Director</ion-option>
                    <ion-option value = "Hair Stylist">Hair Stylist</ion-option>
                    <ion-option value = "Personal Fitness Trainer">Personal Fitness Trainer</ion-option>
                    <ion-option value = "Retail">Retail</ion-option>
                    <ion-option value = "Sales">Sales</ion-option>
                    <ion-option value = "Ski Instructor">Ski Instructor</ion-option>
                    <ion-option value = "Waiter">Waiter</ion-option>
                    <ion-option value = "Wedding Planner">Wedding Planner</ion-option>
                    <ion-option value = "Teaching">Teaching</ion-option>
                    <ion-option value = "Career Counselor">Career Counselor</ion-option>
                    <ion-option value = "School Jobs">School Jobs</ion-option>
                    <ion-option value = "Substitute Teacher">Substitute Teacher</ion-option>
                    <ion-option value = "Teacher">Teacher</ion-option>
                    <ion-option value = "Teaching Abroad">Teaching Abroad</ion-option>
                    <ion-option value = "Teaching Online">Teaching Online</ion-option>
                    <ion-option value = "Technology">Technology</ion-option>
                    <ion-option value = "App Developer">App Developer</ion-option>
                    <ion-option value = "Computer Programmer">Computer Programmer</ion-option>
                    <ion-option value = "Database Administrator">Database Administrator</ion-option>
                    <ion-option value = "Programmer">Programmer</ion-option>
                    <ion-option value = "Software Developer">Software Developer</ion-option>
                    <ion-option value = "Web Developer">Web Developer</ion-option>
                    <ion-option value = "Other">Other</ion-option>
                </ion-select>
            </ion-item>

            <button ion-button full class="bcColor" (click)="updateInfo()">Submit</button>
        </ion-row>
    </ion-list>

    <ion-list>
        <ion-row class="heading">
            <ion-col col-12>
                About Preference
                <span float-right (click)="editAboutPref()"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon></span>
            </ion-col>
        </ion-row>
        <ion-row *ngIf = "!editPref" class="width100">
            <ion-row class="width100">
                <ion-col col-5>Height : </ion-col>
                <ion-col *ngIf = "currentCustomer.preferences && currentCustomer.preferences.height">{{currentCustomer.preferences.height}}</ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Hair Color : </ion-col>
                <ion-col *ngIf = "currentCustomer.preferences && currentCustomer.preferences.haircolor">{{currentCustomer.preferences.haircolor}}</ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Body Shape : </ion-col>
                <ion-col *ngIf = "currentCustomer.preferences && currentCustomer.preferences.bodyshape">{{currentCustomer.preferences.bodyshape}}</ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Marital Status : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.preferences && currentCustomer.preferences.maritalStatus">Married</span><span *ngIf = "currentCustomer.preferences && !currentCustomer.preferences.maritalStatus">Never Married</span></ion-col>
            </ion-row>

            <ion-row class="width100" *ngIf = "currentCustomer.preferences && currentCustomer.preferences.maritalStatus">
                <ion-col col-5>Have Children : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.preferences && currentCustomer.preferences.haveChildren">Yes</span><span *ngIf = "currentCustomer.preferences && !currentCustomer.preferences.haveChildren">No</span></ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Smoke : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.preferences && currentCustomer.preferences.smoke">Yes</span><span *ngIf = "currentCustomer.preferences && !currentCustomer.preferences.smoke">No</span></ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Drink : </ion-col>
                <ion-col><span *ngIf = "currentCustomer.preferences && currentCustomer.preferences.drink">Yes</span><span *ngIf = "currentCustomer.preferences && !currentCustomer.preferences.drink">No</span></ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Qualification : </ion-col>
                <ion-col *ngIf = "currentCustomer.preferences && currentCustomer.preferences.qualification">{{currentCustomer.preferences.qualification}}</ion-col>
            </ion-row>

            <ion-row class="width100">
                <ion-col col-5>Profession : </ion-col>
                <ion-col *ngIf = "currentCustomer.preferences && currentCustomer.preferences.profession">{{currentCustomer.preferences.profession}}</ion-col>
            </ion-row>
        </ion-row>
        <ion-row class="padding1" *ngIf = "editPref">
            <ion-item no-padding>
                <ion-label>Height : </ion-label>
                
                <ion-input *ngIf="currentCustomer.preferences" type="text" placeholder="Height" value="{{currentCustomer.preferences.height}}" (keyup)="height($event,'Pref')"></ion-input>
                
                <ion-input *ngIf="!currentCustomer.preferences" type="text" placeholder="Height" value="" (keyup)="height($event,'Pref')"></ion-input>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Choose Hair Color : </ion-label>
                <ion-select [(ngModel)]="colorSelectPref" submitText="Ok" cancelText="Cancel" (ionChange)="hairColorFunction('Pref')">
                    <ion-option value="Black">Black</ion-option>
                    <ion-option value="Light Brown">Light Brown</ion-option>
                    <ion-option value="Brunette/Brown">Brunette/Brown</ion-option>
                    <ion-option value="Red">Red</ion-option>
                    <ion-option value="Blonde">Blonde</ion-option>
                    <ion-option value="Bald/Shaven">Bald/Shaven</ion-option>
                    <ion-option value="Other">Other</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Choose Color : </ion-label>
                <ion-select [(ngModel)]="bodySelectPref" submitText="Ok" cancelText="Cancel" (ionChange)="bodyFunction('Pref')">
                    <ion-option value="Petite">Petite</ion-option>
                    <ion-option value="Slender">Slender</ion-option>
                    <ion-option value="Medium">Medium</ion-option>
                    <ion-option value="Few Extra Pounds">Few Extra Pounds</ion-option>
                    <ion-option value="Well Built">Well Built</ion-option>
                    <ion-option value="Overweight">Overweight</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Marital Status : </ion-label>
                <ion-select [(ngModel)]="maritalStatusPref" (ionChange)="marriage('Pref')">
                    <ion-option value=true>Yes</ion-option>
                    <ion-option value=false>No</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding *ngIf = "(currentCustomer['preferences'] && currentCustomer['preferences']['maritalStatus']) || preferences['maritalStatus']">
                <ion-label>Have Children : </ion-label>
                <ion-select [(ngModel)]="haveChildrenPref" (ionChange)="haveChild('Pref')">
                    <ion-option value=true>Yes</ion-option>
                    <ion-option value=false>No</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Smoke : </ion-label>
                <ion-select [(ngModel)]="smokePref" (ionChange)="smoker('Pref')">
                    <ion-option value = false>No</ion-option>
                    <ion-option value = true>Yes</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Drink : </ion-label>
                <ion-select [(ngModel)]="drinkPref" (ionChange)="drinker('Pref')">
                    <ion-option value = false>No</ion-option>
                    <ion-option value = true>Yes</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Qualification</ion-label>
                <ion-select [(ngModel)]="educationPref" (ionChange)="qualification('Pref')">
                    <ion-option value = "Student">Student</ion-option>
                    <ion-option value = "High School">High School</ion-option>
                    <ion-option value = "Some College">Some College</ion-option>
                    <ion-option value = "College Graduate">College Graduate</ion-option>
                    <ion-option value = "Some Post-College">Some Post-College</ion-option>
                    <ion-option value = "Master’s">Master’s</ion-option>
                    <ion-option value = "Professional Qualification">Professional Qualification</ion-option>
                </ion-select>
            </ion-item>

            <ion-item no-padding>
                <ion-label>Profession</ion-label>
                <ion-select [(ngModel)]="typeOfWorkPref" (ionChange)="profession('Pref')">
                    <ion-option value = "Aircraft Dispatcher">Aircraft Dispatcher</ion-option>
                    <ion-option value = "Aircraft Mechanic">Aircraft Mechanic</ion-option>
                    <ion-option value = "Airline Pilot">Airline Pilot</ion-option>
                    <ion-option value = "Flight Attendant">Flight Attendant</ion-option>
                    <ion-option value = "Arts">Arts</ion-option>
                    <ion-option value = "Actor">Actor</ion-option>
                    <ion-option value = "Architecture">Architecture</ion-option>
                    <ion-option value = "Art Appraiser">Art Appraiser</ion-option>
                    <ion-option value = "Art Auctioneer">Art Auctioneer</ion-option>
                    <ion-option value = "Artist">Artist</ion-option>
                    <ion-option value = "Museum Jobs">Museum Jobs</ion-option>
                    <ion-option value = "Music Conductor">Music Conductor</ion-option>
                    <ion-option value = "Business">Business</ion-option>
                    <ion-option value = "Accountant">Accountant</ion-option>
                    <ion-option value = "Administrative Assistant/Secretary">Administrative Assistant/Secretary</ion-option>
                    <ion-option value = "Advertising">Advertising</ion-option>
                    <ion-option value = "Consultant">Consultant</ion-option>
                    <ion-option value = "Financial Advisor">Financial Advisor</ion-option>
                    <ion-option value = "Fundraiser">Fundraiser</ion-option>
                    <ion-option value = "Government Jobs">Government Jobs</ion-option>
                    <ion-option value = "Human Resources">Human Resources</ion-option>
                    <ion-option value = "Insurance Agent">Insurance Agent</ion-option>
                    <ion-option value = "Investment Banker">Investment Banker</ion-option>
                    <ion-option value = "Lawyer">Lawyer</ion-option>
                    <ion-option value = "Management">Management</ion-option>
                    <ion-option value = "Market Research Analyst">Market Research Analyst</ion-option>
                    <ion-option value = "Nonprofit Job">Nonprofit Job</ion-option>
                    <ion-option value = "Law Enforcement">Law Enforcement</ion-option>
                    <ion-option value = "Criminal Justice">Criminal Justice</ion-option>
                    <ion-option value = "Federal Law Enforcement">Federal Law Enforcement</ion-option>
                    <ion-option value = "Police Officer">Police Officer</ion-option>
                    <ion-option value = "Media">Media</ion-option>
                    <ion-option value = "Book Publishing">Book Publishing</ion-option>
                    <ion-option value = "Freelance Editor">Freelance Editor</ion-option>
                    <ion-option value = "Freelance Writer">Freelance Writer</ion-option>
                    <ion-option value = "Public Relations">Public Relations</ion-option>
                    <ion-option value = "Web Developer">Web Developer</ion-option>
                    <ion-option value = "Writer/Editor">Writer/Editor</ion-option>
                    <ion-option value = "Medical">Medical</ion-option>
                    <ion-option value = "Doctor">Doctor</ion-option>
                    <ion-option value = "Nurse">Nurse</ion-option>
                    <ion-option value = "Paramedic">Paramedic</ion-option>
                    <ion-option value = "Psychologist">Psychologist</ion-option>
                    <ion-option value = "Social Worker">Social Worker</ion-option>
                    <ion-option value = "Veterinarian">Veterinarian</ion-option>
                    <ion-option value = "Service Industry">Service Industry</ion-option>
                    <ion-option value = "Bank Teller">Bank Teller</ion-option>
                    <ion-option value = "Call Center">Call Center</ion-option>
                    <ion-option value = "Funeral Director">Funeral Director</ion-option>
                    <ion-option value = "Hair Stylist">Hair Stylist</ion-option>
                    <ion-option value = "Personal Fitness Trainer">Personal Fitness Trainer</ion-option>
                    <ion-option value = "Retail">Retail</ion-option>
                    <ion-option value = "Sales">Sales</ion-option>
                    <ion-option value = "Ski Instructor">Ski Instructor</ion-option>
                    <ion-option value = "Waiter">Waiter</ion-option>
                    <ion-option value = "Wedding Planner">Wedding Planner</ion-option>
                    <ion-option value = "Teaching">Teaching</ion-option>
                    <ion-option value = "Career Counselor">Career Counselor</ion-option>
                    <ion-option value = "School Jobs">School Jobs</ion-option>
                    <ion-option value = "Substitute Teacher">Substitute Teacher</ion-option>
                    <ion-option value = "Teacher">Teacher</ion-option>
                    <ion-option value = "Teaching Abroad">Teaching Abroad</ion-option>
                    <ion-option value = "Teaching Online">Teaching Online</ion-option>
                    <ion-option value = "Technology">Technology</ion-option>
                    <ion-option value = "App Developer">App Developer</ion-option>
                    <ion-option value = "Computer Programmer">Computer Programmer</ion-option>
                    <ion-option value = "Database Administrator">Database Administrator</ion-option>
                    <ion-option value = "Programmer">Programmer</ion-option>
                    <ion-option value = "Software Developer">Software Developer</ion-option>
                    <ion-option value = "Web Developer">Web Developer</ion-option>
                    <ion-option value = "Other">Other</ion-option>
                </ion-select>
            </ion-item>

            <button ion-button full class="bcColor" (click)="updateInfo()">Submit</button>
        </ion-row>
    </ion-list>

    <ion-list>
        <button ion-button full class="bcColor" (click)="backToProfile()">Finish</button>
    </ion-list>
</ion-content>