<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form [formGroup]="resetPassForm" (ngSubmit)="resetPass()">
                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="green">
                                    <h4 class="card-title">Reset Password</h4>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">New Password</label>
                                            <input type="password" class="form-control" formControlName="password">
                                            <span class="material-input"></span>
                                        </div>
                                        <div *ngIf="formErrors.password" class="alert alert-danger">
                                            {{ formErrors.password }}
                                        </div>
                                        <div *ngIf="err != ''" class="alert alert-danger">
                                            {{ err }}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock</i>
                                        </span>
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Confirm New Password</label>
                                            <input type="password" class="form-control" formControlName="newpassword">
                                            <span class="material-input"></span>
                                        </div>
                                        <div *ngIf="formErrors.newpassword" class="alert alert-danger">
                                            {{ formErrors.newpassword }}
                                        </div>
                                        <div *ngIf="err != ''" class="alert alert-danger">
                                            {{ err }}
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button class="btn btn-success btn-wd btn-lg" [disabled]="!resetPassForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>