page-register {
	.input-has-focus, .input-has-value{
		color : #E65100 !important;
	}

	.input-has-focus .item-inner{
	    border-bottom: 1.55px solid #E65100 !important;
	}

	ion-input .text-input{
		color : black !important;
	}

	ion-item{
		font-size : 14px !important;
	}

	.item .item-inner{
		border-bottom: 2px solid #5DA2AD;
	}

	img{
	    height: 30px;
	}

	ion-datetime .item-cover{
		position : inherit !important;
		width : 0 !important;
	}

	ion-datetime button{
		border-left: 5px solid transparent;
    	margin-top: 4%;
    	padding: 0;
	    border-right: 5px solid transparent;
	    border-top: 5px solid #999999;
	}

	.locationField{
	    border: 1px solid #cacaca;
	    border-radius: 2px;
	}

	.locationField ion-input .text-input{
    	margin : 0 !important;
	}

	#pac-input{
		padding : 2%;
		width : 100%;
	}

	button.activated{
	    background-color: rgb(220, 99, 34) !important;
	}
}
