page-step {

/* Start progress bar*/
.progress {
  overflow: visible;
  margin-bottom: 26px;
  border: 1px solid white;
}
.progress .progress-bar {
  background-color: #5c4084;
  position: relative;
  border-radius: 4px;
  transition-property: width;
  transition-duration: 1s;
  border: 1px solid #E65100;
}
.progress .progress-bar span {
    background-color: #e65100;
    position: absolute;
    font-size: 12px;
    height: 35px;
    width: 35px;
    padding: 9px 3px;
    color: white;
    right: 0em;
    bottom: 0;
    margin-bottom: -20px;
    border-radius: 50%;
}

.img-height{
	height : 128px;
}

.marginbtm{
	margin-bottom: 10px;
}

/* End progress bar*/

	ion-content{
		background-position: center;
	    background-size: cover;
	}

	.input-has-focus, .input-has-value{
		color : white !important;
	    font-size: 18px !important;
	}

	.input-has-focus .item-inner{
	    border-bottom: 1.55px solid #E65100 !important;
	}

	ion-item{
		font-size : 16px !important;
		background : none !important;
		color : white !important;
	}

	.item .item-inner{
		border-bottom: 2px solid white !important;
	}

	.tallHeight{
		font-size: 130px;
	    margin-top: 20px;
	}

	.heightIcon{
	    padding: 10% 25%;
	}

	#step2 img , #step3 img , #step10 img , #step11 img{
	    height: 120px;
	    width: 120px;
	}

	#step4 .heightIcon , #step12 .heightIcon{
	    padding: 15%;
	}

	#step4 .heightIcon img, #step12 .heightIcon img {
	    height : 100px;
	}

	ion-toolbar .toolbar-background{
		background : none !important;
	}

	.skipStep{
		position: absolute;
	    bottom: 8%;
	    left: 45%;
	    font-size: 16px;
	}

	.finishStep{
		position: absolute;
	    bottom: 8%;
	    right: 10%;
	    font-size: 16px;
	}
	
	.ruler{
	    height: 150px;
	    width: 50px;
	}

	.hideStep{
	display : none;
	}

	.colorWhite{
		color : white !important; 
	}

	ion-select .item-cover{
	    height: 0 !important;
	    width: 0 !important;
	    position: fixed !important;
	}

	.margin60-8{
		margin: 60% 8% 60% 8% !important;
	}

	.height100{
		height : 100%;
	}

	.font100{
		font-size : 100px;
	}
}
