<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="colorWhite">
            <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <ion-title>Restaurants</ion-title>
        <button ion-button class="colorWhite bgTransparent" float-right  (click)="goToCart()">
            <ion-icon name="cart" ios="ios-cart" md="md-cart"></ion-icon>
            <span class="numberClass">{{cartLength}}</span>
        </button>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-row *ngIf = "restaurantsList.length > 0" class="margin4">
        <ion-col col-12 no-padding *ngFor = "let restaurant of restaurantsList" (click)="goToRestaurant(restaurant._id)" class="marginBottom3 box-shadow">
            <ion-row class = "width100">
                <ion-col col-3 [ngStyle]="{'background-image': 'url(' + restroImage(restaurant.image) + ')'}" class="restaurantInfo"></ion-col>
                <ion-col col-9 no-padding class="bgWhite">
                    <ion-row class = "width100">
                        <ion-col col-8 class="font16"><b>{{restaurant.name}}</b></ion-col>
                        <ion-col col-4 class="paddingLeftRight0"><ion-icon class="black" name="pin" ios="ios-pin" md="md-pin"></ion-icon><b>{{restaurant.city}}</b></ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
            <!-- <div class="card-title positionAbsolute width100 fontWeight500">{{restaurant.name}}</div> -->
        </ion-col>
    </ion-row>

</ion-content>
