<ion-header>
	<ion-navbar>
		<ion-title>{{menu.name}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

	<ion-card *ngFor = "let item of items" class="width100">
		<ion-row class="itemDetail" *ngIf="item">
			<ion-col col-4 class="itemImage" (tap)="tapEvent($event,item)"><img [src]="itemImage(item.image)"/></ion-col>
			<ion-col col-7 (tap)="tapEvent($event,item)">
				<ion-row text-uppercase class="itemName">
					{{item.name}}
				</ion-row>
				<ion-row class="itemPrice fontWeight600 colorGreen">
					${{item.price}}
				</ion-row>
			</ion-col>
			<ion-col col-1 *ngIf="currentCustomer">
				<ion-icon (click)="makeFav(item._id)" float-right name="heart" ios="ios-heart" md="md-heart" [ngStyle]="isFavOrNot(item._id)"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
