<app-headerowner></app-headerowner>

<div class="rightMenu1 col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0">
	<!-- <alert></alert> -->
	<div class="profile positionAbsolute col-lg-6 col-md-6 col-sm-8 col-xs-8 padding0" id="Menu18">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 firstDiv">
				<span class="verticalAlignSub">Let your customers know your exact location</span>
				<input type="button" class="btn btn-next floatRight" id="submitButton" value="Next" (click)="restaurantUpdate()">
			</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 secondDiv">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="addressId"></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			
			<a [routerLink]="['/owner/basic-detail']" class="floatRight textUnderline colorGreen">Do you want to change your restaurant address?</a>
		</div>
			
		</div>
	</div>
	<div id="gmap"></div>
</div>