<app-headerowner></app-headerowner>
<div class="rightMenu1 col-lg-9 col-md-9 col-sm-9">
	<alert></alert>
	<div class="profile" id="Menu18" style="z-index: 1;position: absolute;width: 60%;">
		<form [formGroup]="restaurantAddModel" (ngSubmit)="restaurantUpdate()">
			<div class="firstDiv">
				<span class="">Restaurant Location</span>
				<input type="submit" class="btn btn-next" value="Next" style="float: right;" [disabled]="!restaurantAddModel.valid">
			</div>
		<div class="secondDiv"></div>
		</form>
	</div>
	<div id="gmap"></div>
	<!-- <sebm-google-map [latitude]="lat" [longitude]="lng">
		<sebm-google-map-marker [latitude]="latt" [longitude]="lngg" [markerDraggable]="true" (dragEnd)="markerDragEnd( $event)"></sebm-google-map-marker>
	</sebm-google-map> -->

</div>