<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <span class="white"># {{selectedOrder._id.substr(18,6)}}</span><br>
        <span class="white">{{selectedOrder.created_at | date:'medium' }}
        </span>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
            Order Status
        </ion-card-header>
        <ion-card-content>
            <h2>{{selectedOrder.status}}</h2>
        </ion-card-content>
    </ion-card>
        
    <!-- <ion-card>
        <ion-card-header>
            Customer Detail
        </ion-card-header>
        <ion-card-content>
            <p>
                <ion-icon name="person" ios="ios-person" md="md-person"> Name: {{selectedOrder.customerId.firstname}} {{selectedOrder.customerId.lastname}}</ion-icon>
            </p>
            <p>
                <ion-icon name="call" ios="ios-call" md="md-call"> Phone: {{selectedOrder.customerId.phonenumber}}</ion-icon>
            </p>
            <p>
                <ion-icon name="mail" ios="ios-mail" md="md-mail"> Email: {{selectedOrder.customerId.email}}</ion-icon>
            </p>
        </ion-card-content>
    </ion-card> -->

    <ion-card *ngIf="selectedOrder.driverId">
        <ion-card-header>
            <ion-list>
                <ion-item style="background: #e7e7e7;">
                    Driver Detail
                    <button  item-end  (click)="assignOrder($event,selectedOrder)">
                        <ion-icon name="create" ios="ios-create" md="md-create"></ion-icon>
                    </button>
                </ion-item>
            </ion-list>
        </ion-card-header>
        <ion-card-content>
            <h2>Name : {{selectedOrder.driverId.firstname}} {{selectedOrder.driverId.lastname}}</h2>
            <p> Phone No. : {{selectedOrder.driverId.phoneNo}}</p>
            <p>Email : {{selectedOrder.driverId.email}}</p>
            <p>Address : {{selectedOrder.driverId.address}}</p>
            <p>Vehicle : {{selectedOrder.driverId.vehicleType}}</p>
            <p>{{selectedOrder.driverId.vehicleName}} : {{selectedOrder.driverId.vehicleNo}}</p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Order Detail
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="selectedOrder.orderMethod">
                 Type: {{selectedOrder.orderMethod.mType}}
                 <span *ngIf = "selectedOrder.orderMethod.mType == 'Delivery'" class="whiteSpaceInitial"><br>
                    Address : {{selectedOrder.orderMethod.streetName}}, {{selectedOrder.orderMethod.city}} 
                 </span>
            </p>
            <p *ngIf="selectedOrder.orderPayment">
                <ion-icon name="card" ios="ios-card" md="md-card"></ion-icon>
                <span *ngIf="selectedOrder.orderPayment.cash">Cash</span>
                <span *ngIf="selectedOrder.orderPayment.cardpickup">Card Pickup</span>
                <span *ngIf="selectedOrder.orderPayment.cardinternet">Card via Internet</span>
            </p>
            <p *ngIf="selectedOrder.orderTime && selectedOrder.orderTime.tType == 'Now'">
                <ion-icon name="time">
                Fulfillment date & time : </ion-icon><br>{{selectedOrder.orderTime.time | date : "EEEE, MMMM d, y - h:mm a"}}
            </p>
            <p *ngIf="selectedOrder.orderTime && selectedOrder.orderTime.tType == 'Later'">
                <ion-icon name="time">
                Fulfillment date & time : </ion-icon><br>{{selectedOrder.orderTime.day}}<br>{{selectedOrder.orderTime.time}}
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Restaurant Detail
        </ion-card-header>
        <ion-card-content>
            <p *ngIf="selectedOrder.restaurantId">
                <ion-icon name="home"> {{selectedOrder.restaurantId.name}}</ion-icon>
                <span *ngIf="selectedOrder.restaurantId">
                    , {{selectedOrder.restaurantId.address}} {{selectedOrder.restaurantId.zipcode}} {{selectedOrder.restaurantId.city}}
                </span>
            </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Menu & Item Detail
        </ion-card-header>
        <ion-card-content *ngIf="selectedOrder.orders || selectedOrder.isPromotion">

            <ion-item *ngFor="let order of selectedOrder.orders" text-left>
                <ion-row *ngIf="order.item">
                    <ion-col col-9 class="whiteSpaceInitial">
                        <span> <b>{{order.quantity}} x </b></span>{{order.item.name}}
                    </ion-col>
                    <ion-col col-3 text-right>
                        <b>{{order.totalPrice |number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="order.multisize" no-padding padding-left>
                    <ion-col col-9 class="whiteSpaceInitial">
                        <b>{{order.multisize.size}}</b>
                    </ion-col>
                    <ion-col col-3 text-right>
                        {{order.multisize.price | number : '1.2-2'}}
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="order.addon.length > 0" no-padding padding-left>
                    <!-- <ion-item *ngFor="let adn of order.addon"> -->
                        <ion-row *ngFor="let adn of order.addon" class="width100">
                            <ion-col col-9 class="whiteSpaceInitial">
                                <b>{{adn.name}}</b>
                            </ion-col>
                            <ion-col col-3 text-right>
                                {{adn.price | number : '1.2-2'}}
                            </ion-col>
                        </ion-row>
                    <!-- </ion-item> -->
                </ion-row>

                <ion-row *ngIf="order.itemInstruction && order.itemInstruction != ''">
                    <!-- <ion-item> -->
                        <ion-row >
                            <ion-col col-12>
                                <b>Special Instructions</b>
                            </ion-col>
                            <ion-col col-12>
                                <p class="wrap">{{order.itemInstruction}}</p>
                            </ion-col>
                        </ion-row >
                    <!-- </ion-item> -->
                </ion-row>

            </ion-item>

            <ion-item *ngIf="selectedOrder.promotion && selectedOrder.promotion.total">
                <hr>
                <b>Promotion Item</b>
                <ion-row *ngIf="selectedOrder.promotion.itemGroup1 && selectedOrder.promotion.itemGroup1.item">
                    <ion-row class="width100">
                        <ion-col col-9 class="whiteSpaceInitial">
                            <span> <b>{{selectedOrder.promotion.itemGroup1.quantity}} x </b></span>{{selectedOrder.promotion.itemGroup1.item.name}}
                        </ion-col>

                        <ion-col col-3 text-right no-padding>
                            <b>{{selectedOrder.promotion.itemGroup1.totalPrice | number : '1.2-2'}}</b>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="selectedOrder.promotion.itemGroup1.multisize" class="width100" no-padding padding-left>
                        <ion-col col-9 class="whiteSpaceInitial">
                            <b>{{selectedOrder.promotion.itemGroup1.multisize.size}}</b>
                        </ion-col>
                        <ion-col col-3 text-right>
                            {{selectedOrder.promotion.itemGroup1.multisize.price | number : '1.2-2'}}
                        </ion-col>
                    </ion-row>
                    
                    <ion-row *ngIf="selectedOrder.promotion.itemGroup1.addon.length > 0" class="width100"  no-padding padding-left>
                        <!-- <ion-item> -->
                            <ion-row *ngFor="let adn of selectedOrder.promotion.itemGroup1.addon" class="width100">
                                <ion-col col-9 class="whiteSpaceInitial">
                                    <b>{{adn.name}}</b>
                                </ion-col>
                                <ion-col col-3 text-right>
                                    {{adn.price | number : '1.2-2'}}
                                </ion-col>
                            </ion-row>
                        <!-- </ion-item> -->
                    </ion-row>

                    <ion-row *ngIf="selectedOrder.promotion.itemGroup1.itemInstruction && selectedOrder.promotion.itemGroup1.itemInstruction != ''">
                        <ion-row>
                            <ion-col col-12>
                                <b>Special Instructions</b>
                            </ion-col>
                            <ion-col col-12>
                                <p class="wrap">{{selectedOrder.promotion.itemGroup1.itemInstruction}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-row>
                </ion-row>

                <ion-row *ngIf="selectedOrder.promotion.itemGroup2 && selectedOrder.promotion.itemGroup2.item">
                    <ion-col col-9 class="whiteSpaceInitial">
                        <span> <b>{{selectedOrder.promotion.itemGroup2.quantity}} x </b></span>{{selectedOrder.promotion.itemGroup2.item.name}}
                    </ion-col>
                    <ion-col col-3 text-right>
                        <b>{{selectedOrder.promotion.itemGroup2.totalPrice |number : '1.2-2'}}</b>
                    </ion-col>

                    <ion-row *ngIf="selectedOrder.promotion.itemGroup2.multisize" class="width100" no-padding padding-left>
                        <ion-col col-9 class="whiteSpaceInitial">
                            <b>{{selectedOrder.promotion.itemGroup2.multisize.size}}</b>
                        </ion-col>
                        <ion-col col-3 text-right>
                            {{selectedOrder.promotion.itemGroup2.multisize.price | number : '1.2-2'}}
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="selectedOrder.promotion.itemGroup2.addon.length > 0" class="width100" no-padding padding-left>
                        <!-- <ion-item *ngFor="let adn of selectedOrder.promotion.itemGroup2.addon"> -->
                            <ion-row no-padding padding-left *ngFor="let adn of selectedOrder.promotion.itemGroup2.addon" class="width100">
                                <ion-col col-9 class="whiteSpaceInitial">
                                    <b>{{adn.name}}</b>
                                </ion-col>
                                <ion-col col-3 text-right>
                                    {{adn.price | number : '1.2-2'}}
                                </ion-col>
                            </ion-row>
                        <!-- </ion-item> -->
                    </ion-row>

                    <ion-row *ngIf="selectedOrder.promotion.itemGroup2.itemInstruction && selectedOrder.promotion.itemGroup2.itemInstruction != ''">
                        <ion-item>
                            <ion-row >
                                <ion-col col-12>
                                    <b>Special Instructions</b>
                                </ion-col>
                                <ion-col col-12>
                                    <p class="wrap">{{selectedOrder.promotion.itemGroup2.itemInstruction}}</p>
                                </ion-col>
                            </ion-row >
                        </ion-item>
                    </ion-row>
                </ion-row>
            </ion-item>
            
            <hr>
            
            <ion-item>
                <ion-row>
                    <ion-col col-6>
                        <b>Sub-Total</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>$ {{selectedOrder.subTotal | number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf = "selectedOrder.discountAmount">
                    <ion-col col-6>
                        <b>Discount</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>- $ {{selectedOrder.discountAmount | number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="selectedOrder.deliveryfee">
                    <ion-col col-6>
                        <b>Delivery Fee</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>$ {{selectedOrder.deliveryfee  |number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="selectedOrder.tax">
                    <ion-col col-6>
                        <b>Tax</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>$ {{selectedOrder.tax |number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="selectedOrder.deliveryTax">
                    <ion-col col-6>
                        <b>Delivery Tax</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>$ {{selectedOrder.deliveryTax |number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-6>
                        <b>Total</b>
                    </ion-col>
                    <ion-col col-6 text-right>
                        <b>$ {{selectedOrder.gTotal | number : '1.2-2'}}</b>
                    </ion-col>
                </ion-row>
            </ion-item>
            
            <hr>
            
            <ion-item *ngIf="selectedOrder.comment">
                <ion-row>
                    <ion-col col-12>
                        <b>Comment</b>
                    </ion-col>
                    <ion-col col-12>
                        <p  class="wrap">{{selectedOrder.comment}}</p>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-card-content>
    </ion-card>

</ion-content>