page-my-driver {
/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.item-block {
    margin: 0 3px 10px 3px;
    width: 49%;
    float: left;
}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	.item-block {
    margin: 0 3px 10px 3px;
    width: 49%;
    float: left;
}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.item-block {
    margin: 0 3px 10px 3px;
    width: 49%;
    float: left;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	.item-block {
    margin: 0;
    width: 100%;
    float: unset;
}
}
}


ion-list{
    margin: 10px 0px !important;
}