<!-- Footer -->
    <footer class="page-footer center-on-small-only stylish-color-dark">

        <!--Footer Links-->
        <div class="container">
            <div class="row">

                <!--First column-->
                <div class="col-md-4">
                    <h5 class="title mb-4 mt-3 font-bold">Trade Exchange</h5>
                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <!--/.First column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Second column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold">About</h5>
                    <ul>
                        <li><a href="#!">Who we are</a></li>
                        <li><a href="#!">FAQs</a></li>
                        <li><a href="#!">Privacy Policy</a></li>
                        <li><a href="#!">Security Policy</a></li>
                    </ul>
                </div>
                <!--/.Second column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Third column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold">Trading</h5>
                    <ul>
                        <li><a href="#!">Product Tour</a></li>
                        <li><a href="#!">Exchanges</a></li>
                        <li><a href="#!">Pricing</a></li>                      
                    </ul>
                </div>
                <!--/.Third column-->

                <hr class="clearfix w-100 d-md-none">

                <!--Fourth column-->
                <div class="col-md-2 mx-auto">
                    <h5 class="title mb-4 mt-3 font-bold ">Contact</h5>
                    <ul>
                        <li>79 Wellington Terrace Drive<br>Manchester</li>
                    </ul>
                </div>
                <!--/.Fourth column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <hr>

        <!--Call to action-->
        <div class="call-to-action">
            <ul>
                <li>
                    <h5 class="mb-1">Register for free</h5>
                </li>
                <li><a [routerLink]="['/signup']" class="btn btn-success btn-rounded waves-effect waves-light">Sign up!</a></li>
            </ul>
        </div>
        <!--/.Call to action-->

        <hr>

        <!--Social buttons-->
        <div class="social-section text-center">
            <ul>

                <li><a class="btn-floating btn-sm btn-fb waves-effect waves-light"><i class="fa fa-facebook"> </i></a></li>
                <li><a class="btn-floating btn-sm btn-tw waves-effect waves-light"><i class="fa fa-twitter"> </i></a></li>
                <li><a class="btn-floating btn-sm btn-gplus waves-effect waves-light"><i class="fa fa-google-plus"> </i></a></li>
                <li><a class="btn-floating btn-sm btn-li waves-effect waves-light"><i class="fa fa-linkedin"> </i></a></li>
                <li><a class="btn-floating btn-sm btn-dribbble waves-effect waves-light"><i class="fa fa-dribbble"> </i></a></li>

            </ul>
        </div>
        <!--/.Social buttons-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                Copyright ©2017  Website Name Inc. All rights reserved.
            </div>
        </div>
        <!--/.Copyright-->

    </footer>
