
<header class="login-header">
    <div class="container">
        <div class="col-md-6 col-lg-5 mx-auto">
            <div class="card card-body">
                <h3 *ngIf="!authfactor" class="text-center mb-4">Login</h3>
                <h3 *ngIf="authfactor" class="text-center mb-4">Google Auth</h3>
                
                <form *ngIf="!authfactor" (submit)="onLoginSubmit()">
                    <div class="form-group has-error">
                        <input class="form-control input-lg" [(ngModel)]="username" placeholder="Username" name="username" type="text">
                    </div>
                    <div class="form-group has-success">
                        <input class="form-control input-lg" [(ngModel)]="password" placeholder="Password" name="password" value="" type="password">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" value="Login" type="submit">
                </form>

                <form *ngIf="authfactor" (submit)="verifyAuth()">
                    <div class="form-group has-error"> 
                        <input type="text" [(ngModel)]="otp" name="otp" class="form-control input-lg" id="otp">
                    </div>
                    <input class="btn btn-sm  btn-success" value="Confirm" type="submit">
                </form>
                <a [routerLink]="['/forgotpassword']" class="text-success mt-4" style="text-transform: uppercase;">Forgot Password ?</a>
            </div>
        </div>
    </div>
</header>