<div class="wrapper">
	<app-sidebar></app-sidebar>
	<div class="main-panel">
		<app-header></app-header>
        <div class="content">
            <div class="container-fluid">
            	<div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="navyblue">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Users</p><br>
                                <h3 class="title">{{userCount}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/user/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="navyblue">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Membership Plans</p>
                                <h3 class="title">{{planCount}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/plan/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div> -->
                     <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="navyblue">
                                <i class="material-icons">description</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Static Pages</p><br>
                                <h3 class="title">{{pageCount}}</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/pages/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>