/* You can add global styles to this file, and also import other style files */

.dropdown:hover>.dropdown-menu {
  display: block;
}
select-dropdown>div .options ul li{
  padding: unset !important;
  font-size: 12px;
}

select-dropdown>div .filter input {
  font-size: 12px !important;
  padding: 0px 5px !important;
}