page-order {
.f-12{
        font-size: 12px;
}
.orders{
  border-bottom: 2px solid gainsboro;
}

	.headingClass{
	    background: lightgray;
	    margin-bottom: 2%;
	    font-weight: 500;
	}

	.headingClass .item-inner{
	    border: none;
	}

	.summaryClass{
	    padding: 4% 0;
	    background: white;
	}

	.amountDescription{
	    padding-top: 5%;
	    font-size: 12px;
	}

	.borderRight{
	    border-right: 1px solid lightgray
	}



}
