page-await {
	.continue{
	    top: 80%;
	    position: absolute;
	    right: 10%;
	}

	.orderPlaced , .orderRejected, .orderMissed{
		padding: 50% 10%;
		font-family: Freestyle Script;
	}

	.continue{
		font-family: Freestyle Script;
	}

	.font20{
		font-size : 20px;
	}

	.font40{
		font-size : 40px;
	}
}
