page-cart {

	.cartDiv{
		text-align: center;
	    background: rgba(128, 128, 128, 0.28);
	    background: #dedede;
	    font-size: 20px;
	    padding: 10%;
	    color: #2d2d2d;
	}

	.quantity{
		border-top: 1px solid #dedede;
	    border-bottom: 1px solid #dedede;
	    text-align: center;
	    font-size : 14.5px;
	}

	.qtyButton{
	    font-weight: 600;
	    font-size: 20px;
	}

	.itemInstruction{
	    background: #e0e0e0;
	    font-size: 12px;
	    font-weight: 500;
	    border-radius: 5%;
	}

	.cartPage{
		background : #e0e0e0;
	}

	.cartPage ion-card{
		box-shadow : none !important;
	}

	.checkout{
		margin: 10% 0 10% 0 !important;
	}
	
	.cartItemPrice{
		font-size : 12px;
	}

	.delItem{
	    color: rgba(128, 128, 128, 0.68);
	}

	ion-item .item-inner{
		border-bottom : none !important;
	}

	ion-input{
		background : white !important;
	}

	ion-input .text-input{
		margin : 0 !important;
		padding : 3% !important;
	}

	.couponCode{
		margin: 5% 0;
	}

	.comment{
		background : transparent !important;
	}

	.siText{
		font-size: 12px !important;
	}

}
