page-filter {
	#minAge , #maxAge{
		width : 100%;
	}

	.heightSelect ion-select{
	    text-align: right;
	    max-width: 100%;
	}

	.age ion-label , .heightSelect ion-label{
	    margin: 0 !important;
	}

	.bcColor{
		color : white;
		padding : 5px 16px;
		border-radius: 2px;
	}

	.resetButton{
		font-size : 14px;
		color : #E65100;
	}
}
