<div class="main-content bgimage">
    <h1 class="font-weight-bold ">
        <i class="fa fa-firefox text-warning"></i> Showcase.Social
    </h1>
    <p>You make suff</p>
    <p>You put your suff on social media</p>
    <p>And all your<b>stuff is all over the shop.</b></p>
    <div class="container mycontainer">
        <div class="row py-3">
            <div class="col">
                <div class="circle text-uppercase">
                    <i class="fa fa-user circle-icon"></i>
                    <br> Register
                </div>
            </div>
            <div class="col">
                <div class="circle text-uppercase">
                    <i class="fa fa-cogs circle-icon"></i>
                    <br> Setup
                </div>
            </div>
            <div class="col">
                <div class="circle text-uppercase">
                    <i class="fa fa-share-alt circle-icon"></i>
                    <br> share
                </div>
            </div>
            <div class="col">
                <div class="circle text-uppercase">
                    <i class="fa fa-code circle-icon"></i>
                    <br> embed
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-3 col-6 mb-2">
                <a class="mb-3">For new users</a><br>
                <button type="button" class="btn btn-warning btn-lg rounded-1" id="mysignupBtn" (click)="modelOpen('signup')">GET STARTED</button>
            </div>
            <div class="col-lg-3 col-6 mb-2">
                <a class="pb-2">For existing users</a><br>
                <button type="button" class="btn btn-navy btn-lg px-5 rounded-1" id="myloginBtn" (click)="modelOpen('login')">LOGIN</button>
            </div>
        </div>
        <div class="row justify-content-md-center mt-3">
            <div class="col-lg-12 col-xs-12">
                Organise your social posts in once place Embed your showcase on your own website Share a direct link to your own Showcase.Social
                page
            </div>
        </div>
        <div class="row justify-content-md-center mb-3">
            <div class="col-lg-8 col-xs-12">
                <p class="mb-0 mt-3">Not sure ?</p>
                <p class="m-0">See showcase.social/regularsteven for a real life example.
                </p>
                <p class="m-0">Or see the website embed to see how it fits in anywhere on the web.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- The login Modal -->
<div id="loginModal" class="modal">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12">
                <div class="card rounded-1">
                    <span class="close" (click)="modelClose('login')">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        Fast login with social or enter email
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6  col-md-6  col-xs-12 text-center ">
                                <div class="btn-vertical " role="group" aria-label="Basic example">
                                    <button type="button" class="btn rounded-1  btn-fb px-3">                                    
                                        <i class="fa fa-facebook"></i> Login with Facebook
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-twitter px-4">
                                        <i class="fa fa-twitter"></i> Login with Twitter
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-google px-4">
                                        <i class="fa fa-google"></i> Login with Google
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-insta px-3">
                                        <i class="fa fa-instagram"></i> Login with Instagram
                                    </button>
                                </div>
                            </div>
                            <p class="ortext d-none d-sm-block d-md-none d-block d-sm-none mt-3">
                                <span>OR</span>
                            </p>
                            <div class="col-lg-6 col-md-6 col-xs-12  ">
                                <form  [formGroup]="customerLoginForm" (ngSubmit)="login()"> 
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email"   formControlName="email"  class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password"  formControlName="password"  class="form-control" placeholder="Password">
                                    </div>
                                    <a  (click)="modelOpen('forget')" class="btn btn-link float-left">Forgot your password ?</a>
                                    <button type="submit" class="btn btn-warning rounded-1 float-right" [disabled]="!customerLoginForm.valid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The signup Modal -->
<div id="signupModal" class="modal">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12">
                <div class="card rounded-1">
                    <span class="close signupclose" (click)="modelClose('signup')">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        Fast register with social or enter email
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6  col-md-6  col-xs-12 text-center ">
                                <div class="btn-vertical " role="group" aria-label="Basic example">
                                    <button type="button" class="btn rounded-1  btn-fb px-3">
                                        <i class="fa fa-facebook"></i> Register with Facebook</button>
                                    <button type="button" class="btn rounded-1  btn-twitter px-4">
                                        <i class="fa fa-twitter"></i> Register with Twitter</button>
                                    <button type="button" class="btn rounded-1  btn-google px-4">
                                        <i class="fa fa-google"></i> Register with Google</button>
                                    <button type="button" class="btn rounded-1  btn-insta px-3">
                                        <i class="fa fa-instagram"></i> Register with Instagram</button>
                                </div>
                            </div>
                            <p class="ortext d-none d-sm-block d-md-none d-block d-sm-none mt-3">
                                <span>OR</span>
                            </p>
                            <div class="col-lg-6 col-md-6 col-xs-12  ">
                                <form  [formGroup]="customerSignupForm" (ngSubmit)="signup()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" formControlName="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password"  formControlName="password" class="form-control" placeholder="Password">
                                    </div>
                                    <button type="submit" class="btn btn-warning rounded-1 float-right" [disabled]="!customerSignupForm.valid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- The Forget Modal -->
<div id="forgetPassModal" class="modal">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12">
                <div class="card rounded-1">
                    <span class="close" (click)="modelClose('forget')">&times;</span>
                    <div class="card-header text-center bg-white h4 rounded-1 rounded-rl-1">
                        Fast Recover your password
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6  col-md-6  col-xs-12 text-center ">
                                <div class="btn-vertical " role="group" aria-label="Basic example">
                                    <button type="button" class="btn rounded-1  btn-fb px-3">                                    
                                        <i class="fa fa-facebook"></i> Login with Facebook
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-twitter px-4">
                                        <i class="fa fa-twitter"></i> Login with Twitter
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-google px-4">
                                        <i class="fa fa-google"></i> Login with Google
                                    </button>
                                    <button type="button" class="btn rounded-1  btn-insta px-3">
                                        <i class="fa fa-instagram"></i> Login with Instagram
                                    </button>
                                </div>
                            </div>
                            <p class="ortext d-none d-sm-block d-md-none d-block d-sm-none mt-3">
                                <span>OR</span>
                            </p>
                            <div class="col-lg-6 col-md-6 col-xs-12  ">
                                <form [formGroup]="customerForgetForm" (ngSubmit)="forgetPass()">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="email" placeholder="Enter email">
                                    </div>
                                    <a  (click)="modelOpen('login')" class="btn btn-link float-left">Login</a>
                                    <button type="submit" class="btn btn-warning rounded-1 float-right" [disabled]="!customerForgetForm.valid">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>