    <header class="forgot-header">
        <div class="container">
            <div class="col-md-6 col-lg-5 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Reset Password</h3>
                    <div>
                        <!-- <flash-messages></flash-messages> -->
                    </div>
                    <form (ngSubmit)="resetPassword()">
                        <div class="form-group has-error">
                            <input class="form-control input-lg" [(ngModel)]="password" placeholder="Password" name="password" type="password">
                        </div>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" [(ngModel)]="cpassword" placeholder="Confirm Password" name="cpassword" type="password">
                        </div>

                        <input class="btn btn-lg bg-navyblue btn-block" value="Reset Password" type="submit">
                    </form>
                    <a [routerLink]="['/login']" class="clr-navyblue mt-4" style="text-transform: uppercase; text-align:center;">Login</a>
                </div>
            </div>
        </div>
    </header>