<app-headerowner></app-headerowner>
<div class="rightMenu col-lg-9 col-md-9 col-sm-9">
	<flash-messages></flash-messages>
	<div class="profile" id="Menu18">
		<form [formGroup]="ownerProfile" (ngSubmit)="ownerUpdate()">
			<div class="firstDiv">
				<span class="">Password Change</span>
				<input type="submit" class="btn" value="Next" style="float: right;" [disabled]="!ownerProfile.valid">
			</div>

			<div class="secondDiv">
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="oldpassword">
	  				<span class="gfe-input-placeholder">Old Password *</span>
				</div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="newpassword">
	  				<span class="gfe-input-placeholder">New Password *</span>
				</div>
			</div>
		</form>
	</div>
</div>