<app-headerowner></app-headerowner>

<div class="rightMainDiv col-lg-9 col-md-9 col-sm-9 col-xs-9 padding0 displayFlowRoot">
	<div class="profile  col-lg-6 col-md-6 col-sm-8 col-xs-8 padding0" id="Menu18">
		<form [formGroup]="ownerProfile" (ngSubmit)="ownerUpdate()">
			<div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
				<span class="verticalAlignSub">My profile</span>
				<input type="submit" class="btn btn-next ng-binding pull-right" value="Next" [disabled]="!ownerProfile.valid">
			</div>

			<div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-info" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="firstname">
	  				<span class="gfe-input-placeholder">First Name *</span>
				</div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-info" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="lastname">
	  				<span class="gfe-input-placeholder">Last Name *</span>
				</div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-info" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="email">
	  				<span class="gfe-input-placeholder">Email *</span>
				</div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-info" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="username">
	  				<span class="gfe-input-placeholder">Username *</span>
				</div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-phone" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="phoneNo">
	  				<span class="gfe-input-placeholder">Phone No *</span>
				</div>
			</div>
		</form>
	</div>
</div>