page-restaurant {

	.restaurantInfo{
	    background-position: center;
	    background-size: cover;
        height: 70px !important;
	}

	.box-shadow{
        border: 1px solid #c5c5c5;
	}

	ion-content{
		background: lightgray !important;
		color : dimgray !important;
	}

	.bgWhite{
		background : white;
	}

	.paddingLeftRight0{
		padding-left : 0;
		padding-right : 0;
	}


}
