page-restaurant {

	.restaurantInfo{
	    background-position: center;
	    background-size: cover;
        height: 70px !important;
	}

	.box-shadow{
        border: 1px solid #c5c5c5;
	}

	ion-content{
		background: lightgray !important;
		color : dimgray !important;
	}

	.bgWhite{
		background : white;
	}

	.paddingLeftRight0{
		padding-left : 0;
		padding-right : 0;
	}

	.searchCuisine ion-col{
	    cursor : pointer;
	}

	.searchCuisine .typeHeading{
	    background : #e6e5e5;
	}

	.searchCuisine{
	    padding: 0 16px;
	    background: white;
	}

	.starSize{
		font-size: 1em;
	}

	.padding1vh{
	    padding: 0.5vh 1vh;
	}

	.cuisineRow span{
	    border: 2px solid #cac7c7;
	    border-radius: 5px
	}

	.cuisineRow strong{
	    border: 2px solid transparent;
	}

	.padding5px16px{
		padding: 5px 16px;
	}

	.padding2prcnt{
		padding : 2%;
	}

	.borderBottom{
		border-bottom: 2px solid #d2d2d2;
	}


}
