.padding0{text-align: left;padding-left: 0;}
.myCard{
	border: 1px solid #43a047;
padding: 10px;
border-radius: 10px;
}
.myCard > .form-group {
    padding-bottom: 0px;
    margin: 0;
}.myCard > .form-group > img {
    height: 229px;
}

.textCenter{
	text-align: center;
}

.addBusinessClass{
	height: 100%;
}