<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Update Business Document</h4>
                <p class="category">Create your Business Data</p>
            </div><div class="card-content">
                <form [formGroup]="businessAddForm" (ngSubmit)="businessDocument()">

                	<div class="row">
                        <div class="col-md-4">
                        	<div class="myCard">
	                        	<div class="form-group">
	                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'passportFile')">
	                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">Upload Passport File</a>
	                            </div>
	                            <div class="form-group textCenter" *ngIf="businesses.passportFile">
	                            	<a href="{{imgUrl}}{{businesses.passportFile}}">View Passport File</a>
	                            </div>
                        	</div>
                        </div>
                        <div class="col-md-4">
                        	<div class="myCard">
                        	<div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'visaFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">Upload Visa File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.visaFile">
                            	<a href="{{imgUrl}}{{businesses.visaFile}}">View VISA file</a>
                            </div>
                        </div>
                        </div>
                    
                        <div class="col-md-4">
                        	<div class="myCard">
                        	 <div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'emiRatesIdFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">UPLOAD EMI Rates Id File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.emiRatesIdFile">
                            	<a href="{{imgUrl}}{{businesses.emiRatesIdFile}}">View EMI Rates File</a>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        	<div class="myCard">
                        	 <div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'tradeLicenseFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">UPLOAD Trade License File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.tradeLicenseFile">
                            	<a href="{{imgUrl}}{{businesses.tradeLicenseFile}}">VIEW Trade License File</a>
                            </div>
                        </div>
                        </div>
                   
                        <div class="col-md-4">
                        	<div class="myCard">
                        	<div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'articleAndPartnershipFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">UPLOAD Article and Partnership File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.articleAndPartnershipFile">
                            	<a href="{{imgUrl}}{{businesses.articleAndPartnershipFile}}">VIEW Article and Partnership File</a>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        	<div class="myCard">
                        	<div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'certificateOfIncorporationFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">UPLOAD Certificate of Incorporation File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.certificateOfIncorporationFile">
                            	<a href="{{imgUrl}}{{businesses.certificateOfIncorporationFile}}">VIEW Certificate of Incorporation File</a>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4">
                        	<div class="myCard">
                        	<div class="form-group">
                                <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event,'bankStatementFile')">
                                <a href="javascript:void(0)" class="btn btn-success btn-round btn-block">UPLOAD Bank Statement  File</a>
                            </div>
                            <div class="form-group textCenter" *ngIf="businesses.bankStatementFile">
                            	<a href="{{imgUrl}}{{businesses.bankStatementFile}}">VIEW Bank Statement File</a>
                            </div>
                        </div>
                    </div>
                    </div>

                    <button type="submit" class="btn btn-success pull-right" [disabled]="!businessAddForm.valid">Update Business</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>