.padding0{text-align: left;padding-left: 0;}

.myCard{
border: 1px solid #43a047;
padding: 10px;
border-radius: 10px;
}

.myCard > .form-group {
    padding-bottom: 0px;
    margin: 0;
}

.textCenter{
	text-align: center;
}

/*.addBusinessClass{
	height: 100%;
}*/

.expiryDateLabel label{
	left: 30%;
}

.viewFile{
	position: absolute;
    top: 5px;
    right: 15px;
}

.viewFile a{
    color: #4caf50;
    text-decoration: underline;
}

.myCard a.btn{
    padding: 12px !important;
}


.docUploaded{
  position: absolute;
  top: 10px;
  right: 10px;
  color: #4caf50;
}




/* Start progress bar*/
.progress {
  overflow: visible;
  margin-bottom: 26px;
  height: 6px;
  width: 100%;
  background-color: white !important;
}

.progress .progress-bar {
  position: relative;
  border-radius: 4px;
}

.progress-bar-info{
  background-color: #0198b3;
}


/* End progress bar*/