    <header class="forgot-header">
        <div class="container">
            <div class="col-md-6 col-lg-5 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Forgot Password</h3>
                    <div>
	                    <!-- <flash-messages></flash-messages> -->
	                </div>
                    <form (ngSubmit)="forgotPassword()">
                        <div class="form-group has-error">
                            <input class="form-control input-lg" [(ngModel)]="email" placeholder="Email" name="email" type="text">
                        </div>

                        <input class="btn btn-lg btn-success btn-block" value="Reset Password" type="submit">
                    </form>
                    <a [routerLink]="['/login']" class="text-success mt-4" style="text-transform: uppercase;">Login</a>
                </div>
            </div>
        </div>
    </header>