<ion-header>
    <ion-navbar>
        <button ion-button menuToggle class="colorWhite">
            <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
        </button>
        <ion-title>Rating</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-item>
            <ion-label>Review Setting</ion-label>
            <ion-toggle [(ngModel)]="settingTrue" (ionChange)="notify($event)" color="secondary"></ion-toggle>
        </ion-item>
    </ion-row>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-row *ngIf = "currentCustomer" class="rowClass">
        <form role="form" [formGroup]="ratingForm" (ngSubmit)="rateRestro()" class="width100">
            <div class="displayFlex margin3">
                <span *ngFor = "let x of ratingArray; let i=index; ">
                    <span class="showStar_{{x}}" (click)="removeRating(x)" style="display: none;">
                        <ion-icon name="star" ios="ios-star" md="md-star" color = "danger"></ion-icon>
                    </span>
                    <span (click)="addRating(x)" class="hideStar_{{x}}">
                        <ion-icon name="star-outline" ios="ios-star-outline" md="md-star-outline"></ion-icon>
                    </span>
                </span>

                <span class="width100"><button class="submitRating" float-right ion-button color="secondary" [disabled]="checkDisable()">Submit</button></span>
            </div>
            <input class="inputReview margin3" type="text" name="" formControlName = "review" placeholder="Review...">
        </form>        
    </ion-row> -->

    <ion-row class="margin4" *ngIf = "rating && rating.length > 0">
        <ion-col col-12 text-right>
            <span *ngFor = "let x of ratingArray; let i=index; ">
                <span *ngIf = "i < rating.avgRating">
                    <ion-icon name="star" ios="ios-star" md="md-star" color = "danger"></ion-icon>
                </span>
                <span *ngIf = "i >= rating.avgRating">
                    <ion-icon name="star-outline" ios="ios-star-outline" md="md-star-outline"></ion-icon>
                </span>
            </span>
        </ion-col>
        <ion-col col-12 no-padding *ngFor = "let ratng of rating">
            <ion-card>

                <ion-item>
                    <ion-avatar item-start *ngIf = "ratng.customerId">
                        <img *ngIf = "!ratng.customerId.image" src="assets/img/profile.png">
                        <img *ngIf = "ratng.customerId.image" [src]="imageURL + ratng.customerId.image">
                    </ion-avatar>
                    <h4>{{ratng.review}}</h4>
                    <div *ngIf = "ratng.customerId" class="customerName">
                        <span text-right float-right>-{{ratng.customerId.firstname}} {{ratng.customerId.lastname}}</span>
                        <span float-left text-left>
                            <span *ngFor = "let x of ratingArray; let i=index; ">
                                <span *ngIf = "i < ratng.rating">
                                    <ion-icon name="star" ios="ios-star" md="md-star" color = "danger"></ion-icon>
                                </span>
                                <span *ngIf = "i >= ratng.rating">
                                    <ion-icon name="star-outline" ios="ios-star-outline" md="md-star-outline"></ion-icon>
                                </span>
                            </span>
                            
                        </span>
                    </div>
                </ion-item>
            </ion-card>
        </ion-col>
    </ion-row>

</ion-content>
