.fontWeight{
	font-weight: 600;
}

.activationDetail div{
	min-height: 20px !important;
}

#forthSection div.secondDiv input , #fifthSection div.secondDiv input, #sixthSection div.secondDiv input {
    border-radius: 0 !important;
    height: 40px !important;
}

#forthSection div.secondDiv  div.formField , #fifthSection div.secondDiv  div.formField , #sixthSection div.secondDiv  div.formField {
	padding: 15px;
}

.minheight585 {
    background-color: #E9E9E8;
    min-height: 585px;
}

.formatingProfile{
	width: 60%;
	padding: 0;
	box-shadow: 0 1px 6px rgba(0,1,1,.35);
	background: white;
	margin-top: 10%;
	margin-bottom: 10%;
}

.numberingInCircle{
	position: absolute;
	background-color: #999;
	border-radius: 13px;
	width: 26px;
	height: 26px;
	text-align: center;
	color: #fff;
	padding: 3px 0 0 3px;
}