page-messagedetail{
	.borderClass{
		height : 60px;
		border : 2px solid white;
	}
	.width100{
		width : 100%;
	}

	.margin1{
		margin : 1% 4%;
	}

	.toolbar-title img{
	    border-radius: 50%;
	}

	.toolbar-title-wp img , .toolbar-title-md img{
	    max-width : 50% !important;
	}

	.toolbar-title .senderName{
        padding: 7px 0;
	}

	.bcColor{
	    width: 100%;
	    color: white;
	    padding: 6px 0;
	    border-radius: 2px;
	}

	.sendRow{
	    bottom: 0;
	    position: fixed;
	    width : 100%;
	    background: white;
        margin-bottom: 12%;
	}

	.messageBox{
		padding: 10px;
	    border-radius: 10px 0;
	}

	.height70{
		height : 70%;
	}

	.marginBottom15{
		padding-bottom : 40px;
	}
}