<ion-header>
    <ion-navbar>
        <ion-title>Messages</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

        <ion-row class="borderClass" *ngFor="let message of unreadMessages" (click)="selectChat(message)" [ngStyle]="background(message.unreadMessage)">
            <ion-col col-2>
                <img [src]="senderPic(message.id.profilePic)">
            </ion-col>
            <ion-col col-9 no-padding>
                <ion-row>
                    <ion-col col-12 class="paddingBottom0"><b>{{message.id.firstname}}</b> <span *ngIf = "message.unreadMessage > 0" class="unreadMsgLength" float-right>{{message.unreadMessage}}</span></ion-col>
                    <ion-col col-12 no-padding class="paddingClass" *ngIf="message.messages[message.messages.length-1].message.length > 70">{{message.messages[message.messages.length-1].message.substr(0,70)}}...</ion-col>

                    <ion-col col-12 no-padding class="paddingClass" *ngIf="message.messages[message.messages.length-1].message.length <=70 ">{{message.messages[message.messages.length-1].message}}</ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-1 class="forwardIconCol">
                <ion-icon name="arrow-forward" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
            </ion-col>
        </ion-row>

</ion-content>
