<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-row>
                <ion-col col-3 text-right><img [src]="senderPic(message.id.profilePic)"></ion-col>
                <ion-col class="senderName" text-capitalize>{{message.id.firstname}}</ion-col>
            </ion-row>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-row *ngIf = "customerInfo" class="marginBottom15">
        <ion-row *ngFor = "let msg of message.messages" class="width100 margin1">
            <ion-col class="messageBox" col-9 [ngStyle]="senderORreceiver(msg)">
                {{msg.message}}
            </ion-col>
        </ion-row>

        <div id="focusRow" tabindex="-1"></div>

        <!-- <ion-input #input type="text" placeholder="..." autofocus></ion-input> -->


        <!-- <ion-row id="focusRow" autofocus></ion-row> -->
    </ion-row>

    <ion-row class="sendRow">
        <ion-col col-9>
            <textarea id="message" class="width100 height70" [(ngModel)]="currentMsg"></textarea>
        </ion-col>
        <ion-col><button class="bcColor height70" (click)="sendMessage()">Send</button></ion-col>
    </ion-row>


</ion-content>
