// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.leftNav .leftNavHeading button .item-inner{
	margin-left: 12px !important;
	border : none !important;
}

.leftNav .leftNavHeading button {
	border : none !important;
	background : #EEEEEE;
}

.leftNav{
	background : #EEEEEE;
}

.restaurantLogo{
	padding : 20% 25% 10% 25%;
    text-align: -webkit-center;
}

.restaurantLogo div{
    border: 4px solid black;
    padding: 10%;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: Freestyle Script;
    font-size: x-large;
}

.width100{
    width : 100%;
}

.colorWhite{
    color : white;
}

.colorGreen{
    color : #8DD15D;
}

.fontWeight600{
    font-weight : 600;
}

.positionAbsolute{
    position: absolute;
}

.padding0px15px{
    padding : 0 15px;
}

.floatRight{
    float : right;
}