<app-reporting-nav></app-reporting-nav>

<div  class="col-lg-9 col-md-9 col-sm-9 col-xs-9 minheight585">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 3%">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color: white; background-color:#737373;min-height: 20px;padding: 19px; ">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Id</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Fulfillment Time</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Type</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">Client</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Total</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Status</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Detail</div>
		</div>
		<div  *ngFor="let order of orders" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: white;min-height: 20px;padding: 19px;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{order._id.substr(18,6)}}</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{order.created_at | date :'medium'}}</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"> <div *ngIf="order.orderMethod">{{order.orderMethod.mType}}</div></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">{{order.customerId.firstname}} {{order.customerId.lastname}}</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{order.gTotal.toFixed(2)}}</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{order.status}}</div>
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><a [routerLink]="['/owner/reports/detail',order._id]">Detail</a></div>
		</div>
	</div>

</div>