<app-reporting-nav></app-reporting-nav>

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 minheight585">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 3%;color: white;">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #52B8CC;padding: 5%;">
				<h1 *ngIf="overview.totalAcceptedOrder">{{overview.totalAcceptedOrder.length}}</h1>Total Accepted Orders
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #4CABBE;padding: 2%;">
				<div class="col-lg-6 col-mdd-6 col-sm-6 col-xs-6 pull-left"><b>USD {{acceptedOrderTotal}}</b></div>
				<div class="col-lg-6 col-mdd-6 col-sm-6 col-xs-6 pull-left">USD average order {{avgAcceptedOrderTotal}}</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #52B8CC;padding: 5%;">
				<h1 *ngIf="overview.asPerDayOrder">{{overview.asPerDayOrder.length}}</h1>Order Accepted in last 7 Days
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #4CABBE;padding: 2%;">
				<div class="col-lg-6 col-mdd-6 col-sm-6 col-xs-6 pull-left"><b>USD {{lastWeekOrderTotal}}</b></div>
				<div class="col-lg-6 col-mdd-6 col-sm-6 col-xs-6 pull-left">USD average order {{avglastWeekOrderTotal}}</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #505977;padding: 5%;">
				<h1 *ngIf="overview.totalClient">{{overview.totalClient.length}}</h1>Total Clients
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 3%; margin-top: 3%;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: #505977;padding: 5%;">
				<h1 *ngIf="overview.asPerDayClient">{{overview.asPerDayClient.length}}</h1>Clients In Last 7 Days
			</div>
		</div>
	</div>
</div>