<app-reporting-nav></app-reporting-nav>

<div style="margin-left: 25%;background-color: #E9E9E8;height: 655px;">
	<div class="col-lg-12" style="padding: 3%">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well" style="color: white; background-color:#737373 ">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				Number of Menus sold in Last {{this.selectedTime}} Days
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
			    <select [ngModel]="selectedTime" (ngModelChange)="onChangeObj($event)"  style="color: white; background-color:#737373">
			    	<option *ngFor="let i of timeValue" [ngValue]="i.name">{{i.name}} Days</option>
				</select>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well" style="background: white;">
			<canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
            </canvas>
		</div>
	</div>

</div>