<app-reporting-nav></app-reporting-nav>

<div style="margin-left: 25%;background-color: #E9E9E8;height: 655px;">
	<div class="col-lg-12" style="padding: 3%">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well" style="color: white; background-color:#737373 ">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				Number of Items sold per day in Last {{this.selectedTime}} Days
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
				<select [(ngModel)]="menuName" #menuData (change)="changeMenu(menuData.value)" style="color: white; background-color:#737373">
			    	<option *ngFor="let name of menu" [value]="name._id">{{name.name}}</option>
			    </select>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			    <select [ngModel]="selectedTime" (ngModelChange)="onChangeObj($event)"  style="color: white; background-color:#737373">
			    	<option *ngFor="let i of timeValue" [ngValue]="i.name">{{i.name}} Days</option>
				</select>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 well" style="background: white;">
			<canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
            </canvas>
		</div>
	</div>

</div>