 <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: black; border-color: black;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a [routerLink]="['/admin/dashboard']" class="navbar-brand">Speed Dating</a>
    </div>

    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">       
            <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle" role="button" aria-haspopup="true"><i class="fa fa-user"></i> {{currentUser.username}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a [routerLink]="['/admin/profile']"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a [routerLink]="['/admin/changepassword/', currentUser._id ]"><i class="fa fa-fw fa-user"></i> Change Password</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a [routerLink]="['/admin/login']"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>                
            </ul>
        </li>
    </ul>

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a [routerLink]="['/admin/dashboard']"><i class="fa fa-fw fa-dashboard"></i> Dashboard </a>
            </li>
            <li>
                <a [routerLink]="['/admin/users']"> <i class="fa fa-fw fa-user"></i> Admin </a>
            </li>
            <li>
                <a [routerLink]="['/admin/customer/list']"><i class="fa fa-fw fa-users"></i> Users </a>
            </li>
            <li>
                <a [routerLink]="['/admin/package/list']"><i class="fa fa-calendar-o" aria-hidden="true"></i> Package</a>
            </li>                      
            <li>
                <a [routerLink]="['/admin/banner/list']"><i class="fa fa-picture-o" aria-hidden="true"></i> Banner </a>
            </li>
            <li>
                <a [routerLink]="['/admin/bannersetting/list']"><i class="fa fa-cogs" aria-hidden="true"></i> Banner Setting </a>
            </li>
            <li>
                <a [routerLink]="['/admin/page/list']"><i class="fa fa-book" aria-hidden="true"></i> Pages </a>
            </li>
            <li>
                <a [routerLink]="['/admin/country/list']"><i class="fa fa-flag" aria-hidden="true"></i> Country </a>
            </li>  

        </ul>
    </div>
    </div>

    <!-- /.navbar-collapse -->
</nav>
