<div class="continue" *ngIf = "showFlag">Please wait and don't refresh the page</div>

<div class="backend-loader-preloader-wrapper"><div class="backend-loader-preloader"></div></div>

<div class="orderPlaced" *ngIf = "order && order.status == 'Accepted'">THANK You :)<br>Order Placed Successfully</div>

<div class="orderRejected" *ngIf = "order && order.status == 'Rejected'">Sorry :( <br>Order Rejected</div>

<div class="orderMissed" style="display: none;">Sorry :( <br>Order Missed <span class="fontSize24">Please try again</span></div>

<div class="continue cursorPointer" style="display: none;"><a [routerLink]="['/frontend', restaurants._id]">Continue...</a> </div>