<div class="container-fluid topNav1">
	<div class="kitchenName col-lg-8 col-md-8 col-sm-8">
		<h3><strong>{{restaurants.name}}</strong></h3>
	</div>
	<div class="sideMenu col-lg-4 col-md-4 col-sm-4">
		<a class="col-lg-3 col-md-3 col-sm-3 links" [routerLink]="['/frontend', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-cutlery" aria-hidden="true"></i></a>

		<a class="col-lg-3 col-md-3 col-sm-3 links"  [routerLink]="['/frontend-detail', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
		
		<a class="col-lg-3 col-md-3 col-sm-3 links"  [routerLink]="['/frontend-cart', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
		
		<a class="col-lg-3 col-md-3 col-sm-3 links" *ngIf="!currentCustomer" [routerLink]="['/login', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}" ><i class="fa fa-user" aria-hidden="true"></i></a>
        
        <a class="col-lg-3 col-md-3 col-sm-3 links" *ngIf='currentCustomer' [routerLink]="['/frontend', ids]" (click)="logout()" style="padding-left:1%;"><h5>{{currentCustomer.firstname}}<span><i class="fa fa-power-off"></i></span></h5></a>
	</div>
</div>
