<div class="container-fluid topNav1">
	<div class="kitchenName col-lg-10 col-md-10">
		<h3><strong>{{restaurants.name}}</strong></h3>
	</div>
	<div class="sideMenu col-lg-2 col-md-2">
<!-- 		<div class="col-lg-4 col-md-4"> -->
			<a class="col-lg-4 col-md-4 links" [routerLink]="['/frontend', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-cutlery" aria-hidden="true"></i>
			</a>
<!-- 		</div>
		<div class="col-lg-4 col-md-4"> -->
			<a class="col-lg-4 col-md-4 links" [routerLink]="['/frontend-detail', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
<!-- 		</div>
		<div class="col-lg-4 col-md-4"> -->
			<a class="col-lg-4 col-md-4 links" [routerLink]="['/frontend-cart', ids]" routerLinkActive="selected" [routerLinkActiveOptions]="{id: ids}"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
<!-- 		</div> -->
	</div>
</div>
