<app-frontendheader [ids]="restaurants._id"></app-frontendheader>

<div *ngIf="totalOrder">
	<div class="cartLength" *ngIf="totalOrder.length > 0">{{totalOrder.length}}
	</div>
</div>

<div class="container-fluid topNavImage" [ngStyle]="{'background-image': 'url(' + imageURL + restaurants.image + ')'}">
</div>

<div class="deal-list">
	<div>
		<div class="deal-special">
			<div class="deal-special-background"></div>
			<div class="deal">
				<div class="deal-details">
					<div class="deal-title"> Buy one, get one free
						<div class="deal-description">
						</div>
					</div>
				</div>
			</div>
			<div class="deal-conditions">For example: Buy a main dish and get the second for free. <span class=""></span>
			</div>
		</div>
	</div>
</div>

<div *ngIf="resTime.status != 'open'" style="background: rgba(0, 0, 0, 0.68);top: 0px;position: fixed; color: white; width: 100%; text-align: center; height: 100%;padding: 25%;font-weight: 600;">
	<div><img src="./assets/images/sad-face.png" width="40%"></div>
	<div><h1 style="font-weight: 700;">CLOSED!!</h1></div>
	<div><h4 style="font-weight: 700;">Come Back between</h4></div>
	<div><h5 style="font-weight: 700;">{{resTime.open}} and {{resTime.close}}</h5></div>
</div>

<div class="container-fluid menuDetail">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let menu of menus" [style.z-index]="getStyle()">
		<div *ngIf="!menu.isHidden" [style.display]="checkMenuItemShow(menu)">
			<h3><strong>{{menu.name}}</strong></h3>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="padding: 0;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;" *ngFor="let item of items">
					<div *ngIf="item.menuId == menu._id" class="subMenuItem col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!item.isHidden"  [style.display]="checkMenuItemShow(item)" style="height:70px;">
							<a class="col-lg-12 col-md-12 col-sm-12 col-xs-12" href="javascript:void(0)" (click)="showDetail(item,item.multisize[0] )" style="height: inherit;">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style=" padding: 2%;margin-bottom: 2%;">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;" *ngIf="item.image"><img src="{{imageURL}}{{item.image}}" style="width: inherit;"></div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;" *ngIf="!item.image"><img src="../assets/images/itemimage.gif" style="width: inherit;"></div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="padding: 0; height: inherit;">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;"><h5><strong>{{item.name}}</strong></h5></div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0;">{{item.description}}</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding: 0; height: inherit;"><h5><strong>{{item.price}}</strong></h5></div>
							</a>


							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 itemDetailDiv" [style.display]="showDiv(item._id)">
								<button class="hideDetailDiv" type="button"  (click) = "hideDiv()" >
									<span aria-hidden="true">&times;</span>
								</button>

								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pos-header">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{item.description}}</div>
									<!-- item size -->
									<div class="sizeDetail col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf = "item.multisize.length > 0">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h5><span>Size (Required)</span></h5></div>
										<form>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sizeOption" *ngFor = "let multisizes of item.multisize; let i = index;" >
												<div *ngIf="i == 0">
													<input type="radio" (click)="multiSizePriceInfo(multisizes)" [name]="'optnButton'+item._id" checked="checked" [attr.id]="'Location_' + item._id + '_' + multisizes._id">
												</div>
												<div *ngIf="i != 0">
													<input type="radio" (click)="multiSizePriceInfo(multisizes)" [name]="'optnButton'+item._id" [attr.id]="'Location_' + item._id + '_' + multisizes._id">
												</div>
												<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{multisizes.size}}</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 sizePrice pull-right">{{multisizes.price}}</div>
											</div>
										</form>
									</div>
									<!-- item size end-->

									<!-- items addOns -->
									<div class="addOnsDetail col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf = "item.options">
										<div class="" *ngFor = "let group of addOns">
											<div *ngIf = "item.options.indexOf(group._id) > -1">
												<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">{{group.name}}</div>
												<div class="subAddOn" *ngIf = "group.subaddon">
													<div class="subAddOnDetail col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor = "let detail of group.subaddon">
														<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 subAddOnDetailList" #addonDetail [attr.data-addon]="'check'" [attr.id]="'Location_' + item._id + '_' + detail._id" (click)="addonPriceInfo(detail,addonDetail)" >
															{{detail.name}}<span class="pull-right">{{detail.price}}</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- items addOns end-->

									<!-- item special Instruction -->
									<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 specialInstruction">
										<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">Special Instructions</div>
										<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="padding:0;">
											<textarea placeholder="Example: No pepper / sugar/ salt please..." style=" width: 100%;border-color: #ccc;"  [attr.id]="'Location_' + item._id + '_specialInstruction'"></textarea>
										</div>
									</div>
									<!-- items special Instruction end-->

									<!-- items quantity -->
									<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 quantityDetail">
										<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12">Quantity</div>
										<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 fillQuantity">
											<div class=" form-group">
												<input type="text" name="quantity" class="form-control" [value]="quantity" min="1" max="10"  [attr.id]="'Location_' + item._id + '_count'">
												<div class="cnt-input-buttons">
													<button class="cnt-input-decrease" id="minus" (click)="quantityDecrement()">
														<i class=" fa fa-minus" ></i>
													</button>
													<button class="cnt-input-increase"  id="plus" (click)="quantityIncrement()">
														<i class=" fa fa-plus"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
									<!-- items quantity end-->
								</div>

								<div class="pos-footer">
									<div class="pos-footer-shadow"></div>
									<div class="pos-footer-inner" (click)="addToCart()">
										<button class="orderButton" >
											<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 btn btn-action-primary checkout-button">
												<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
													<div class="checkout-button">{{finalPrice}}</div>
												</div>
												<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 checkout-button-separator"></div>
												<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 checkout-button-label">Add to cart</div>
											</div>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 menuImage" [ngStyle]="{'background-image': 'url(' + imageURL + menu.image + ')'}" style="z-index: -1;" *ngIf="menu.image">
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 menuImage" style="z-index: -1; background-image: url('../assets/images/menu.jpg');" *ngIf="!menu.image">
			</div>
		</div>
	</div>
</div>
