<app-frontendheader [ids]="restaurants._id"></app-frontendheader>

<div *ngIf="cart.length">
	<div class="cartLength" *ngIf="cart.length > 0">{{cart.length}}
	</div>
</div>

<div *ngIf="resTime.status != 'open'" style="background: rgba(0, 0, 0, 0.68);top: 0px;position: fixed; color: white; width: 100%; text-align: center; height: 100%;padding: 25%;font-weight: 600;"  [style.z-index]="getStyle()">
	<div><img src="./assets/images/sad-face.png" width="40%"></div>
	<div><h1 style="font-weight: 700;">{{'CLOSED' | translate}}!!</h1></div>
	<div><h4 style="font-weight: 700;">{{'Opens'|translate}} {{'between'|translate}}</h4></div>
	<div><h5 style="font-weight: 700;">{{resTime.open}} and {{resTime.close}}</h5></div>
</div>

<div class="container-fluid cartDiv" id="cartDetailDiv" style="background-color: rgba(128, 128, 128, 0.16) !important;" >
	<div *ngIf="currentCustomer">
		<div class="minOrder btn saveButton" style="width: inherit;left: 34%;cursor: context-menu;" *ngIf="amount > grandTotal">
			<div>{{'Minimum' | translate}} {{'Order' | translate}} {{'at' | translate}} {{'Your' | translate}} {{'Location' | translate}} : {{amount}}</div>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 leftCartDetail" style="padding: 0;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left" *ngIf="!currentCustomer">
				<div class="col-lg-12 col-md-12 col-sm-12" style="padding:0;"> 
					<div class="btn saveButton" [routerLink]="['/login', restaurants._id]" >{{'Login' | translate}}/{{'Signup' | translate}}</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12" style="padding:0; " >
					<div class="btn saveButton" [routerLink]="['/login',restaurants._id]" [queryParams]="{ show: '' }">{{'Continue' | translate}} {{'as' | translate}} {{'Guest' | translate}}</div>
				</div>
			</div>

			<div class="pull-left col-lg-12 col-md-12 col-sm-12 col-xs-12 fillDetail" *ngIf="currentCustomer">
				<div class="contactDetail col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: white; border: 1px solid rgba(128, 128, 128, 0.39);">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
							<span>
								<strong><h5><i class="fa fa-user" aria-hidden="true"></i> &nbsp; {{'CONTACT ' | translate}}</h5></strong>
							</span>
						</div>
						<div class="" *ngIf="showHideContactDetail" (click)="changeShowDetailStatus()">
							<span class="label label-default pointer">{{'Cancel' | translate}}</span>
						</div>
					</div>
					<div class="addContactDetail col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="showHideContactDetail">
						<form role="form" [formGroup]="detailForm" (ngSubmit)="saveDetailInfo()">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
								<input type="text " formControlName="firstname" class="form-control" name="" placeholder="First Name *" value="">
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 form-group">
								<input type="text " formControlName="lastname" class="form-control" name="" placeholder="Last Name *" value="">
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
								<input type="email" formControlName="email"  class="form-control" name="" placeholder="Email *">
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
								<input type="text " formControlName="phonenumber" class="form-control" name="" placeholder="Telephone *" value="" >
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 10px;">
								<button type="submit" class="btn saveButton" [disabled]="!detailForm.valid">{{'Save' | translate}}</button>
							</div>
						</form>
					</div>
					<div class="editCustomer" *ngIf = "!showHideContactDetail">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 customerDetail">
							{{currentCustomer.firstname}} {{currentCustomer.lastname}}<br>
							{{currentCustomer.email}}<br>
							{{currentCustomer.phonenumber}}
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 editButton" (click)="changeShowDetailStatus()" *ngIf="!showHideContactDetail">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="orderingMethod col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: white;border: 1px solid rgba(128, 128, 128, 0.39);">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
							<span>
								<strong><h5><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; {{'ORDERING' | translate}} {{'METHOD' | translate}}</h5></strong>
							</span>
						</div>
						<div class="" *ngIf="showHideOrderingMethod" (click)="changeShowOrderingStatus()">
							<span class="label label-default pointer">Cancel</span>
						</div>
					</div>
					<div *ngIf="!editOrderMethod">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!showHideOrderingMethod" (click)="changeShowOrderingStatus()">
							<div class="btn btn-default pointer" style="width: 100%;padding: 4%">
								<span><strong><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;{{'Select' | translate}} {{'Order' | translate}} {{'Type' | translate}}</strong></span>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showHideOrderingMethod">
							<div *ngIf="addressClicked">
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.pickup">
									<input type="radio" name="order" id="pickup" value="" (click)="addressButton('pickup')" [checked]="this.orderMethod.mType == 'Pickup'">  {{'pickup' | translate}}
								</div>
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf = "delivery.length > 0">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0 0 10px 0;">
										<input type="radio"  name="order" id="delivery"  value="" (click)="addressButton('delivery')" [checked]="this.orderMethod.mType == 'Delivery'">{{'delivery' | translate}}
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="this.orderMethod.mType == 'Delivery'" (click)="addressInfo()">
										<div class="btn btn-default pointer" style="width: 100%;padding: 4%"><span><strong><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;{{'Add' | translate}} {{'your' | translate}} {{'address' | translate}}</strong></span>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 10px;" >
									<button type="submit" class="btn saveButton" [disabled]="!this.deliveryAddress" (click)="pickupOnly()">{{'Save' | translate}}</button>
								</div>
							</div>
							<form role="form" [formGroup]="addressForm" (ngSubmit)="saveAddressInfo()" *ngIf="!addressClicked">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
										<input type="text" name="" formControlName="streetName" class="form-control" placeholder="Street Name & Number *">
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
										<input type="text" name="" formControlName="city" class="form-control" placeholder="Town or City Area *">
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
										<input type="text" name="" formControlName="postcode" class="form-control" placeholder="Postcode *">
									</div>
								</div>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 10px;">
									<button type="submit" class="btn saveButton" [disabled]="!addressForm.valid">Save</button>
								</div>
							</form>
						</div>
					</div>
					<div class="editOrderMethod" *ngIf="editOrderMethod">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 orderMethodDetail">
							<div *ngIf="orderMethod.mType == 'Pickup'">{{orderMethod.mType}}</div>
							<div *ngIf="orderMethod.mType == 'Delivery'">
								{{orderMethod.mType}}<br>
								{{orderMethod.streetName}} ,{{orderMethod.city}}<br>
								{{orderMethod.postcode}}
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 editButton" (click)="editOrder()">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="chooseTime col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: white;border: 1px solid rgba(128, 128, 128, 0.39);">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
							<span>
								<strong><h5><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; {{'CHOOSE' | translate}} A {{'TIME' | translate}}</h5></strong>
							</span>
						</div>
						<div class="" *ngIf="showHideTime" (click)="changeShowTimingStatus()">
							<span class="label label-default pointer">{{'Cancel' | translate}}</span>
						</div>
					</div>
					<div *ngIf="!editTimeMethod">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!showHideTime" (click)="changeShowTimingStatus()" >
							<div class="btn btn-default" style="width: 100%;padding: 4%">
								<span><strong><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;{{'Add' | translate}} a {{'time' | translate}}</strong></span>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showHideTime">
							<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer">
								<input type="radio" name="time" value="" id="now" (click)="setTime('now')" [checked]="this.orderTime.tType == 'Now'">{{'Now' | translate}}
							</div>
							<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 laterSelect pointer">
								<input type="radio" name="time" value="" id="later"  (click)="setTime('later')" [checked]="this.orderTime.tType == 'Later'">Later
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="delLater">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-container">
										<select [(ngModel)]="day" class="order-later-day form-control"  style="width: 100%;"> 
											<!-- <option [ngValue]="-1">Select</option> -->
											<option *ngFor="let n of days" [ngValue]="n.day">{{n.day}}</option>
										</select>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 select-container">
										<select [(ngModel)]="time" class="order-later-time form-control" name="latertime" style="width: 100%;">
											<!-- <option [ngValue]="-1">Select</option> -->
											<option *ngFor="let n of times" [ngValue]="n.time">{{n.time}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 10px;">
								<button type="submit" class="btn saveButton" (click)="saveTimeInfo()" [disabled]="!this.flagForTime">{{'Save' | translate}}</button>
							</div>
						</div>
					</div>
					<div class="editTimeMethod" *ngIf = "editTimeMethod">
						<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 orderTimeDetail">
							<div *ngIf="orderTime.tType == 'Now'">
								{{orderTime.tType}}
							</div>
							<div *ngIf="orderTime.tType == 'Later'">
								{{orderTime.day}} {{orderTime.time}}
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 editButton" (click)="editTime()">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
					</div>
				</div>

				<div class="paymentMethod col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background: white;border: 1px solid rgba(128, 128, 128, 0.39);">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
							<span>
								<strong><h5><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; {{'PAYMENT' | translate}} {{'METHOD' | translate}} </h5></strong>
							</span>
						</div>
						<div class="" *ngIf="showHidePaymentMethod" (click)="changeShowPaymentStatus()">
							<span class="label label-default pointer">{{'Cancel' | translate}}</span>
						</div>
					</div>
					<div *ngIf="!editPaymentMethod">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="!showHidePaymentMethod" (click)="changeShowPaymentStatus()">
							<div class="btn btn-default" style="width: 100%;padding: 4%">
								<span><strong><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;{{'Select' | translate}} {{'Payment' | translate}} {{'Method' | translate}}</strong></span>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="showHidePaymentMethod">
							<div *ngIf="this.orderMethod.mType == 'Pickup'">
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 col- pointer" *ngIf="restaurants.paymentpickup.cash">
									<input type="radio" value="" name="paymentpickup" id="cash" (click)="paymentOption('cash')" [checked]="this.orderPayment.cash == true">{{'Cash' | translate}}
								</div>
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.paymentpickup.cardpickup">
									<input type="radio" value="" name="paymentpickup" id="cardInHand"  (click)="paymentOption('cardInHand')" [checked]="this.orderPayment.cardpickup == true">{{'Card' | translate}} {{'at' | translate}} {{'Pickup' | translate}}
								</div>
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.paymentpickup.cardinternet">
									<input type="radio" value="" name="paymentpickup" id="cardInternet" (click)="paymentOption('cardInternet')" [checked]="this.orderPayment.cardinternet == true">{{'Card' | translate}} {{'via' | translate}} {{'Internet' | translate}}
								</div>
							</div>
							<div *ngIf="this.orderMethod.mType == 'Delivery'">
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.paymentdelivery.cash">
									<input type="radio" value="" name="paymentdelivery" id="cash" (click)="paymentOption('cash')" [checked]="this.orderPayment.cash == true">{{'Cash' | translate}}
								</div>
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.paymentdelivery.cardpickup">
									<input type="radio" value="" name="paymentdelivery" id="cardInHand"  (click)="paymentOption('cardInHand')" [checked]="this.orderPayment.cardpickup == true">{{'Card' | translate}} {{'at' | translate}} {{'Delivery' | translate}}
								</div>
								<div class="checkbox1 col-lg-12 col-md-12 col-sm-12 col-xs-12 pointer" *ngIf="restaurants.paymentdelivery.cardinternet">
									<input type="radio" value="" name="paymentdelivery" id="cardInternet" (click)="paymentOption('cardInternet')" [checked]="this.orderPayment.cardinternet == true">{{'Card' | translate}} {{'via' | translate}} {{'Internet' | translate}}
								</div>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; margin-top: 10px;">
								<button type="submit" class="btn saveButton" (click)="savePaymentInfo()" [disabled]="this.flagForPayment!=true">{{'Save' | translate}}</button>
							</div>
						</div>
					</div>
					<div class="editPaymentMethod" *ngIf="editPaymentMethod">
						<div class="col-lg-8 col-md-8 col-sm-8 orderPaymentDetail">
							<div *ngIf="orderPayment.cash == true">
								{{'Cash' | translate}}
							</div>
							<div *ngIf="orderPayment.cardpickup == true">
								{{'Card' | translate}} {{'Pickup' | translate}}
							</div>
							<div *ngIf="orderPayment.cardinternet == true">
								{{'Card' | translate}} {{'via' | translate}} {{'Internet' | translate}}
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 editButton" (click)="editPayment()">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 rightCartDetail" style="padding: 0;">
			<div class="pull-right col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-header well well-sm">
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cart-header-quantity">{{'Quantity' | translate}}</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 cart-header-name">{{'Item' | translate}}</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cart-header-price">{{'Price' | translate}}</div>
				</div>
				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; background: white;border: 1px solid rgba(128, 128, 128, 0.39);">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-items" *ngIf="cart">
						<div *ngIf="cart.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-empty" style="text-align: center; font-weight: 700;">{{'Cart' | translate}} {{'is' | translate}} {{'empty' | translate}}
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="cart.length > 0" >
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngFor="let crt of cart; let i = index" style="padding:0;">
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cart-price"><span>{{crt.quantity}}x</span></div>
								<div class="col-lg-8 col-md-8 col-sm-8">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 cart-item-name">{{crt.item.name}}</div>
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 cart-item-option">
										<div *ngIf="crt.multisize">
											<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{crt.multisize.size}}</div>
											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">(+{{crt.multisize.price}})</div>
										</div>
										<div *ngIf="crt.addon">
											<div *ngFor="let adn of crt.addon">
												<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">{{adn.name}}</div>
												<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">(+{{adn.price}})</div>
											</div>
										</div>
									</div>
									<div class="cart-item-instructions"></div>
								</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 cart-price ng-binding">{{crt.totalPrice}}</div>
								<div class="label cart-item-remove" style="position: absolute;padding:0;">
									<a href="javascript:void(0)" (click)="deleteCart(i)"><i class="fa fa-trash"></i></a>
									<span class="glf-loader"><div class="glf-loader-circle"></div></span>
								</div>
								<br>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cart-footer">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sub-total">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pull-left">{{'Sub' | translate}} {{'Total' | translate}}</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
								<div>
									{{grandTotal}}
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 deliveryFee">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pull-left">{{'DeliveryFee' | translate}}</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
								<div>
									{{deliveryFee}}
								</div>
							</div>
						</div>
						<div *ngIf="cart.length > 0" >
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tax" *ngIf="restaurants.taxation">
								<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pull-left">{{restaurants.taxation.name}}</div>
								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">{{restaurants.taxation.taxpercent}} %</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 grand-total">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 pull-left"><h4>{{'Total' | translate}}</h4></div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right"><h4>{{grandTotalWithTax |number : '1.2-2'}}</h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer container-fluid">
		<div class="pull-right footerButton">
			<button class="btn saveButton" style="padding: 15px 20px;text-align: justify;" [disabled]="this.all==false" (click)="placeOrder()">
				<div style="display: -webkit-inline-box;">
					<div class="total">
						<span>{{'Total' | translate}}</span><br>
						<span>{{grandTotalWithTax | number : '1.2-2'}}</span>
					</div>
					<div class="button-separator" style="width: 1px; margin: -15px 15px;    background: linear-gradient(to bottom,rgba(0,0,0,0)0,rgba(0,0,0,.15)49.76%,rgba(0,0,0,.15)50.24%,rgba(0,0,0,0)100%);"></div>
					<div>
						<div class="">{{'Place' | translate}} {{'Delivery' | translate}} {{'Order' | translate}} {{'Now' | translate}}</div>
					</div>
				</div>
			</button>
		</div>
	</footer>
</div>

<div class="profile col-lg-12 col-md-12 col-sm-12 col-xs-12" id="paymentDiv" style="background: rgba(255, 255, 255, 0.87);padding: 10% 20%;position: absolute;margin: 0;top: 0;">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; box-shadow: 0 1px 6px rgba(0,1,1,.35);background: white;">
		<form [formGroup]="makePaymentModel" (ngSubmit)="makePayment()">
			<div class="firstDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: 0 -1px 0 #d5d5d3, inset 0 1px 0 rgba(0, 0, 0, .04);">  
				<span class="">Make Payment : {{this.cartDetail.gTotal}}</span>
				<a href="javascript:void(0);" (click)="showCartDiv()" style="float: right;text-decoration: underline !important;">Cancle</a>
			</div>
			<div class="secondDiv col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-shadow: 0 -1px 0 #d5d5d3, inset 0 1px 0 rgba(0, 0, 0, .04);">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Card Number </div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="" class="form-control" formControlName = "cardNumber" placeholder="Enter Card Number"></div>
					<div *ngIf="formErrors.cardNumber" class="alert alert-danger">
                       {{ formErrors.cardNumber }}
                    </div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Expiry Month</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<select class="form-control" formControlName = "month">
							<option *ngFor="let month of months">{{month}}</option>
						</select>
						<!-- <input type="text" name="" class="form-control" formControlName = "month" placeholder="Expiry Month">-->
						</div> 
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Expiry Year</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<select class="form-control" formControlName = "year">
								<option *ngFor="let year of years">{{year}}</option>
							</select>
						<!-- <input type="text" name="" class="form-control" formControlName = "year" placeholder="Expiry Year"> -->
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> CVV </div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="" class="form-control" formControlName = "cvv" placeholder="CVV"></div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="currentCustomer">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Name on Card </div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" name="" value="{{currentCustomer.firstname}} {{currentCustomer.lastname}}" class="form-control">
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-next" value="Make Payment" [disabled]="!makePaymentModel.valid" />
		</form>
	</div>
</div>

<div id="gmap" style="display: none;"></div>
