<nav class="topNav navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header col-lg-3 col-md-3 col-sm-3 col-xs-3">
			<h1 class="restaurant-name"><b>LOGO</b></h1>
		</div>
		<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
			<ul class="topLinks nav navbar-nav col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<li><a [routerLink]="['/owner/basic-detail']">SETUP</a></li>
				<li><a [routerLink]="['/owner/reports/overview']">REPORTS</a></li>
				<li><a [routerLink]="['/owner/marketing/promotions']">MARKETING</a></li>
			</ul>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div class="dropdown">
			  	<button class="dropbtn">{{currentOwner.username}} <i class="fa fa-caret-down"></i></button>
			  	<div class="dropdown-content" style="z-index: 4;">
			    	<a [routerLink]="['/owner/profile']" ><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;My Profile</a>
			    	<a [routerLink]="['/owner/change-password']"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;&nbsp;Password Change</a>
			    	<a [routerLink]="['/owner/login/']" (click)="signOut()"><i class="fa  fa-power-off"></i>&nbsp;&nbsp;Sign Out</a>
			  	</div>
			</div>
		</div>
	</div>
</nav>

<div class="leftMenu col-lg-3 col-md-3 col-sm-3 col-xs-3" style="z-index: 1;">
	<ul class="list-group list-group-flush leftMenuUl">
		<li class="list-group-item">
			{{restaurants.name}} ({{restaurants.resCode}})
		</li>
		<li class="list-group-item" data-toggle="collapse" data-target="#basic-option">
			<i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Restaurant Basics
		</li>
		<div id="basic-option" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/basic-detail']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Name & Address</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-location']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Location</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-cuisine']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Cuisine selector</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-confirm']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Account Confirmation</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
		<li class="list-group-item" data-toggle="collapse" data-target="#service">
			<span class="fa fa-fw fa-clock-o"></span>&nbsp;&nbsp;&nbsp;&nbsp;Services & Opening Hours
		</li>
		<div id="service" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/restaurant-pickup']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Pickup</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-deliveryzone']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Delivery</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-openinghours']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Opening Hours</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-orderforlater']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Order for Later</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
		<li class="list-group-item" data-toggle="collapse" data-target="#paymentTaxes">
			<b >%</b>&nbsp;&nbsp;&nbsp;&nbsp;Payment & Taxes
		</li>
		<div id="paymentTaxes" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/restaurant-taxation']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Taxation</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/restaurant-paymentoption']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Payment Option</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>

		<li class="list-group-item" data-toggle="collapse" data-target="#orders">
			<span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;&nbsp;&nbsp;Menu Setup
		</li>
		<div id="orders" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/menu-list']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Menu setup</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>


		<li class="list-group-item" data-toggle="collapse" data-target="#drivers">
			<i class="fa fa-car" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp; Drivers
		</li>
		<div id="drivers" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/drivers']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Driver</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>

		<li class="list-group-item" data-toggle="collapse" data-target="#publishing">
			<span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;&nbsp;&nbsp;Publishing
		</li>
		<div id="publishing" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/legacy']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Legacy Website</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>

		<li class="list-group-item" data-toggle="collapse" data-target="#online-payment">
			<i class="fa fa-credit-card-alt" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Online Payment
		</li>
		<div id="online-payment" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/online-payment']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Online Payment</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>

		<li class="list-group-item" data-toggle="collapse" data-target="#setting">
			<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;&nbsp;Advanced Settings
		</li>
		<div id="setting" class="collapse" [routerLinkActive]="['in']">
			<ul class="option-menu">
				<li class="list-group-item" [routerLink]="['/owner/notification']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Notification</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/custom-message']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Custom Message</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/supported-languages']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Supported Languages</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
				<li class="list-group-item" [routerLink]="['/owner/delivery-outside']" [routerLinkActive]="['selected']">
					<a>&#x27A5;&nbsp;&nbsp;&nbsp;&nbsp;Orders outside delivery area</a>
					<i class="fa fa-check" aria-hidden="true"></i>
				</li>
			</ul>
		</div>
	</ul>
</div>