<div class="sidebar" data-color="green" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo"><a [routerLink]="['/admin/dashboard']" class="simple-text">Admin Panel - Trade</a></div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/dashboard']">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>            
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/user/']">
                    <i class="material-icons">perm_identity</i>
                    <p>Users</p>
                </a>
            </li>           
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/plan/']">
                    <i class="material-icons">business_center</i>
                    <p>Membership Plans</p>
                </a>
            </li>
            <li [routerLinkActive]="['active']">
                <a [routerLink]="['/admin/exchange/']">
                    <i class="material-icons">business_center</i>
                    <p>Exchange Accounts</p>
                </a>
            </li>
            <li>
                <a [routerLink]="['/admin/profile/']">
                    <i class="material-icons">person</i>
                    <p>Profile</p>
                </a>
            </li>
            <li class="active active-pro">
                <a href="javascript:void(0)" (click)="onLogoutClick()" >
                    <i class="material-icons">power_settings_new</i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>