<!--
  Generated template for the VideocallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style type="text/css">
div {  width: 100%;  }  
   .video_height{
    min-height: 480px;
   } 
    .modelcontentcustom{

        border: 0px !important;
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;

    }

   div {  
    width: 100%;  
  }  
   .video_height{
    min-height: 480px;
   } 

   .navbar-inverse{
     margin-bottom: 0px;
   }
   .msgHistory_msgvideo::-webkit-scrollbar {
    width: 12px;
}

.msgHistory_msgvideo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.msgHistory_msgvideo::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white; 
}

 #subscriberContainer{ position: absolute; height: 100%; padding: 0px 0px; } 
 #subscriberContainer.large { width: 640px; height: 480px; }
 #subscriberContainer.small{ width:100px; height: 100px; }
 @media screen and (max-width: 650px) 
 {
  #subscriberContainer{
   width: 89px; height: 50px; 
  }

  }


/* Live List*/

  #msgviewport{
    height: 300px;
    background: transparent;
    position: absolute;
    bottom: -27px;
    padding-left: 0px;
    padding-right: 0px;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


/* The Modal (background) */
.modalb {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 52px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        border-radius: 0px;
}

/* Modal Content */
.modalb-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;   
    width: 97%;
    height: calc(100% - (67px));
    box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeb {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeb:hover,
.closeb:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalb-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modalb-body {padding: 2px 16px;}

.modalb-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.mybv{
  padding-left: 20px;
  padding-right: 10px;
}
.pull-rightr{
  text-align: right;
}
.myconnect{
  padding: 30px;
}
.new_process{
  text-align: center;
}

.new_processv{
margin-right: 10px;
}
.contain-list{
  min-height: 500px;margin-right: 0px; margin-left: 0px;
}
.input-grop{
  margin-left: -15px; padding-bottom: 10px;
}


/*All Profile*/

.newmainconainer {min-height: 700px;}

.mypackw{
    color:#4285f4; 
    background: white; 
    border: 1px solid #4285f4;
    }



/*Live Now*/

  #msgviewport{
    height: 300px;
    background: transparent;
    position: absolute;
    bottom: -27px;
    padding-left: 14px;
    padding-right: 14px;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


    /*Video Call*/


      #msgviewportv{
    height: 500px;
    background: transparent;
    position: absolute;
    bottom: -27px;
    padding-left: 14px;
    padding-right: 14px;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


    /*Page show*/

    .title-show1 {padding-bottom: 10px; border-bottom: 1px solid lightgrey; text-transform: capitalize;    }

    .namecls{
        font-size: 12px;
    }


   
[class*='closep-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}


.closep-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* Dialog */

.dialogg {
  background: #ddd;
  
  border-radius: 5px;
  float: right;
  width: 411px;
  height: 100px;
  margin: 20px;
  position: relative;
  
  
}

/* Container */


.containerad:after {
  content: '';
  display: block;
  clear: both;
}
.imgadv{
 width: 411px;
 height: 100px;
}

.modalb-content11{
    width:500px;
    height: 300px;
}

.msgHistory_msglive{
    min-height: 220px; max-height: 221px; overflow-y: hidden; font-size: 16px; color:white;
}

.msgHistory_msgvideo{
    min-height: 220px; max-height: 221px; overflow-y: scroll; font-size: 16px; color:white;
}
.panelselected{
    background-color: rgba(221, 221, 221, 0.59);
}
.navbar{
    margin-bottom: 0px !important;
}

.myPanelHeading{
 padding:0px !important;
 }
 ul#menu {
 margin-bottom: 0px !important;
 padding-left: 0px !important;
 }
 ul#menu li {
 display:inline;
 padding: 8px; 
 }
 .myPanelBody{
  padding:5px !important;
 }

 .panel-body.myPanelBody.myBoxHeading {
  background: rgba(0, 0, 0, 0.41);
  position: absolute;
  bottom: 52px;
  color: #fff;
  width: 139px; 
 }

 .panel-body.myPanelBody.myBoxHeading > p
 {
 margin-bottom:0px !important;}
 .text-online {
 color: #8cde8e;
 }
 .img-responsivenot
 {
    width: 139px;
    height: 141px;

 }
 .newvideocls{
    text-align: center;
 }
 div#subscriberContainer> div.OT_subscriber {
    height: 100% !important;
}
.OT_publisher, .OT_subscriber {
    position: absolute !important;
}
.OT_publisher{
    z-index: 1;
}
#publisherContainer{
    position: absolute;
    z-index: 10;
}
#subscriberContainer {
    padding-top: 0px !important;
}

.publisherContainerp1{
	position: absolute;
}

</style>


<ion-header> 
  <ion-navbar>
    <ion-title>Video Call</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

<div class="mainContainer" style="padding-top: 60px; box-shadow:none; height: calc(100% - (38px)); position: relative;">
	<div id="videos"  class="video_height">

       <div id="publisherContainer" class="publisherContainerp1">

       </div> 
       <div id="subscriberContainer">

       </div>
        <div id="mybannerimage" class="containerad pull-right" style="float:right;">
            <div class="dialogg" *ngIf="bannerImg">
              <a href="javascript:void(0)" class="closep-thik" (click)="closeviImage()"></a>
              <img class="imgadv" src="{{url}}{{bannerImg.path}}" />
          </div>
        </div>
       <div id="msgviewport">
      <!-- <img src="" width="400px" height="200px" /> -->
      <form id="textChatForm">           
      <div id="msgHistory" class="msgHistory_msgvideo"></div>
          <div class="disbtn" style="margin-top: 5px;">
             <a class="btn btn-danger" (click)="disconnectcall()"> Disconnect </a>
         </div>	
         <div class="input-group">
             <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi" placeholder="Type your message here..."  (keyup.enter)="sendMessageOnCall(textMsg.value)" style="color:black; height: 42px;padding: 3px" >
             <span class="input-group-btn">
                 <button class="btn btn-warning btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)">Send</button>
             </span>
         </div>
     </form>
 </div>
</div> 
</div>
</ion-content>


<!-- The Modal -->
<div id="myModalbanner" class="modal">
  <!-- Modal content -->
  <div class="modal-content modelcontentcustom"> 

    <div class="modal-body">
       <div id="newvideo" class="newvideocls" *ngIf="bannervideo">    
         <video id="myVideo" width="520" height="440" autoplay="autoplay">
           <source id="" src="{{url}}{{bannervideo.path}}" type="video/mp4">
           </video>
       </div>
      <!--  <div class="text-center"><a  class="btn btn-danger" (click)="disconnectcall()"> Disconnect </a></div> -->
   </div>

</div>
</div>