// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.side>.scroll-content {
    background: #2f2f2f;
}

.side>.item-ios {
    color: #fff !important;
    background-color: #2f2f2f !important;
}

.menu1>.item-ios,
.menu1>.item-md {
    background: #2f2f2f !important;
    color: #fff !important;
}

.whiteSpaceInitial{
    white-space: initial;
}

ion-content {
    background: #f1ecec;
}

ion-card-header {
    background: rgba(224, 224, 224, 0.76) !important;
}

.card-content-ios {
    padding-top: 10px !important;
}

.card-header-md+.card-content-md,
.card-md .item+.card-content-md {
    padding-top: 10px !important;
}

.content-md {
    color: #000;
    background-color: #F1ECEC !important;
}

.content-ios {
    color: #000;
    background-color: #F1ECEC !important;
}

.sideLink.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #dedede;
}

.sideLink.item-ios.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 0px solid #c8c7cc;
}

.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
    border-bottom: 0px solid #c8c7cc !important;
}

.list-ios>.item-block:first-child {
    border-top: 0px solid #c8c7cc !important;
}
.width100{
 width: 100%;   
}
















.action-sheet-container button.action-sheet-button{
    padding: 1px 6px !important;
    min-height: 3.6rem !important;
    font-size: 1.5rem !important;
}