<!-- <ion-header>
	<ion-navbar>
	  	<button ion-button menuToggle class="colorWhite">
	        <ion-icon name="menu" ios="ios-menu" md="md-menu"></ion-icon>
	    </button>
	    <ion-title>Hot Deals</ion-title>
	</ion-navbar>
</ion-header>


<ion-content  *ngIf = "restroPromotions" class="card-background-page">
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngFor = "let promo of restroPromotions" [ngStyle]="{'background-image': 'url(' + imageURL + promo.image + ')'}">
        <div class="card-title positionAbsolute fontWeight500">{{promo.promoname}}</div>
        <div class="card-description positionAbsolute">{{promo.description}}</div>
        <div class="card-getNow positionAbsolute" *ngIf="promo.discountOn != null" (click)="getDeal(promo)">Get it now</div>
        <div class="card-promoCode positionAbsolute" *ngIf="promo.discountOn == null">{{promo.couponcode.code}}</div>
    </ion-list>

</ion-content> -->