<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    
    <ion-card>
        <ion-card-content style="background-color: #52B8CC;color: white;">
            <h1 *ngIf="overview.totalAcceptedOrder" style="color: white;">{{overview.totalAcceptedOrder.length}}</h1>
            Total Accepted Orders
            <ion-row style="background-color: #4CABBE;padding: 2%; ">
                <ion-col col-6><b>USD {{acceptedOrderTotal|number : '1.2-2'}}</b></ion-col>
                <ion-col col-6><b>USD average order {{avgAcceptedOrderTotal|number : '1.2-2'}}</b></ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content style="background-color: #52B8CC; color: white;">
            <h1 *ngIf="overview.asPerDayOrder"  style="color: white;">{{overview.asPerDayOrder.length}}</h1>Order Accepted in last 7 Days
            <ion-row style="background-color: #4CABBE;padding: 2%;">
                <ion-col col-6><b>USD {{lastWeekOrderTotal|number : '1.2-2'}}</b></ion-col>
                <ion-col col-6><b>USD average order {{avglastWeekOrderTotal|number : '1.2-2'}}</b></ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content style="background-color: #505977;color: white;">
            <h1 *ngIf="overview.totalClient"  style="color: white;">{{overview.totalClient.length}}</h1>Total Clients
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content style="background-color: #505977;color: white;">
            <h1 *ngIf="overview.asPerDayClient" style="color: white;">{{overview.asPerDayClient.length}}</h1>Clients In Last 7 Days
        </ion-card-content>
    </ion-card>
</ion-content>
