<div class="wrapper customWrapper">
	<app-admin-sidebar></app-admin-sidebar>
	<div class="main-panel">
		<app-admin-header></app-admin-header>
        <div class="content paddingTopBottom0">
            <div class="container-fluid">
            	<div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header brandingColor">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Customer</p>
                                <h3 class="title" *ngIf="customers">{{customers.length}}</h3>
                                <h3 class="title" *ngIf="!customers">0</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/customer/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header brandingColor">
                                <i class="material-icons">supervisor_account</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Staff</p>
                                <h3 class="title" *ngIf="staffs">{{staffs.length}}</h3>
                                <h3 class="title" *ngIf="!staffs">0</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/staff/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header brandingColor">
                                <i class="material-icons">business_center</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Plan</p>
                                <h3 class="title" *ngIf="plans">{{plans.length}}</h3>
                                <h3 class="title" *ngIf="!plans">0</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <a [routerLink]="['/admin/plan/']">Get More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>