page-customerdetail{
	ion-content{
		background-color : #EEEEEE !important;
	}

	.customerImage{
		height : 270px;
	}
	
	.custDetail{
		position: absolute;
	    top: 216px;
	    background: rgba(0, 0, 0, 0.5);
	    font-size: 18px;
	}

	.bottomIcon img{
	    width: 20px !important;
	    margin-top: 3px;
	}

	.font36{
	    font-size: 25px;
	}

	.white{
		color : white !important;
	}

	.height10{
		height : 10px;
	}

	.basicDetail{
		border: 1px solid #c8c8c8;
	}

	.bgWhite{
		background : white;
	}

	.whiteButton{
		color : white;
	}

	.ulIcon{
	    width: 100%;
	    list-style: none;
	    display: inline-flex;
	    padding : 0 !important;
	}

	.ulIcon li ion-icon{
		font-size: 30px;
	    padding: 0 30px;
	}

	.ulIcon span{
        display: inline-flex;
	}

}