<style type="text/css">

      .modelcontentcustom{
      border: 0px !important;
      background-color: rgba(255, 255, 255, 0) !important;
      box-shadow: none !important;
      }
      
      .msgHistory_msgvideo::-webkit-scrollbar {
      width: 12px;
      }

      .msgHistory_msgvideo::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px white; 
      border-radius: 10px;
      }

      .msgHistory_msgvideo::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px white; 
      }

      #subscriberContainer{ position: absolute; height: 100%; padding: 0px 0px; } 
      #subscriberContainer.large { width: 640px; height: 480px; }
      #subscriberContainer.small{ width:100px; height: 100px; }
      @media screen and (max-width: 650px) 
      {
      #subscriberContainer{
      width: 89px; height: 50px; 
      }
      }

      /* Live List*/
      #msgviewport{
      height: 300px;
      background: transparent;
      position: absolute;
      bottom: -27px;
      padding-left: 0px;
      padding-right: 0px;
      }   
      .inputsi 
      {
      padding: 3px;
      }   
      #btn-chat{
      padding: 11px;
      }
      .disbtn{
      text-align: right;
      margin-bottom: 5px;
      }


/* Extra Time copy to video Call css*/


    .modelcontentcustom{

        border: 0px !important;
        background-color: rgba(255, 255, 255, 0) !important;
        box-shadow: none !important;

    }

   #subscriberContainer {  
    width: 100%;  
  }  
   .video_height{
      min-height: 480px;
      height: calc(100vh - 56px); 
      height: -webkit-calc(100vh - 56px); 
      height: -moz-calc(100vh - 56px);  
      } 

   .navbar-inverse{
     margin-bottom: 0px;
   }
   .msgHistory_msgvideo::-webkit-scrollbar {
    width: 12px;
}

.msgHistory_msgvideo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.msgHistory_msgvideo::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px white; 
    word-wrap: break-word;
}


   .msgHistory_msgvideo::-moz-scrollbar {
    width: 12px;
}

.msgHistory_msgvideo::-moz-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px white; 
    border-radius: 10px;
}

.msgHistory_msgvideo::-moz-scrollbar-thumb {
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 6px white; 
    word-wrap: break-word;
}

 #subscriberContainer{ position: absolute; height: 100%; padding: 0px 0px; } 
 #subscriberContainer.large { width: 640px; height: 480px; }
 #subscriberContainer.small{ width:100px; height: 100px; }
 @media screen and (max-width: 650px) 
 {
  #subscriberContainer{
   width: 89px; height: 50px; 
  }

  }


/* Live List*/

  #msgviewport{
    height: 200px;
    background: transparent;
    position: absolute;
    bottom: -47px;
    padding-left: 0px;
    padding-right: 0px;
    width:100%;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


/* The Modal (background) */
.modalb {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 52px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        border-radius: 0px;
}

/* Modal Content */
.modalb-content {
    position: relative;
    background-color: transparent;
    margin: auto;
    padding: 0;   
    width: 97%;
    height: calc(100% - (67px));
    box-shadow: 0 7px 9px -4px rgba(0,0,0,.2), 0 14px 21px 2px rgba(0,0,0,.14), 0 5px 26px 4px rgba(0,0,0,.12);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeb {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeb:hover,
.closeb:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalb-header {
    padding: 2px 16px;
    background-color: white;
    color: black;
}

.modalb-body {padding: 2px 16px;}

.modalb-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.mybv{
  padding-left: 20px;
  padding-right: 10px;
}
.pull-rightr{
  text-align: right;
}
.myconnect{
  padding: 30px;
}
.new_process{
  text-align: center;
}

.new_processv{
margin-right: 10px;
}
.contain-list{
  min-height: 500px;margin-right: 0px; margin-left: 0px;
}
.input-grop{
  margin-left: -15px; padding-bottom: 10px;
}


/*All Profile*/

.newmainconainer {min-height: 700px;}

.mypackw{
    color:#4285f4; 
    background: white; 
    border: 1px solid #4285f4;
    }

/*Live Now*/

  #msgviewport{
    height: 200px;
    background: transparent;
    position: absolute;
    bottom: -47px;
    padding-left: 14px;
    padding-right: 14px;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


    /*Video Call*/


      #msgviewportv{
    height: 200px;
    background: transparent;
    position: absolute;
    bottom: -43px;
    padding-left: 14px;
    padding-right: 14px;
    }   
    .inputsi 
    {
           padding: 3px;
    }   
    #btn-chat{
        padding: 11px;
    }
    .disbtn{
       text-align: right;
       margin-bottom: 5px;
    }


    /*Page show*/

    .title-show1 {padding-bottom: 10px; border-bottom: 1px solid lightgrey; text-transform: capitalize;    }

    .namecls{
        font-size: 12px;
    }


   
[class*='closep-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}


.closep-thik:after {
  content: '✖'; /* UTF-8 symbol */
}

/* Dialog */

.dialogg {
  background: #ddd; 
  width: 700px;
  height: 100px;
  margin:auto;
  margin-bottom: 20px;
  position: relative;
  
  
}

/* Container */


.containerad:after {
  content: '';
  display: block;
  clear: both;
}
.imgadv{
 width: 100%;
 height: 100px;
}

.modalb-content11{
    width:500px;
    height: 300px;
}

.msgHistory_msglive{
    min-height: 220px; max-height: 221px; overflow-y: hidden; font-size: 16px; color:white;
}

.msgHistory_msgvideo{
    max-width: 340px;
    min-height: 355px;
    max-height: 355px; 
    overflow-y: scroll; 
    font-size: 16px; 
    color:white;
    word-wrap: break-word;
    -webkit-box-shadow: 1px -2px 28px 14px rgba(82,82,112,1);
    -moz-box-shadow: 1px -2px 28px 14px rgba(82,82,112,1);
    box-shadow: 0px -2px 10px 1px rgb(23, 21, 21)
}
.panelselected{
    background-color: rgba(221, 221, 221, 0.59);
}
.navbar{
    margin-bottom: 0px !important;
}

.myPanelHeading{
 padding:0px !important;
 }
 ul#menu {
 margin-bottom: 0px !important;
 padding-left: 0px !important;
 }
 ul#menu li {
 display:inline;
 padding: 8px; 
 }
 .myPanelBody{
  padding:5px !important;
 }

 .panel-body.myPanelBody.myBoxHeading {
  background: rgba(0, 0, 0, 0.41);
  position: absolute;
  bottom: 52px;
  color: #fff;
  width: 139px; 
 }

 .panel-body.myPanelBody.myBoxHeading > p
 {
 margin-bottom:0px !important;}
 .text-online {
 color: #8cde8e;
 }
 .img-responsivenot
 {
    width: 139px;
    height: 141px;

 }
 .newvideocls{
    text-align: center;
 }
 div#subscriberContainer> div.OT_subscriber {
    height: 100% !important;
}
.OT_publisher, .OT_subscriber {
    position: absolute !important;
}
.OT_publisher{
    z-index: 1;
}
#subscriberContainer {
    padding-top: 0px !important;
}

.paddingl0{
 padding-left: 0px;
}
.paddinglr0{
 padding-left: 0px;
 padding-right: 0px;
}
.chat-textad{
  word-wrap: break-word;
  width: 315px;
}
.relativeclass1{
  position: relative;
  height: calc(100vh - 69px);
  width: 100%;
}
.relativeclass2{
  position: absolute;
  bottom: 0;
}

.tips-msg{
background: #d53369; /* fallback for old browsers */ background: -webkit-linear-gradient(to left, #cbad6d, #d53369); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to left, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.relativeclass3{
position: absolute;
right: 0;
top: 5px;
}
.minimizes {
  display: none !important;
}

/* video-call.css */

.paddingl0{
 padding-left: 0px;
}
.paddinglr0{
 padding-left: 0px;
 padding-right: 0px;
}
.chat-textad{
  word-wrap: break-word;
  width: 315px;
}
.relativeclass1{
  position: relative;
  height: calc(100vh - 69px);
  width: 100%;
}
.relativeclass2{
  position: absolute;
  bottom: 0;
}

.tips-msg{
background: #d53369; /* fallback for old browsers */ background: -webkit-linear-gradient(to left, #cbad6d, #d53369); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to left, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.relativeclass3{
position: absolute;
right: 0;
top: 5px;
}
.minimizes {
  display: none !important;
}

.clsf1{
  font-size: 20px;
}

.disconnectcls{
  cursor: pointer;width: 50px;height: 50px;
}

</style>

<app-customer-header></app-customer-header>

<div style="padding-top: 60px;width: 100%;">
  <div class="row" style="margin-right: 0px;">
    <div style="padding-left: 0px;" [ngClass]="screenwidth == 'mini' ? 'col-lg-9' : 'col-lg-12'">
       <div id="subscriberContainer">
       </div>

      <div class="relativeclass1">
       <span class="relativeclass11">
       <button title="Full Screen" type="button" class="btn btn-default btn-sm relativeclass3" id="btn-chat" *ngIf="screenwidth == 'mini'" (click)="fullscreen()"> <i class="icon ion-arrow-expand clsf1" aria-hidden="true"></i> </button>

       <button title="Minimize Screen" type="button" class="btn btn-default btn-sm relativeclass3" id="btn-chat" (click)="fullscreen()" *ngIf="screenwidth != 'mini'"><i class="icon ion-arrow-shrink clsf1" aria-hidden="true"></i></button>
       </span>
      <div class="col-lg-12 relativeclass2 paddinglr0 relativeclass11" style="margin-left:15px;">
             
        <div id="mybannerimage" class="containerad">
            <div class="dialogg" *ngIf="bannerImg">
              <a href="javascript:void(0)" class="closep-thik" (click)="closeviImage()"></a>
              <img class="imgadv" src="{{url}}{{bannerImg.path}}" />
          </div>
        </div>

        <div class="col-lg-12" style="text-align: center; bottom: 13px;">
           <span class="relativeclass11">
        <img id="disconnectspeed" src="https://cdn3.iconfinder.com/data/icons/mobile-functions/154/disconnect-256.png" class="disconnectcls" (click)="disconnectall()" title="Disconnect">

          <img class="disconnectcls" *ngIf="!banneropen" (click)="next()" src="http://www.clker.com/cliparts/e/W/V/j/4/F/icon-next-blue-light-braun-hi.png" style="margin-left: 15px;" title="Search Next">

          <img class="disconnectcls" *ngIf="banneropen" src="http://www.clker.com/cliparts/e/W/V/j/4/F/icon-next-blue-light-braun-hi.png" style="margin-left: 15px;" title="Search Next">
        
          </span>
        </div>      
     </div>
    </div>

    </div>
    <div class="col-lg-3 paddinglr0" [ngClass]="screenwidth == 'mini' ? '' : 'minimizes'">
       <div class="col-lg-12 paddinglr0">
      <div id="publisherContainer" class="publisherContainerp1">
       </div>
     </div>
       <div class="col-lg-12 paddinglr0 relativeclass11">
       <div class="msgHistory_msgvideo messages" Id="emsgHistory_msgvideo" >
        <ul class="messages" id="msgHistory" style="padding: 10px;">
        </ul> 
       </div>
       </div>  
      <div class="col-lg-12 paddingl0 relativeclass11" style="width: 340px; padding-bottom: 2px;">
      <form id="textChatForm" >
       <div class="input-group" style="width:340px;">         
         <input id="btn-input" #textMsg type="text" class="form-control input-sm inputsi" placeholder="Type your message here..."  (keyup.enter)="sendMessageOnCall(textMsg.value)" style="color:black; height: 42px;padding: 3px;" [readonly]="banneropen" >
        <span class="input-group-btn">
        <button title="Send Message" type="button" class="btn btn-success btn-sm" id="btn-chat" (click)="sendMessageOnCall(textMsg.value)"><i class="fa fa-paper-plane"></i></button>

        </span>
        </div> 
      </form>      
    </div>    
    </div>    
  </div>
</div>

<!-- The Modal -->
<div id="process" class="modal">
  <!-- Modal content -->
  <div class="modal-content modelcontentcustom"> 

    <div class="modal-body">
       <div id="newvideo" class="newvideocls" style="margin-top:150px;">    
        <i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
       </div>
   </div>

</div>
</div>


<!-- The Modal -->
<div id="myModalbanner" class="modal" style="bottom: 78px;">
  <!-- Modal content -->
  <div class="modal-content modelcontentcustom">
    <div class="modal-body">
       <div id="newvideo" class="newvideocls" *ngIf="bannervideo">    
         <video id="myVideo" width="520" height="440" autoplay="autoplay">
           <source id="" src="{{url}}{{bannervideo.path}}" type="video/mp4">
           </video>
       </div>
   </div>
</div>
</div>
