page-messages{

	.unreadMsgLength{
	    border-radius: 8px;
	    padding: 0 2%;
	    background: #e65100;
	    color: white;
	    font-size: 12px;
	}

	.borderClass{
		min-height : 60px;
		border : 2px solid white;
	}

	.borderClass img{
		height : 45px;
	}

	.borderClass .forwardIconCol{
	    padding: 20px 8px;
	}

	.borderClass .forwardIconCol ion-icon{
	    font-weight: 600;
	}

	.paddingClass{
		padding : 0 5px;
	    font-size: 12px;
	}

	.paddingBottom0{
		padding-bottom : 0;
	}



}