<ion-header>
  <ion-navbar>
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf = "currentCustomer">
    <ion-row class="colorWhite bcColor customerDetail">
        <ion-item class="bcColor">
            <ion-avatar item-start>
                <img [src]="customerImage(currentCustomer.image)">
            </ion-avatar>
            <h2>{{currentCustomer.username}}</h2>
            <h2 *ngIf = "!currentCustomer.username">{{currentCustomer.username}}</h2>
            <div>
                <span class="editProfile" (click)="goToUpdateProfile()"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon></span>
                <span class="setting" (click)="goToSettingPage()"><ion-icon name="settings" ios="ios-settings" md="md-settings"></ion-icon></span>
            </div>
        </ion-item>
    </ion-row>
    <ion-row class="padding6-12">
        <ion-col no-padding col-12 padding-bottom>Profile Complete : {{currentCustomer.profileCompletePercent}} %</ion-col>
        <ion-col no-padding col-12 class="profile100">
            <div  class="profilePercent" [style.width] = "currentCustomer.profileCompletePercent + '%'"></div>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center col-12 class="headingMyPhotos">Gallery</ion-col>
    </ion-row>
    <ion-segment [(ngModel)]="gallery">
        <ion-segment-button value="myPhotos">
            My Photos
        </ion-segment-button>
        <ion-segment-button value="profileVideo">
            My Video
        </ion-segment-button>
        <ion-segment-button value="videoLinks">
            Video Links
        </ion-segment-button>
    </ion-segment>

    <div class="gallery" [ngSwitch]="gallery">
        <ion-list *ngSwitchCase="'myPhotos'">
            <ion-row *ngIf = "currentCustomer.myPhotos">
                <ion-col col-3 text-center class="height60px">
                    <ion-row class="fileContainer">
                        <ion-icon class="addButton" name="add-circle" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                        <input type="file" accept="image/*" name="single" ng2FileSelect [uploader]="uploader" (change)="addMedia($event,'pic')"/>
                    </ion-row>
                </ion-col>
                
                <ion-col col-3 class="height60px" *ngFor = "let pic of currentCustomer.myPhotos; let i = index ">
                    <img src="{{url.imageUrl}}{{pic}}">
                    <span (click)="deleteImage(i)">x</span>
                </ion-col>
            </ion-row>
        </ion-list>

        <ion-list *ngSwitchCase="'profileVideo'">
            <ion-row class="fileContainer">
                <ion-icon class="addButton" name="add-circle" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                <input type="file" accept="video/*" name="single" ng2FileSelect [uploader]="uploader" (change)="addMedia($event,'video')"/>
            </ion-row>

            <ion-row *ngIf = "currentCustomer.profileVideo">
                <ion-col col-12 text-center class="height60px">
                    <!-- <video width="100%" controls>
                        <source src="{{url.imageUrl}}{{currentCustomer.profileVideo}}" type="video/mp4">
                    </video> -->
                    <!-- <video  class="video-player" controls [src]="myProfileVideo(currentCustomer.profileVideo)"></video> -->

                    <video width="400" controls>
                        <source src="{{url.imageUrl}}{{currentCustomer.profileVideo}}" type="video/wmv">
                      Your browser does not support HTML5 video.
                    </video>

                    <span (click)="deleteVideo(i)">x</span>
                </ion-col>
            </ion-row>
        </ion-list>

        <ion-list class="youtubeVideos" *ngSwitchCase="'videoLinks'">
            <ion-row *ngIf = "currentCustomer.videolinks">
                <form role="form" [formGroup]="youtubeUrlForm" (ngSubmit)="addYoutubeVideo()">
                    <ion-row>
                        <ion-col col-12 text-center>
                            Add URL : 
                        </ion-col>
                        <ion-col col-12>
                            <input formControlName = "videoURL" class="form-control" type="text" value="" name="">
                        </ion-col>
                        <ion-col col-12 text-center>
                            <button class="bcColor textWhite padding3-5" [disabled]="!youtubeUrlForm.valid">Add Video</button>
                        </ion-col>
                    </ion-row>
                </form>

                <ion-col class="video-utube" col-12 *ngFor = "let videoLink of currentCustomer.videolinks; let i = index ">
                    <ion-item no-padding>
                        <div class="video-container">
                            <iframe [src]="videoUrl(videoLink)" frameborder="0" width="560" height="315"></iframe>
                        </div>
                    </ion-item>
                    <span (click)="deleteLink(i)">x</span>
                </ion-col>
            </ion-row>
        </ion-list>
    </div>


</ion-content>
