<!--
  Generated template for the PasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<style type="text/css">
::-webkit-input-placeholder {
  color: white !important; 
}
:-moz-placeholder {
  color: white !important; 
}
:-ms-input-placeholder {
  /* IE10+ */
  color: white !important; 
}
</style>


<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="customBackground">

<ion-list>
<form [formGroup]="cpForm" (ngSubmit)="changePassword()">
	<ion-item class="customItem">
	  <ion-input type="password" class="customInput" placeholder="Current Password" formControlName="password"></ion-input>
	</ion-item>
  <ion-row *ngIf="cpFormErrors.password" class="alert alert-danger">
		{{ cpFormErrors.password }}
	</ion-row>
	<ion-item class="customItem">
	  <ion-input type="password" class="customInput" placeholder="New Password" formControlName="newpassword"></ion-input>
	</ion-item>
  <ion-row *ngIf="cpFormErrors.newpassword" class="alert alert-danger">
		{{ cpFormErrors.newpassword }}
	</ion-row>
	<ion-item class="customItem">
	  <ion-input type="password" class="customInput" placeholder="Confirm New Password" formControlName="cnewpassword"></ion-input>
	</ion-item>
  <ion-row *ngIf="cpFormErrors.cnewpassword" class="alert alert-danger">
		{{ cpFormErrors.cnewpassword }}
	</ion-row>
	<button [disabled]="!cpForm.valid" block ion-button class="customButton">Update Password</button>
</form>
<!-- 	<button ion-button style="background-color: transparent;color:white;border-color:white;border:1px solid white;margin-top:20px;height: 35px;font-size: 14px;"  block  (click)="cancelPassword()">Cancel</button> -->
</ion-list>		

</ion-content>
